@charset "UTF-8";

/** global & reset stylish **/
body, textarea, input, button, select, keygen, legend {font-family:helvetica, Microsoft Yahei, verdana, sans-serif; line-height:1.6; font-size:1em;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure{margin:0;padding:0}
body {overflow-y:scroll;}
img {border:none;}
table{border-collapse:collapse;border-spacing:0}
p {margin:1em 0;}
del { color:#b2b2b2; text-decoration:line-through }
footer {clear:both}
label { cursor:pointer; margin-right:0.5em}
label:last-child { margin-right:0; }
label input { margin-right:3px; }
hr {border:2px solid #ddd; border-bottom:none;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; margin:0.5em 0;}
h1 {font-size:3rem;}
h2 {font-size:2.5rem;}
h3 {font-size:2.2rem;}
h4 {font-size:2.0rem;}
h5 {font-size:1.6rem;}

/** element align middle **/
.btn, label, input, button, select {vertical-align:middle;}

/** text **/
input[type=text],
input[type=password],
input[type=search],
input[type=date],
input[type=month],
input[type=datetime],
input[type=time],
input[type=datetime-local],
input[type=number],
input[type=url],
textarea,
input[type=email] {border:1px solid #bbb; border-bottom-color:#ddd; border-right-color:#ddd; border-radius:2px; padding:0.1em 0.5em; box-sizing:border-box}
input[type=number] {text-align:center; width:50px; padding-left:0.25em; padding-right:0.25em;}
input[type=month],
input[type=date] {width:140px; background:url("img/calendar.png") no-repeat 95% center}
input[type=datetime-local] {width:180px; background:url("img/calendar.png") no-repeat 95% center}
input[type=datetime-local][step] {width:210px;}
input[type=date]:hover,
input[type=month]:hover,
input[type=datetime-local]:hover,
input[type=date]:focus,
input[type=month]:focus,
input[type=datetime-local]:focus {background:none;}
input[type=file] {padding:4px;}

/** text glow **/
input[type=text],
input[type=password],
input[type=search],
input[type=date],
input[type=month],
input[type=datetime],
input[type=datetime-local],
input[type=time],
input[type=number],
input[type=url],
textarea,
select,
input[type=email] {
	transition: box-shadow 0.30s ease-in-out;
	outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=time]:focus,
input[type=number]:focus,
input[type=url]:focus,
textarea:focus,
select:focus,
input[type=email]:focus {
	box-shadow: 0 0 10px #ddd;
}

/** text disabled **/
input[type=text][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=date][disabled],
input[type=month][disabled],
input[type=datetime][disabled],
input[type=datetime-local][disabled],
input[type=time][disabled],
input[type=number][disabled],
input[type=url][disabled],
input[type=email][disabled],
textarea[disabled] {border:1px solid #ddd; border-left-color:#ccc; border-top-color:#ccc; background-image:none;}

/** text readonly **/
input[type=text][readonly],
input[type=password][readonly],
input[type=search][readonly],
input[type=date][readonly],
input[type=month][readonly],
input[type=datetime][readonly],
input[type=datetime-local][readonly],
input[type=time][readonly],
input[type=number][readonly],
input[type=url][readonly],
input[type=email][readonly],
textarea[readonly],
.readonly input[type=text],
.readonly input[type=password],
.readonly input[type=search],
.readonly input[type=date],
.readonly input[type=month],
.readonly input[type=datetime],
.readonly input[type=datetime-local],
.readonly input[type=time],
.readonly input[type=number],
.readonly input[type=url],
.readonly input[type=email],
.readonly textarea {border-color:transparent; box-shadow:none; padding-left:0; padding-right:0;}

/** text readonly+disabled **/
input[type=text][readonly][disabled],
input[type=password][readonly][disabled],
input[type=search][readonly][disabled],
input[type=date][readonly][disabled],
input[type=month][readonly][disabled],
input[type=datetime][readonly][disabled],
input[type=datetime-local][readonly][disabled],
input[type=time][readonly][disabled],
input[type=number][readonly][disabled],
input[type=url][readonly][disabled],
input[type=email][readonly][disabled],
textarea[readonly][disabled] {color:inherit; background-color:inherit}

/** button **/
.btn,
button,
input.btn,
[type=button],
[type=reset],
[type=submit] {background:linear-gradient(#f7f7f7,#dddddd); color:#555; white-space:nowrap; text-align:center; border:1px solid #a6a6a6; min-width:50px; border-radius:1px; padding:0.1em 0.5em; cursor:pointer; display:inline-block; user-select:none; transition: all 0.30s ease-in-out;outline: none; box-sizing:border-box;}

.btn:focus,
button:focus,
[type=button]:focus,
[type=reset]:focus,
[type=submit]:focus { box-shadow: 0 0 10px #ccc;}

.btn:hover,
button:hover,
[type=button]:hover,
[type=reset]:hover,
[type=submit]:hover {border-color:gray;}

.btn:active,
button:active,
[type=button]:active,
[type=reset]:active,
[type=submit]:active {background:linear-gradient(#f7f7f7,#eee); }

/** button weak **/
input.btn-weak,
button.btn-weak,
.btn-weak {background-color:#FBFBFB; border-color:#ccc; color:#444;}
input.btn-weak:focus,
button.btn-weak:focus,
.btn-weak:focus { box-shadow: 0 0 10px #E7E7E7; outline-color:#fff}
input.btn-weak:hover,
button.btn-weak:hover,
.btn-weak:hover {background-color:#ddd; color:#333;}

/** button danger **/
.btn-danger {background-color:#F3B580; border:1px solid #EAAC75; color:#ff5500;}
.btn-danger:hover {background-color:#fff; color:#ff5500;}

/** button small **/
input.btn-small,
.btn-small {font-size:0.8rem; padding:0.20rem 0.75rem 0.20rem 0.75rem;}

/** button disabled **/
button[disabled],
[type=button][disabled],
[type=submit][disabled],
[type=reset][disabled],
.btn-disabled {background-color:#eee; border-color:#ccc; color:#bbb; text-shadow:1px 1px 1px white; cursor:default}
.btn-disabled:focus {box-shadow:none; outline:none;}
.btn-disabled:hover {background-color:#eee; color:#bbb;}

/** button readonly **/
.readonly [type=submit],
.readonly [type=reset] {display:none;}

/** button loading **/
input.btn-loading,
input.btn-loading:hover,
body .btn-loading,
body .btn-loading:hover {background-image:url("img/btn-loading.gif"); background-repeat:no-repeat; background-position:center; transition:none; cursor:default;}
body .btn-loading:focus {outline:none;}

.small-btn {display:inline-block; margin:1px 3px; text-shadow:1px 1px 1px #ccc; cursor:pointer; white-space:nowrap; color:#555; vertical-align:middle}
.small-btn:hover {color:black;}
.small-btn:before {content:""; color:gray; padding-right:2px; display:inline-block; font-family:FontAwesome, serif}

.small-add-btn:before,
.small-down-btn:before,
.small-delete-btn:before {font-family:FontAwesome, serif}
.small-add-btn:before {content:"\f067"}
.small-down-btn:before {content:"\f0d7"}
.small-delete-btn:before {content:"\f00d"}

/** select **/
select {border-radius:2px; width:186px; border:1px solid #bbb; border-right-color:#ddd; border-bottom-color:#ddd; padding:0.06rem 0.5rem 0.35rem 0.25rem}
option {padding:0 6px}
select[placeholder="valid"] {color:gray;}
select[placeholder] option,
select[placeholder] optgroup {color:#333;}
select[placeholder] option[value=''] {color:gray;}

/** select disabled + readonly **/
select[disabled] {border:1px solid #ddd; border-left-color:#ccc; border-top-color:#ccc; background-image:none;}
select[readonly],
.readonly select {border-color:transparent; -webkit-appearance:none; background-image:none;}
select[readonly][disabled] {color:inherit; background-color:transparent}

/** checkbox, radio disabled + readonly **/
input[type=checkbox][disabled],
input[type=checkbox][readonly],
input[type=radio][disabled],
input[type=radio][readonly],
.readonly input[type=checkbox],
.readonly input[type=radio] {border:none;}

/** textarea **/
textarea {width:auto; min-width:135px; min-height:27px;}
.code-zebra {padding:.5em; line-height:1.5; background:white; background-size:auto 3em; background-origin:content-box; background-image:linear-gradient(rgba(0,0,0,.03) 50%, transparent 0);}
input.long-txt {width:770px;}
.rich-txt {width:800px; height:400px}
.small-txt {width:400px; height:50px; resize:vertical}

.date-range-wrap {border:1px solid #bbb; border-right-color:#ddd; border-bottom-color:#ddd; border-radius:2px; height:26px; overflow:hidden; display:inline-block; vertical-align:middle;}
.date-range-wrap:after {content:"-"; font-family:serif; font-size:20px; color:#bbb; margin:-3px 0 0 78px;display:block; position:absolute; z-index:1; line-height:28px}
.date-range-wrap .date-txt {border:none;}
.date-range-wrap .date-txt:first-child {background-image:none; float:left; width:70px; padding-right:0; margin-right:15px; text-align:center;}
.date-range-wrap .date-txt:last-child {float:right; padding-left:2px;}

/** 权限控制 **/
[href*="#NOACCESS"],
[data-action*="#NOACCESS"]{display: none !important;}
[action*="#NOACCESS"] input.txt,
[action*="#NOACCESS"] textarea.txt {border-color:transparent; outline:none;}
[action*="#NOACCESS"] input[type=submit],
[action*="#NOACCESS"] .com-uploader-btn,
[action*="#NOACCESS"] .batch-uploader-delete-btn,
[action*="#NOACCESS"] .batch-uploader-add-new,
[action*="#NOACCESS"] .com-uploader-file,
[action*="#NOACCESS"] button[type=submit] {display:none}
[action*="#NOACCESS"] .batch-uploader,
[action*="#NOACCESS"].batch-uploader {background-color:transparent;}
[action*="#NOACCESS"] .batch-uploader li,
[action*="#NOACCESS"].batch-uploader li{border-color:transparent; background-color:transparent; height:100px;}

/** 只读 **/
.readonly .com-uploader-btn,
.readonly .batch-uploader-delete-btn,
.readonly .batch-uploader-add-new,
.readonly .com-uploader-file,
.readonly .small-add-btn,
.readonly .small-delete-btn,
.readonly .batch-uploader,
.readonly.batch-uploader {background-color:transparent;}
.readonly .batch-uploader li,
.readonly.batch-uploader li{border-color:transparent; background-color:transparent; height:100px; margin:0; padding:0;}
.readonly .date-txt,
.readonly .date-time-txt {background-image:none;}

/** form & layout table **/
legend, caption, .caption {font-size:1.4em; width:100%; font-weight:normal; text-align:left; text-transform:capitalize; border-bottom:1px solid #ddd; color:#555; padding:0.5em 0; margin-bottom:0.5em;}
form > fieldset {margin-top:0; border:none;}
fieldset ~ fieldset{margin-top:1.5em;}

/** reset **/
legend .btn, legend .drop-list,
caption .btn, caption .drop-list,
.caption .btn, .caption .drop-list {font-size:1rem;}

.frm-tbl {border-collapse:collapse; border-spacing:0; width:100%; margin-bottom:10px;}
.frm-tbl>tbody>tr>td.col-label,
.frm-tbl>tbody>tr>th {width:60px; text-align:right; white-space:nowrap; vertical-align:top; padding-top:0.5em; padding-left:1em; text-transform:capitalize; font-weight:normal;}
.frm-tbl>tbody>tr>td.col-label label,
.frm-tbl>tbody>tr>th label {margin-right:0}
.frm-tbl>tbody>tr:nth-child(odd) {background-color:#FDFDFD}
.frm-tbl>tbody>tr>td {padding:0.4em 1em; min-height:30px;}
.frm-tbl>tbody>tr>td label {margin-right:7px;}
.frm-tbl td.col-action {padding:1em 1em}
.frm-tbl input[type=submit] {padding:0.3em 1rem}
.frm-tbl .f-captcha input.txt{width:100px;}
.frm-tbl .f-captcha img{vertical-align: middle; cursor:pointer;}
.frm-tbl .f-captcha .change-verify-img{vertical-align: middle;cursor:pointer}

/** input + .trigger **/
.frm-tbl .trigger {color:#ccc;}
.frm-tbl [required] + .trigger:before {content:"*"; color:#ff8794; font-weight:bold; font-size:15px; vertical-align:middle; padding:0 0.25em;}
.frm-tbl [required]:focus + .trigger:before {color:red;}
.frm-tbl [required]:focus + .trigger {color:gray;}

/** tab 组件 ul.tab>li[class=active]>a **/
.tab {border-bottom:1px solid #ccc; margin-top:10px; min-height:33px; clear:both;}
.tab:after {content:""; display:block; clear:both;}
.tab li {float:left; margin:5px 0 -1px 10px; text-align: center; color:gray; cursor:pointer; list-style:none;}
.tab li a {min-width: 60px; color:gray; background-color:#eee; display:inline-block; border-radius:2px 2px 0 0; padding:4px 20px; border:1px solid #ccc;}
.tab li a:hover{background-color:#fff;}
.tab .active a {background-color:#fff; color:black; text-shadow:1px 1px 1px white; border-bottom-color:white}
.tab-content {padding:10px 0;}
.tab-content .disactive {display:none}

/** 数据表格 **/
.data-tbl {width:100%;}
.data-tbl th {text-align:left; line-height:1; font-weight:normal; padding:0.5rem; color:gray; text-transform:capitalize}
.data-tbl td {padding:0.5rem;}
.data-tbl thead tr {border-bottom:1px solid #eee; background-color:rgba(238, 238, 238, 0.2)}
.data-tbl thead th { white-space:nowrap;}
.data-tbl tbody tr {border-bottom:1px dotted #ddd; transition:background-color 0.20s ease-in-out;}
.data-tbl tbody tr:hover,
.data-tbl tbody tr.yc-row-checked {background-color:rgba(238, 238, 238, 0.52)}
.data-tbl tbody tr:last-child {border-bottom:none;}
.data-tbl caption {font-size:16px; text-align:left; text-transform:uppercase; padding:1rem 0; color:gray;;}
.data-tbl .col-min-center {width:20px; white-space:nowrap; text-align:center}
.data-tbl .col-min {width:20px; white-space:nowrap;}
.data-tbl .col-op,
.data-tbl .col-idx,
.data-tbl .col-chk {width:20px; white-space:nowrap; text-align:center}

.grid-data-tbl th,
.grid-data-tbl td {border:1px solid #eee;}

/** 滚动数据表格 **/
.scroll-tbl tbody { display:block; max-height:300px; overflow-y:scroll; overflow-x:hidden;}
.scroll-tbl thead,
.scroll-tbl tbody tr {display:table;width:100%;table-layout:fixed;}
.scroll-tbl thead {width:calc(100% - 7px)}

/** 分页 **/
.pagination {margin:1rem 0; color:#cccccc; text-align:right; display:block;}
.pagination .page_num {color:gray;}
.pagination-0 { visibility:hidden;}
.pagination em,
.pagination span,
.pagination a {display:inline-block; padding:0 7px; font-style:normal}
.pagination a:hover {background-color:#00aeff; color:white;}
.pagination .active {}

/** 表格中的排序 **/
table .order-link {color:#bbb;}
table .order-link:hover,
table .order-link:hover:after{text-decoration:none; color:#00aeff}
table .order-link:after {content:"\f0dc"; font-family:FontAwesome, serif; color:#ccc; margin-left:4px; display:inline-block; vertical-align:middle;}
table .order-link-asc:after {content:"\f0de"; line-height:0; padding-top:5px;}
table .order-link-desc:after {content:"\f0dd"; line-height:0; padding-bottom:6px;}
table .order-link-asc,
table .order-link-desc,
table .order-link-asc:after,
table .order-link-desc:after {color:#00aeff}

/** 状态标签 **/
.state-label {background-color:#83cca7; color:white; white-space:nowrap; text-shadow:1px 1px 1px gray;}
span.state-label {padding:2px 8px; display:inline-block; font-size:10px; border-radius:5px; -webkit-transform:scale(0.9);}
.state-label-disable {background-color:gray;}
.state-label-success {background-color:#83cca7}
.state-label-warn {background-color:#ffc396;}
.state-label-error {background-color:red;}

/** 下拉列表，结构： dl>dt>a+dd>a **/
.drop-list {display:inline-block; vertical-align:middle; position:relative;}
.drop-list a,
.drop-list span {white-space:nowrap; cursor:pointer;}
.drop-list dt {display:block; position:relative; cursor:pointer; padding-right:20px; white-space:nowrap;}
.drop-list dt.btn a {color:white;}
.drop-list dt:after {content:''; display:block; position:absolute; width:0; height:0; border:4px solid transparent; border-top-color:#ccc; right:7px; top:10px;}
.drop-list dt.btn:after {border-top-color:gray; top:13px;}
.drop-list dt.btn-weak:after {border-top-color:gray;}
.drop-list.muloperate-disabled dt:after {border-top-color:#ccc;}
.drop-list.muloperate-disabled dt.btn {color:#ccc; border-color:#ccc; cursor:default}
.drop-list dd {display:none; position:absolute; box-shadow:1px 1px 5px #aaa; padding:5px 0; margin-right:10px; z-index:1; left:0; background-color:rgba(255, 255, 255, 0.95); border-radius:3px; min-width:80px;}
.drop-list dd a,
.drop-list dd span {display:block; padding:3px 10px; border-bottom:1px dotted #eee; text-align:left;}
.drop-list dd a:last-child,
.drop-list dd span:last-child {display:block; padding:3px 10px; border-bottom:none}
.drop-list dd a:hover,
.drop-list dd span:hover {background-color:rgba(226, 237, 255, 0.58); text-shadow:1px 1px 1px white}
.drop-list .sep {display:block; padding:0; height:0; margin:3px 5px; border-top:1px solid #ddd;}
.drop-list-left dd {left:auto; right:0; margin-right:0}
.drop-list:hover dd {display:block;}
.drop-list.muloperate-disabled:hover dd {display:none;}
.drop-list:not(.muloperate-disabled):hover dt:after {border-color:transparent; border-bottom-color:gray; top:5px;}
.drop-list:not(.muloperate-disabled):hover dt.btn:after {top:8px;}
.drop-list:not(.muloperate-disabled):hover dt.btn:after {border-bottom-color:black;}
.drop-list:not(.muloperate-disabled):hover dt.btn-weak:after {border-bottom-color:gray;}

::-webkit-scrollbar {width:12px; height:12px }
::-webkit-scrollbar-button:vertical { display:none }
::-webkit-scrollbar-track:vertical { background-color:black }
::-webkit-scrollbar-track-piece { background:#ffffff }
::-webkit-scrollbar-thumb:vertical { background-color:#8e8e8e; border-radius:5px}
::-webkit-scrollbar-thumb:vertical:hover { background-color:#3b3b3b }
::-webkit-scrollbar-corner:vertical { background-color:#535353 }
::-webkit-scrollbar-thumb:horizontal{ background-color:#8e8e8e; border-radius:5px}
::-webkit-scrollbar-thumb:horizontal:hover { background-color:#3b3b3b }

body ::-webkit-scrollbar {width:7px; height:7px }
body ::-webkit-scrollbar-button:vertical { display:none }
body ::-webkit-scrollbar-track:vertical { background-color:black }
body ::-webkit-scrollbar-track-piece { background:#eee }
body ::-webkit-scrollbar-thumb:vertical { background-color:#8e8e8e; border-radius:5px }
body ::-webkit-scrollbar-thumb:vertical:hover { background-color:#3b3b3b }
body ::-webkit-scrollbar-corner:vertical { background-color:#535353 }
body ::-webkit-scrollbar-thumb:horizontal{ background-color:#8e8e8e; border-radius:5px}
body ::-webkit-scrollbar-thumb:horizontal:hover { background-color:#3b3b3b }

.page-iframe ::-webkit-scrollbar {width:7px; height:7px }
.page-iframe ::-webkit-scrollbar-button:vertical { display:none }
.page-iframe ::-webkit-scrollbar-track:vertical { background-color:black }
.page-iframe ::-webkit-scrollbar-track-piece { background:#eee }
.page-iframe ::-webkit-scrollbar-thumb:vertical { background-color:#8e8e8e; border-radius:5px }
.page-iframe ::-webkit-scrollbar-thumb:vertical:hover { background-color:#3b3b3b }
.page-iframe ::-webkit-scrollbar-corner:vertical { background-color:#535353 }

/** reset highcharts text **/
.highcharts-container text { font-family:Microsoft Yahei, SimSun, Courier new, Tahoma, Lucida Grande, serif;}