#page-not-found {}
.page-not-found { background:url("../img/404.gif") no-repeat 0 0; width:300px; height:200px; padding:0 0 0 309px; margin:100px auto 100px;}
.page-not-found span {font-size:30px; font-weight:normal; color:#333;}
.page-not-found .link {padding-top:20px;}