@charset "UTF-8";

body{
	font-size: 14px;
}
.bias-line-before, .bias-line-after, .img-intro-list li em, .his-node .dot-ico, .ab-dotted-line, .consolp span, .ab-contact .weixin-code, .ab-job-cont em{background: url("../img/ab_group.png") no-repeat;_background: url("../img/ab_group_png8.png") no-repeat;}
/*关于我们首页S*/
.about-banner-bg{
	background: #e0dfce url("../img/ab_banner_bg.jpg?v20150911") center no-repeat;
	height: 385px;
}
.about-banner{
	background: url("../img/ab_banner.jpg") center no-repeat;
	width: 1210px;
	height: 385px;
	margin: 0 auto;
}
.about-banner h2{
	color: #3c3430;
	font-size:32px;
	line-height: 1.4;
	padding: 110px 0 0 660px;
}
.about-banner h2 strong{
	font-size:42px;
	color: #3c3430;
}
.about-banner h3{
	color: #564e4e;
	font-size:18px;
	line-height: 1.4;
	padding-left: 660px;
	padding-top: 10px;
}

.about-nav{
	width: 1210px;
	margin: 0 auto;
	position: relative;
	zoom:1;
	margin-top: 25px;
	font-size: 24px;
	color: #000;
}
.about-nav .ab-nav-tlt{
	text-align: center;
	font-size: 24px;
}
.bias-line-before{
	top: 0;
}
.bias-line-after{
	position: absolute;
	right: 0;
	top: 5px;
}
.bias-line-before, .bias-line-after{
	width:81px;
	height: 9px;
	position: absolute;
	top: 15px;
}
.about-nav-list li{
	float: left;
	width:100px;
	height: 38px;
	line-height: 38px;
	margin-left: 220px;
	display: inline;
	text-align: center;
}
.about-nav-list li a{
	color: #000;
}
.about-nav-list li:hover, .about-nav-list li.active{
	height: 35px;
	color: #000;
	border-bottom: 3px solid #ff5500;
}
.ab-company-intro{
	padding: 80px 0;
}
.ab-company-intro p{
	text-indent: 30px;
	line-height: 1.8;
	color: #8a8a8a;
}
.ab-mod-tlt{
	height: 30px;
	line-height: 30px;
	font-size:24px;
	color: #000;
}
.ab-mod-tlt h3{
	display: inline;
}
.ab-mod-tlt span{
	padding-left: 10px;
	font-size: 14px;
}
.img-intro-list{
	margin-top: 35px;
}
.img-intro-list li{
	float: left;
	width:420px;
	height: 185px;
	margin-right:35px;
	padding-left:150px;
	position: relative;
	zoom:1;
	display: inline;
}
.img-intro-list li h4{
	font-size:18px;
}
.img-intro-list li em{
	position: absolute;
	left: 0;
	top: 0;
	width: 130px;
	height: 130px;
}
.img-intro-list li .img-int-ico1{
	background-position: 0 -11px;
}
.img-intro-list li .img-int-ico2{
	background-position: -131px -11px;
}
.img-intro-list li .img-int-ico3{
	background-position: -262px -11px;
}
.img-intro-list li .img-int-ico4{
	background-position: 0 -142px;
}
.img-intro-list li .img-int-ico5{
	background-position: -131px -142px;
}
.img-intro-list li .img-int-ico6{
	background-position: -262px -142px;
}

.ab-history{
	float: left;
	margin:30px 0 0 35px;
    border-left: 4px solid #e2e2e4;
    padding-left: 15px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
    display: inline;
}
.ab-dotted-line{
	background-position: -496px -94px;
    width:4px;
    height: 75px;
    position: absolute;
    left: -4px;
    bottom: 0;
}
.his-node{
    position: relative;
    padding-bottom: 45px;

    line-height: 1;
}
.his-node span{
	color: #ff5500;
	font-size: 16px;
	display: block;
	height: 15px;
	line-height: 15px;
	margin-top: -10px;
	padding-bottom: 10px;
}
.his-node .dot-ico{
	background-position: -487px 0;
    position: absolute;
    left: -24px;
    top: 0;
    width: 13px;
    height: 13px;
}
.his-node span.main-ft{
	font-size:18px;
	color: #666;
	height: 40px;
	line-height: 40px;
}
.ab-office{
	float: left;
	margin-left: 20px;
	background: url("../img/office.jpg?v20150911");
	width:600px;
	height: 795px;
}
/*关于我们首页E*/

/*加入我们S*/
.ab-joinus{
	margin-top: 100px;
}
.ab-job-cont{
	margin-top: 25px;
}
.ab-job-cont .g-tab{
	border: 0;
}
.ab-job-cont .g-tab li{
	border: 0;
	background: #9498ab;
	margin-right:40px;
	padding: 0 35px;
	position: relative;
	zoom:1;
}
.ab-job-cont .g-tab .active{
	background: #e56a38;
}
.ab-job-cont .g-tab span, .ab-job-cont .g-tab a{
	padding: 0;
	height: 45px;
	line-height: 45px;
	color: #fff;
}
.ab-job-cont .g-tab .active span, .ab-job-cont .g-tab .active a{
	border:0;
}
.ab-job-cont em{
	position: absolute;
	bottom: -7px;
	left: 50%;
	margin-left: -15px;
	width:16px;
	height: 7px;
	background-position: -470px 0;
	display: none;
}
.ab-job-cont .g-tab .active em{
	display: block;
}
.ab-job-cont .g-tab-con{
	min-height:300px;
}
.ab-job-cont .g-tab-con .active{
	border:0;
}
/*加入我们E*/

/*法律声明S*/
.ab-articel-content{
	line-height: 1.8;
	margin-top: 60px;
}
.ab-articel-content p{
	text-indent: 30px;
}
/*法律声明E*/

/*联系我们S*/
.ab-contact{
	margin-top: 90px;
}
.contactus{
	margin-top: 140px;
}
.contact-way{
	float: left;
	width: 590px;
}
.consolp{
	position: relative;
	zoom:1;
	padding-left: 28px;
	margin-top: 20px;
}
.consolp span{
	position: absolute;
	left: 0;
	top: 4px;
	width:19px;
	height: 19px;
}
.consolp .addreico{
	background-position: -481px -14px;
}
.consolp .phoico{
	background-position: -481px -34px;
}
.consolp .emailico{
	background-position: -481px -54px;
}
.consolp .weixinico{
	background-position: -481px -74px;
}
.ab-contact .weixin-code{
	background-position: 0 -273px;
	width:93px;
	height: 125px;
}
.map-cont{
	float: right;
	width: 380px;
}
.join-hand{
	margin-top: 30px;
}
.cooperation{
	margin-top: 25px;
}
.cooperation li{
	float: left;
	width:270px;
}
.cooperation li strong{
	display: block;
	font-size:16px;
	padding-bottom: 15px;
}
.cooperation li b{
	color: #000;
}
.contact-map{
	width: 375px;
	height: 280px;
}
.send-msg{
	margin-top: 20px;
}
.send-msg input{
	border: 1px solid #dbdbdb;
	height: 43px;
	line-height: 43px;
	padding: 0 5px;
	width: 215px;
}
.send-msg .submit{
	background: #fff;
	border-color:#eca283;
	width: 130px;
	height: 45px;
	text-align: center;
}
/*联系我们E*/
/**品牌专题S**/
.about-brand{
}
.brand-banner-bg{
	background:#c4c5ca url("../img/brand_banner_bg.jpg") no-repeat center;
	height: 500px;
}
.brand-banner{
	margin: 0 auto;
	width: 1210px;
	background: url("../img/brand_banner.jpg") no-repeat center;
	height: 500px;
	text-indent: -9999px;
}
.brand-favorable{
	float: left;
	width: 180px;
	margin: 30px 0;
	padding-left: 230px;
	padding-top: 10px;
	border-right: 1px dotted #d33d30;
	position: relative;
	zoom:1;
}
.brand-favorable dt{
	width:165px;
	height: 170px;
	line-height: 1;
	color: #d33d30;
	font-size: 40px;
	position: absolute;
	left: 40px;
	top: 0;
}
.brand-favorable dt strong{
	font-size:140px;
	color: #d33d30;
	padding-right: 32px;
}
.brand-favorable dd{
	float: left;
	width: 150px;
	line-height: 36px;
	font-size: 21px;
	padding-left: 25px;
	background: url("../img/dot-ico.gif") no-repeat left center;
}
.brand-order{
	position: static;
	padding: 30px 0 0 30px;
	float: left;
	width:300px;
}
.brand-order input{
	width: 278px;
}
.brand-order input.g-btn{
	width: 300px;
	height: 50px;
	line-height: 50px;
	margin-top: 0;
}
.brand-order .tip{
	color: #ff5500;
	font-size:16px;
}
.brand-order .login-tip{
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	color: #ff5500;
	font-family: Simsun;
}
.brand-safeguard{
	padding-top: 50px;
}
.brand-safeguard dd{
	line-height: 50px;
}
.brand-mod{
	width: 1210px;
	height: 720px;
	margin: 0 auto;
	position: relative;
	zoom:1;
}
.brand-mod .g-btn{
	background: #d33d30;
	width:300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
}
.brand-mod h3{
	font-size:48px;
	line-height: 1.4;
	padding-bottom: 10px;
}
.brand-mod-intro{
	position: absolute;
	left: 20px;
	top:100px;
	z-index: 2;
	line-height: 1.8;
}
.brand-mod p{
	font-size:21px;
}
.brand-mod p span, .brand-mod p strong{
	color: #d33d30;
}
.brand-mod p strong{
	font-size:50px;
	line-height: 1;
}
.brand-mod1{
	background-color: #dfe4e7;
}
.brand-modpic1{
	position: absolute;
	top: 0;
	left: 250px;
	width:1164px;
	height: 720px;
	background: url("../img/brand_pic01.jpg") no-repeat;
	z-index: 1;
}

.brand-mod2{
	background-color: #f3f3f3;
}
.brand-modpic2{
	position: absolute;
	top: 0;
	right: 0;
	width: 790px;
	height: 720px;
	background: url("../img/brand_pic02.jpg") no-repeat;
	z-index: 1;
}
.brand-mod2 dl{
	position: absolute;
	top:130px;
	z-index: 3;
}
.brand-mod2 dt{
	height: 57px;
	text-indent: -9999px;
}
.brand-mod2 dd{
	height: 60px;
	line-height: 60px;
	margin-top: 25px;
	font-size: 20px;
	text-align: right;
}
.brand-mod2 .quote-guojj{
	right:430px;
	color: #d33d30;
}
.brand-mod2 .quote-tradition{
	right:20px;
}
.brand-mod2 .quote-tradition dd{
	text-align: left;
}
.brand-mod3{
	background: #ede7e0 url("../img/brand_pic03.jpg") no-repeat right center;
}
.brand-modpic3{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 600px;
	height: 545px;
	background: url("../img/brand_pic04.png") no-repeat;
	_background: url("../img/brand_pic04_png8.png") no-repeat;
	z-index: 1;
}

/**品牌专题E**/





