@charset "UTF-8";

.g-layout-main2 {border:1px solid #eee; width:658px; padding:0 20px;}
.layout-main-wrap {float:left; width:700px;}
.layout-main-wrap .g-layout-main2 { float:none;}

.article {padding:0 0 30px;}
.article-title {font-size:16px; color:#333; padding:10px 0 5px 0}
.article-abstract { background-color:#eeeeee; padding:20px; margin-bottom:20px; overflow:hidden}
.article-abstract .g-img {float:left; width:215px; height:184px; margin-right:20px;}
.article-abstract p {font-size:14px; line-height:1.6;}
.article-content {font-size:16px; font-family: "宋体"; line-height:1.8; margin-top:20px; overflow:hidden;}
.article-content img {max-width:660px;}

.article-tags {padding:10px 0 10px 70px; overflow:hidden}
.article-tags dt {float:left; margin-left:-60px;}
.article-tags dd {float:left; margin:-1px 0 5px 5px;}
.article-tags a {display:block; padding:1px 10px; border:1px solid #eee;}
.article-tags a:hover {border-color:#ff5500}

.like-n-fav-wrap {float:right; overflow:hidden}
.like-n-fav-wrap li {float:left; margin-left:10px;}
.like-n-fav-wrap a {color:#999}
.like-n-fav-wrap a:hover {color:#ff5500}
.like-n-fav-wrap .g-addfav-active-icon {color:#ff5500}
.like-n-fav-wrap .g-addlike-active-icon {color:#ff5500}

.g-share-list-wrap {float:right; padding:10px 0;}

.side-img-list {overflow:hidden}
.side-img-list li {float:left; margin-bottom:10px;}
.side-img-list .g-img {width:114px; margin-bottom:5px;}
.side-img-list .even-row {margin-right:10px;}

.article-info {color:#999; border-bottom:1px solid #eee; padding-bottom:5px;}

.article-nav {font-size:14px; padding:15px 0 0; border-top:1px solid #eee; margin-top:10px; clear:both;}
.article-nav .next {float:right}
.article-nav a {color:#999}
.article-nav a:hover {color:#ff5500}

.footer-mod {margin:20px 0 0 0;}
.footer-mod-ti h3 {border-bottom:1px solid #eee; padding-bottom:5px; color:#666; font-weight:bold; font-size:14px; font-family:"Tahoma", "Arial", "Helvetica", "宋体", "SimSun", "STXihei", "华文细黑", sans-serif}
.footer-mod-con {padding:10px 0; overflow:hidden}

.relative-article-mod .g-list li {float:left; width:50%;}

.footer-recommend-article-list {}
.footer-recommend-article-list li {float:left; margin-right:20px;}
.footer-recommend-article-list .ti {display:block; width:100%; text-align:center; padding-top:10px;}
.footer-recommend-article-list .last {margin-right:0;}
.footer-recommend-article-list .g-img {width:220px; height:165px}

.g-side-mod .sub-cate-list {}
.g-side-mod .sub-cate-list .cat-ti {font-weight:bold; padding-top:5px;}
.g-side-mod .sub-cate-list ul {overflow:hidden; padding-bottom:10px;}
.g-side-mod .sub-cate-list li {float:left; width:48%; text-indent:15px;}
.g-side-mod .sub-cate-list a.active {color:#ff5500}

.free-consult{border:1px solid #ededed; background:url(../img/gezibg.jpg);margin-bottom: 10px;padding-bottom: 15px;}
.free-consult h3{font-size: 24px; text-align: center;padding:10px 0;}
.free-consult p{padding: 0 0 20px 20px;}
.free-consult .g-txt{width: 220px;}
.free-consult .g-btn-big{width: 187px; text-align: center;}
.free-consult .yyico{ background: url(../img/abico.png) no-repeat;_background: url(../img/abico_8.png) no-repeat;}
.free-consult .yyico{display: inline-block;width: 18px;height: 18px; background-position: -582px 0; vertical-align: middle;margin-right: 10px;}


