.page-building {background:url("../img/big_brush.gif") no-repeat 0 0; width:300px; height:200px; padding:30px 0 0 235px; margin:100px auto 100px; font-size:14px;}
.page-building span {font-size:30px; font-weight:normal; color:#333;}
.page-building .link {padding-top:20px;}