@charset "UTF-8";

.stepico, .topdot, .btmdot, .middot, .org-middot,.gotopico{background: url("../img/abico.png") no-repeat;_background: url("../img/abico_8.png") no-repeat;}
.engname{ color: #999999;font-family: arial; font-size: 14px;}

.construction{border:1px solid #eeeeee;border-top: 0;}
.construcont{background-color: #f8f8f8;}
.construtlt li{float:left;width:499px;height:70px;padding-top:15px;background-color: #ffffff;border-right: 1px solid #eeeeee;border-bottom:1px solid #eeeeee; text-align: center;}
.construtlt li *{color:#999999;}
.construtlt li.cur{border-bottom: 0;background-color: #fafafa;}
.construtlt li.cur *{color: #333333}
.construtlt h3{ line-height:30px;font-size: 24px;}

/*户型图S*/
.house-type{position: relative;zoom:1;padding-top:390px;}
.houseimg{position: absolute;left: 20px;top: 0;width: 731px;height: 432px;z-index: 1;}
.mapbox{position: absolute;left: 0;top: 0;width: 731px;height: 432px;z-index: 2}
.mapbox map {width:731px; height:432px;}
.mapbox map area{cursor: pointer;}
.layerbox{position: relative;width: 731px;height: 432px;z-index: 1;}
.layerbox {background:url("../img/house_type.png") no-repeat 0 0;}

.map-layer01, .map-layer02, .map-layer03, .map-layer04, .map-layer05, .map-layer06, .map-layer07{ position: absolute;opacity: 0;display:none\9; transition: opacity .3s linear;-moz-transition: opacity .3s linear;-o-transition: opacity .3s linear;-webkit-transition: opacity .3s linear;}
.map-layer01{background:url("../img/house_layer01.png");left: 146px;bottom: 9px;width: 268px;height: 278px;_background:url("../img/house_layer01_png8.png");}
.map-layer02{background:url("../img/house_layer02.png");left: 1px;bottom: 102px;width: 287px;height: 247px;_background:url("../img/house_layer02_png8.png");}
.map-layer03{background:url("../img/house_layer03.png");left: 159px;top: 48px;width: 186px;height: 161px;_background:url("../img/house_layer03_png8.png");}
.map-layer04{background:url("../img/house_layer04.png");left: 276px;top: -6px;width: 167px;height: 180px;_background:url("../img/house_layer04_png8.png");}
.map-layer05{background:url("../img/house_layer05.png");left: 363px;top: 24px;width: 179px;height: 203px;_background:url("../img/house_layer05_png8.png");}
.map-layer06{background:url("../img/house_layer06.png");right: 85px;top: 64px;width: 190px;height: 229px;_background:url("../img/house_layer06_png8.png");}
.map-layer07{background:url("../img/house_layer07.png");right: 0;bottom: 97px;width: 179px;height: 223px;_background:url("../img/house_layer07_png8.png");}
.map-type-01 .map-layer01{display: block;opacity: 1.0;}
.map-type-02 .map-layer02{display: block;opacity: 1.0;}
.map-type-03 .map-layer03{display: block;opacity: 1.0;}
.map-type-04 .map-layer04{display: block;opacity: 1.0;}
.map-type-05 .map-layer05{display: block;opacity: 1.0;}
.map-type-06 .map-layer06{display: block;opacity: 1.0;}
.map-type-07 .map-layer07{display: block;opacity: 1.0;}
/*户型图E*/

.techeachct{_width: 250px;}
.techlist{position: absolute;right: 60px;top: 30px; font-size: 14px; }
.techlist li{line-height:35px;} 
.techlist li a{display: block;position: relative;zoom:1;padding-left: 15px;}
.techlist li em{position: absolute;left: 0;top:13px;display: none;width: 0;height: 0;_overflow: hidden;
	border-top: 6px solid transparent;border-left: 6px solid #ff5500;border-bottom: 6px solid transparent;}
.roomname-cont{position: absolute;top: 245px;right: 20px; text-align: center;}
.roomname h2{font-size: 32px;}
.techlist li.cur a em, .techlist li a:hover em{display: block;}
.techlist li.cur a{color: #ff5500;}

.fitsetall{border-top: 1px solid #eeeeee;background-color: #ffffff;}
.fitsetcont{}
.fiteachcont{padding:70px 80px 20px; font-size: 14px;}
.fiteachcont h3{padding-bottom:10px;font-size:24px; text-align: center;}
.fit-explain{padding-bottom:10px;line-height: 25px;}
.img-merit{position: relative;zoom:1; z-index: 1}
.fitimg{width: 480px; height: 360px;position: relative;zoom:1;}
.fitimg img{position: absolute;left: 0;top: 0;width: 480px; height: 360px; z-index: 2}
.imgbg{position: absolute;right: -10px;bottom: -10px;width: 480px; height: 360px;border: 1px solid #eeeeee; background-color: #ffffff;z-index: 1}
.youdian{position: absolute;right: 0;bottom:20px;width: 330px;}
.youdian dt{font-family:Microsoft Yahei;font-size: 18px;color: #ff5500;}

.stepintro-tlt{margin-top: 30px;padding-bottom: 40px; background: url("../img/pagebtm.png") no-repeat center bottom;}
.stepintro-list{}
.stepintro-list li{float: left;width:189px;height:200px;padding-left:60px;border-right: 1px solid #eeeeee;position: relative;zoom:1;}
.stepintro-list dt{font-size: 18px;padding:5px 0 0 15px;font-family: Microsoft Yahei;}
.stepintro-list dd{font-size: 14px;}
.stepintro-list dd a{position: relative;zoom:1;display: block;padding-left:15px;height: 35px;line-height: 35px;}
.stepintro-list dd .cur{color: #ff5500;}
.stepintro-list a .triang{display: none;width: 0;height: 0;position: absolute;left: 0;top:12px;}
.stepintro-list a:hover .triang, .stepintro-list dd a.active .triang{display:block;}
.stepintro-list dd a.active{color: #ff5500}
.stepico{display: block;position: absolute;top: 0;left: 20px;}
.stepico1{background-position: -20px -86px;width: 45px; height: 45px;}
.stepico2{background-position: -66px -86px; width: 39px; height: 44px;}
.stepico3{background-position: -105px -86px; width: 41px; height:37px;}
.stepico4{background-position: -147px -86px;width: 42px; height: 46px;}
.stepintro-list li.cur dt{color: #ff5500;}
.stepintro-list li.cur .stepico1{background-position: -20px -40px;}
.stepintro-list li.cur .stepico2{background-position: -66px -40px;}
.stepintro-list li.cur .stepico3{background-position: -105px -40px;}
.stepintro-list li.cur .stepico4{background-position: -147px -40px;}

.stepintro-cont{padding:40px 90px;line-height: 25px;font-size: 14px;border-top: 1px solid #eeeeee;}
.stepintro-cont h2{font-size: 24px;color: #ff5000;padding-bottom: 25px;}
.stepintro-cont h3{font-size: 16px;padding-bottom: 25px;}
.ct-step-pic{padding:15px 0 40px;}
.ct-step-pic li{float: left;width: 400px;height: 300px;margin-right: 10px;display: inline; text-align: center;}
.ct-step-pic li img{width: 400px;height: 300px;vertical-align: top;}

.fit-lift{position: fixed; left: 50%;bottom: 170px;margin-left: 550px;padding:20px;border-left: 1px solid #eeeeee; color: #333333;font-size: 14px; _position:absolute; _margin-top: 0; _top:expression(documentElement.scrollTop+(documentElement.clientHeight-this.offsetHeight)/2);}
.liftlist p{font-weight: bold;cursor: pointer;}
.liftlist li{line-height: 30px;}
.topdot,.btmdot{display:block;width:12px; height: 12px; background-position: -3px -98px;position: absolute;left: -6px;}
.topdot{top: 0}
.btmdot{bottom: 0;}
.middot{display:block;width:18px; height: 18px; background-position: 0 -60px;position: absolute;left: -29px;top:15px;}
.liftopen, .liftclose{padding:10px 0;position: relative;zoom:1;}
.liftopen ul{display: block;}
.liftopen a.cur{color: #ff5500;}
.liftclose ul{display: none;}
.liftopen .middot{ background-position:0 -79px;}

.gotop{position: fixed;left: 50%;bottom:120px;margin-left:575px;width: 44px; height: 44px; _position:absolute; _margin-top: 230px; _top:expression(documentElement.scrollTop+(documentElement.clientHeight-this.offsetHeight)/2);}
.gotopico{display: block;width: 44px;height: 44px;background-position: -190px -86px;}
a:hover.gotopico{background-position: -190px -42px;}

