@charset "UTF-8";

.hd-bannerbg{
	height: 470px;
	background: url("../img/hd/jzjie_bannerbg.jpg") no-repeat center;
}
.hd-banner{
	height: 470px;
	background:#184894 url("../img/hd/jzjie_banner.jpg") no-repeat center;
}
.bgcont1{
	background:#3d9747 url("../img/hd/jzjie_bg1.jpg") no-repeat center bottom;
	height: 394px;
	padding-bottom: 0;
}
.bgcont1 .hd-tlt{
	background-image: url("../img/hd/tltbg3.png");
	background-position: center 60px;
	color: #ffffff;
	padding-top: 20px;
}
.bgcont1 .hd-cont{
	text-indent: -9999px;
}