@charset "UTF-8";

.g-body{
	padding-bottom: 0;
}
.jbh-banner{
	background: #ef2f3c url("../img/hd/jiabohui_banner.jpg") no-repeat center top;
	width: 100%;
	height: 870px;
}
.jbh-banner h2{
	height: 630px;
	text-indent: -9999px;
}
.sjs-order-form{
	font-size: 16px;
	width: 940px;
	height: 210px;
	padding: 20px 0 0 270px;
	margin: 0 auto;
	background: url("../img/hd/jiabohui_ordbg.jpg") no-repeat;
	position: relative;
	z-index: 10;
}
.sjs-order-tlt{
	background: url("../img/hd/sjs_ordertlt.png") no-repeat;
	width: 158px;
	height: 60px;
	position: absolute;
	left: 55px;
	top: 50px;
}

.jbh-conbg1{
	background:#ef2f3c url("../img/hd/jiabohui_conbg1.png") no-repeat center top;
	height: 1145px;
}
.jbh-conbg1 .jbhcon{
	height: 1145px;
}
.jbh-conbg2{
	background: url("../img/hd/jiabohui_conbg3.png") no-repeat center top;
	height: 1055px;
}
.jbh-conbg2 .jbhcon{
	height: 1055px;
}
.jbh-conbg3{
	background: url("../img/hd/jiabohui_conbg4.png") no-repeat center top;
	height: 1058px;
}
.jbh-conbg3 .jbhcon{
	height: 1058px;
}
.jbh-conbg4{
	background: url("../img/hd/jiabohui_conbg5.png") no-repeat center top;
	height: 834px;
}
.jbh-conbg4 .jbhcon{
	height: 834px;
}
.jbh-tlt{
	text-indent: -9999px;
}
.jbhcon{
	width: 1210px;
	margin: 0 auto;
	position: relative;
	zoom:1;
	color: #000000;
}
.jbh-site{
	position: absolute;
	left: 70px;
	bottom: 100px;
	height: 130px;
	line-height: 1.3;
}
.jbh-site dt{
	font-size: 48px;
}
.jbh-site dt strong{
	color: #000000;
	padding-right: 100px;
}
.jbh-site dd{
	font-size: 24px;
}
.jbh-be-partner{
	margin-top: 280px;
	margin-left: 65px;
}
.jbh-be-partner dt{
	text-indent: -9999px;
}
.jbh-be-partner dd{
	position: absolute;
	font-size: 32px;
	height: 60px;
	line-height: 60px;
	color: #68191a;
}
.jbh-bept-intro1{
	left: 230px;
	top: 646px;
}
.jbh-bept-intro2{
	left: 170px;
	top: 775px;
}
.jbh-bept-intro3{
	right: 190px;
	bottom: 420px;
}
.jbh-bept-intro4{
	right: 55px;
	bottom: 300px;
}
.jbh-bgft{
	font-size: 48px;
}
.jbh-smtlt{
	position: absolute;
	left: 90px;
	top: 480px;
	padding-bottom: 45px;
	width: 285px;
	font-size: 70px;
	color: #352953;
	line-height: 1.2;
	text-align: center;
	background: url("../img/hd/jiabohui_dbline.gif") repeat-x center bottom;
}
.jbh-smtlt strong{
	color: #352953;
}
.jbh-conbg1 .jbh-site{
	left: 335px;
	bottom: 60px;
}
.jbh-conbg3 .jbh-site{
	left: 335px;
	bottom: 50px;
}
.jbh-conbg3 img{
	position: absolute;
	left: -58px;
	top: 315px;
}
.get-gift-tip{
	position: absolute;
	bottom: 250px;
	left: -56px;
	height: 73px;
}
.get-gift-tip li{
	float: left;
	margin-right: 20px;
	width: 380px;
	height: 73px;
	line-height: 73px;
	text-align: center;
	display: inline;
	font-size: 36px;
	font-weight: bold;
}
.zxjz-link{
	position: absolute;
	left: 0;
	top: 252px;
	width: 1230px;
	height: 580px;
	background: url("../img/hd/jiabohui_zxjzad.jpg");
	text-indent: -9999px;
}
.jbh-conbg5{
	background: #6142c4;
	height: 305px;
	padding-top: 80px;
}
.jbh-conbg5 .jbhcon{
	overflow: hidden;
	zoom:1;
}
.jbh-conbg5 .richscan{
	float: left;
	width: 220px;
	height: 60px;
	padding: 125px 0 0 220px;
	margin-left: 105px;
	display: inline;
	background: url("../img/hd/jiabohui_groupbg.png") no-repeat;
	color: #ffffff;
	font-size: 20px;
	line-height: 1.2;
}
.jbh-conbg5 .richscan-app{
	background-position: 0 0;
}
.jbh-conbg5 .richscan-weixin{
	background-position: 0 -195px;
}



