@charset "UTF-8";

.g-body{
	padding-bottom: 70px;
}
.ny-rule{
	margin-top: 20px;
}
.hd-bannerbg{
	background-image: url("../img/hd/sjs_bannerbg.png");
	background-color: #fff2b1;
	height: 470px;
}
.hd-banner{
	background-image: url("../img/hd/sjs_banner.png");
	height: 470px;
}
.order-cont{
	width: 1170px;
	height: 230px;
	padding: 30px 20px 25px 20px;
	margin: -20px auto 0;
	background: url("../img/hd/sjs_orderbg.jpg") no-repeat;
}
.order-user-cont{
	margin-top: 10px;
	height: 60px;
	line-height: 60px;
	padding-left: 40px;
	overflow: hidden;
}
.order-user-cont .user-num{
	float: left;
	width: 210px;
	font-size: 16px;
	color: #ffffff;
}
.order-user-cont .user-num em{
	padding: 0 5px;
	color: #ff5500;
	font-size: 24px;
	vertical-align: middle;
}
.order-user-list{
	float: left;
	width: 900px;
	height: 60px;
	color: #cccccc;
	font-size: 14px;
	overflow: hidden;
}
.order-user-list li{
	float: left;
	width: 430px;
	margin-left: 20px;
	display: inline;
	overflow: hidden;
}
.order-user-list li em{
	float: left;
	padding-right: 5px;
}
.order-user-list li span{
	float: left;
	margin-left: 15px;
	display: inline;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.order-user-list li .u-num{
	width: 120px;
	margin-left: 0;
}
.order-user-list li .u-area{
	width: 55px;
}
.order-user-list li .u-ty{
	width: 50px;
}
.order-user-list li .u-adr{
	width: 140px;
}













