@charset "UTF-8";

.hd-bannerbg{
	height: 550px;
	background: url("../img/hd/tg_bannerbg.jpg") no-repeat center;
}
.hd-banner{
	height: 550px;
	background:#ffe7bb url("../img/hd/tg_banner.jpg?v20160224") no-repeat center;
}