@charset "UTF-8";

.hd-bannerbg{
	height: 550px;
	background: url("../img/hd/yx_bannerbg.jpg") no-repeat center;
}
.hd-banner{
	height: 550px;
	background:#ffe7bb url("../img/hd/yx_banner.jpg") no-repeat center;
}