@charset "UTF-8";

html{font-family: Microsoft Yahei;}
.g-body{padding-bottom: 0;}
.freeico, .stamp, .get-step, .petal, .side-bar, .gotop em{display: block;background: url("../img/topic/jiabohui_bg.png?v20150709") no-repeat;_background: url("../img/topic/jiabohui_bg_png8.png?v20150709") no-repeat;}
/*one part*/
.main-banner-bg{background: url("../img/topic/jia_bg01.jpg") center no-repeat;}
.main-banner{background:#681c3e url("../img/topic/jia_pic01.jpg") center no-repeat;width: 1210px; height: 618px; text-indent: -9999px;}

/*two part*/
.step-bg{background: #ffd800 url("../img/topic/jia_bg02.jpg") center no-repeat;}
.step-cont{height: 380px;padding-top: 80px;}
.eachstep{float: left;width: 210px;margin-left: 28px;display: inline;color: #fff;}
.eachstep dt{font-size: 48px;font-weight: bold;padding-left: 80px;padding-top: 60px;}
.eachstep dd{padding-left: 40px;font-size: 26px;line-height: 1.4;}
.step-first{margin-left: 25px;}
.step-second{}
.step-third{}
.step-fourth{}
.step-fifth{}
.step-fifth dt{padding-left: 62px;font-size: 46px;}
.step-fifth dd{padding-left: 0; text-align: center;}
.step-fifth dd.peopel-num{color: #fff71a;font-size: 36px;font-weight: bold;}

.free-cont h2, .gift-cont h2, .safe-cont h2, .upgrade-cont h2, .just-doit-cont h2{padding-top: 50px; font-size: 48px;color: #fff;text-align: center;}
.free-cont h2 strong, .gift-cont h2 strong, .safe-cont h2 strong, .upgrade-cont h2 strong, .just-doit-cont h2 strong{color: #ffffff;margin-left: 20px;}

/*three part*/
.free-bg{background:#ce2d48 url("../img/topic/jia_bg03.jpg") center no-repeat;position: relative;zoom:1;}
.free-cont{background: url("../img/topic/jia_pic02.jpg") center no-repeat;height: 850px;}
.free-cont h2{padding-top: 80px;}
.freelist{margin-left: 20px;}
.freelist li{float: left;width: 290px;height: 245px; margin-left: 70px;margin-top: 30px;}
.freelist li p{padding-left: 100px;color: #fff;font-size: 23px;line-height: 1.2}
.freelist li.free-01{}
.freelist li.free-02{}
.freelist li.free-03{}
.freelist li.free-04{margin-left: 255px;}
.freelist li.free-05{margin-left: 95px;}
.freelist li.free-01 p{margin-top: 25px;}
.freelist li.free-02 p{margin-top: 25px;}
.freelist li.free-03 p{margin-top: 30px;}
.freelist li.free-04 p{margin-top: 15px;}
.freelist li.free-05 p{margin-top: 15px;}
.freeico-01{width: 126px; height: 122px;background-position: 0 0;margin-left: 93px;margin-top: 20px;}
.freeico-02{width: 85px; height: 135px;background-position: 0 -122px;margin-left: 105px;margin-top: 10px;}
.freeico-03{width: 84px; height: 113px;background-position: 0 -257px;margin-left: 110px;margin-top: 25px;}
.freeico-04{width: 175px; height: 121px;background-position: -130px 0;margin-left: 75px;}
.freeico-05{width: 109px; height: 135px;background-position: -130px -120px;margin-left: 60px;margin-top: -10px;}

/*four part*/
.gift-bg{background:#f24139 url("../img/topic/jia_bg04.png") center no-repeat;_background-image: url("../img/topic/jia_bg04_png8.png"); height: 1054px;}
.gift-cont{background: url("../img/topic/jia_pic03.jpg?v20150716") center no-repeat;height: 960px;position: relative;zoom:1;}
.gift-cont h3{font-size: 44px;color: #424242;font-weight: bold;line-height: 1.2}
.gift-cont h4{font-size: 29px;color: #7a7a7a;line-height: 1.2;margin-top: 10px;}
.gift-cont .only500{line-height: 1;margin-top: 20px;}
.gift-cont .only500 strong{font-size: 40px;color: #cf2d48;}
.carbon{position: absolute;left: 63px;top: 175px;width: 365px; height: 480px;padding: 40px 40px 0 40px;}
.share-page{position: absolute;right: 105px;top: 175px;width: 510px; height: 217px;padding: 40px 40px 0 40px;}
.umbrella{position: absolute;right: 105px;top: 438px;width: 510px; height: 217px;padding: 40px 40px 0 40px;}
.voucher{position: absolute;left: 63px;bottom: 5px;width: 963px; height: 217px;padding: 40px 40px 0 40px;}

.share-layer{position: absolute;left: -1px;top: 0;width: 590px; height: 159px;color: #fff; font-weight: bold;font-size: 29px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000');background:rgba(0,0,0,0.6);text-align: center;padding-top: 100px;}

.carbon h4{margin-top: 220px;}
.carbon img{width: 110px; height: 110px;position: absolute;right: 40px;top: 50px;}
.share-page img{width: 90px; height: 90px;position: absolute;right: 85px;bottom: 20px;border: 3px solid #fff;}
.voucher .only500{position: absolute; bottom: 15px;right: 200px;}

/*five part*/
.safe-bg{background:#d02d48 url("../img/topic/jia_bg05.png") center no-repeat; height: 722px;padding-top: 8px; _background-image: url("../img/topic/jia_bg05_png8.png");}
.safe-cont{background: url("../img/topic/jia_pic04.jpg") center no-repeat;height: 723px;position: relative;zoom:1;}
.safe-cont h2{padding-top: 85px;}
.safe-cont dt{font-size: 38px;font-weight: bold;color: #424242;line-height: 1;}
.safe-cont dd{color: #fff;line-height: 1.5;font-size: 24px;}
.safe-cont dd i{padding-right: 5px;}
.safe-baiyi{position: absolute;left: 140px;bottom:230px;}
.safe-baiyi dt{position: absolute;left: 250px;bottom: -20px;width: 125px}
.safe-weihu{position: absolute;right: 280px;top:225px;}
.safe-weihu dt{position: absolute;left: -250px;bottom: -40px;width: 160px}
.safe-jiaquan{position: absolute;right: 30px;bottom:205px;}
.safe-jiaquan dt{position: absolute;left: -220px;bottom: 30px;width: 160px}

/*six part*/
.upgrade-bg{background:#d02d48 url("../img/topic/jia_bg06.png") center no-repeat; height: 720px;_background-image: url("../img/topic/jia_bg06_png8.png");}
.upgrade-cont{background: url("../img/topic/jia_pic05.jpg") center no-repeat;height: 720px;position: relative;zoom:1;}
.upgrade-cont h2{padding-top: 85px;}
.down-payment, .project-funds{font-size: 63px;color: #fff;font-weight: bold;}
.down-payment strong, .project-funds strong{display: block; text-indent: -9999px;}
.down-payment{position: absolute;left: 162px;top:200px;}
.project-funds{position: absolute;right: 195px;top:200px;}
.regret-tip{text-align: center;margin-top: 380px;font-size: 45px;font-weight: bold;color: #fff;}
.regret-tip strong{color: #fff002;}

/*seven part*/
.just-doit-bg{background-color: #34b24f; height: 615px;}
.just-doit-cont{position: relative;zoom:1;}
.just-doit-cont h2{padding-top: 150px;position: relative;z-index: 2;}
.stamp{width: 366px; height: 213px;background-position: -304px 0;position: absolute;right: 0;top: 70px;text-indent: -9999px;z-index: 2;}
.get-step{background-position: 0 -371px;width: 1152px; height: 249px;margin:50px 0 0 25px;color: #fff;line-height: 1.4;}
.get-step dt{float: left;width: 240px;text-indent: -9999px;}
.get-step dd{float: left;width: 230px;padding-left: 70px;padding-top: 80px;font-size: 14px;}
.get-step dd strong{color: #fff; font-size: 35px;}
.petal{position: absolute;left: -50px;top: 250px;width: 43px; height: 22px;background-position: -304px -214px;}
.just-font{position: absolute;top: 60px;left: 220px;font-size: 130px;font-weight: bold; color: #2a9541;font-family: Arial;z-index: 1;}

/*eight part*/
.contact-outer{background-color: #363636; height: 410px; padding: 90px 0;}
.map{float: left;width: 415px;}
.address{float: left;width: 410px;margin-left: 20px;display: inline;color: #fff;font-size: 20px;line-height: 1.5;}
.address p{padding-bottom: 40px;}
.address strong{color: #fff;}
.bus-lines{padding-left: 10px;margin-top: -30px;}
.new{float: left; width: 305px; height: 380px;padding-left: 30px; background: url("../img/topic/fence_line.png") left center no-repeat;_background-image: url("../img/topic/fence_line_png8.png");}
.new h2{font-size: 24px;color: #fff;font-weight: bold;}
.new-list{}
.new-list li{line-height: 2.2;font-size: 14px;list-style-type : disc;overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}
.new a{color: #bbbbbb;}
.new a:hover{color: #fff;}
.new i{padding-right: 10px;font-family:Arial;font-weight: bold;}

/*side bar*/
.side-bar{position: fixed;_position: absolute;top: 100px;right: 1%;width: 105px; height: 233px;background-position: -1047px 0;z-index: 11;}
.side-bar dl{font-size: 15px;}
.side-bar dt{color: #7300d5;text-align: center;font-weight: bold;line-height: 2.2}
.side-bar dd{}
.side-bar dd a{display: block;height: 33px;line-height: 33px; padding-left: 45px;}
.side-bar dd.dd01 a{color: #214aa5;}
.side-bar dd.dd02 a{color: #f24139;}
.side-bar dd.dd03 a{color: #863ada;}
.side-bar dd.dd04 a{color: #009cff;}
.side-bar dd.dd05 a{color: #34b24f;}
.gotop{display: block;padding: 8px 0 0 25px;color: #bd2514;font-size: 14px;font-weight: bold;}
.gotop em{display: inline-block;width: 15px; height: 15px;background-position: -127px -258px; vertical-align: middle;margin: 0 0 3px 5px;}

/*note*/
.note-box{width: 100%; height: 100px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC000000', endColorstr='#CC000000');background:rgba(0,0,0,0.8);position: fixed;bottom: 0;left: 0;z-index: 10;}
.note-box-btm{bottom: 122px;}
.note-box .tip{text-align: center;color: #fff;line-height: 2.5;font-size: 20px;}
.note-box form{text-align: center;}
.note-box input{height: 30px;line-height: 30px;border: none; font-size: 16px;font-family: Microsoft Yahei;}
.note-box .phone-num{background-color: #fff;width: 350px;padding: 0 10px;}
.note-box .submit{background-color: #cf2d48;color: #fff; width:150px; text-align: center;border: none;font-weight: bold;cursor: pointer;margin-left: 5px;}








