@charset "UTF-8";
.register-guide {font-size:14px; position:absolute; right:100px; top:82px;}
.register-guide a {color:#ff5500}

.g-layout-wrap {position:relative}

.login-frm {padding:90px 100px 90px 600px; background:url("../img/login_bg.jpg") no-repeat 0 90px; _height:370px; min-height:370px; position:relative}
.login-frm legend {font-size:18px; color:#333; padding-bottom:15px;}
.login-frm .g-txt {width:278px;}
.login-frm .g-btn-big {width:300px;}
.login-frm p {margin:10px 0;}

.login-frm #msg-token {width:130px}
.login-frm #resend-msg-btn {width:140px; padding:0; font-weight:normal; font-size:12px;}

.account-type-switch {border-right:1px solid #eee; width:57px; height:610px; position:absolute; left:480px; top:0; z-index:2}
.account-type-switch .active a {border-right-color:white;}
.account-type-switch a {display:block;text-align:center; line-height:22px; width:20px; padding:20px 18px; font-size:18px; border:1px solid #eee; margin-top:-1px; font-family:"Tahoma", "Helvetica", "Microsoft YaHei New", "Microsoft YaHei", "宋体", "SimSun", "STXihei", "华文细黑", sans-serif;}
.account-type-switch .g-icon {background-position:0 -1767px; margin:0 0 5px -2px;}
.account-type-switch .sw-email .g-icon {background-position:0 -1808px;}
.account-type-switch .active a,
.account-type-switch .hover a {color:#ff5500}
.account-type-switch .active .sw-email .g-icon,
.account-type-switch .hover .sw-email .g-icon {background-position:-64px -1808px;}
.account-type-switch .active .sw-mobile .g-icon,
.account-type-switch .hover .sw-mobile .g-icon {background-position:-64px -1767px;}

.change-verify-img {width:3em; display:inline-block; vertical-align:middle; cursor:pointer}
.change-verify-img:hover {color:#ff5500}
form p.error {color:#ff5500; padding:0}

#verify-code {width:130px;}
#verify-img {height:45px; vertical-align:middle; cursor:pointer}

span.validate-tip {}
p.validate-fail {padding-bottom:2px;}
span.validate-fail {margin-bottom:-10px;}
input.validate-fail {border:1px solid #ff5500;}

.page-dialog body {overflow:hidden; background-color:white;}
.page-dialog .login-frm {padding:0; background:none; width:300px; min-height:0; margin:0 auto;}
.page-dialog legend {display:none}
.page-dialog span.validate-fail,
.page-dialog p.validate-fail{display:none}
.page-dialog .g-layout-wrap {width:auto}
.page-dialog .register-guide {display:none}