@charset "UTF-8";
body{font-family: Microsoft Yahei,serif; min-width:0;}
.quote input, .quote select, button{outline: none}
.wrong-ico, .orsuc-ico, .range .theme-green .back-bar .pointer{ background: url("../img/abico.png") no-repeat;_background: url("../img/abico_8.png") no-repeat;}
.engname{ color: #999999;font-family: arial; font-size: 14px;}
.ordsteps li em, .range .slider-container .back-bar .pointer-label, .tipmsg-ico, .delete-ico, .close-ico{ background: url("../img/new_price.png") no-repeat;_background: url("../img/new_price_png8.png") no-repeat;}

/*.popup-add-main-material .PopupDialog-hd {border-bottom:none; overflow:hidden}
.popup-add-main-material .PopupDialog-hd h3 {text-indent:-9999em}
.popup-add-main-material .PopupDialog-close {height:56px; width:60px; font-size:28px; top:-20px; right:-20px; line-height: 63px; text-align: left; text-indent: 16px;}
.popup-add-main-material .PopupDialog-close:hover {background-color:#ff5000}*/

.ordonline-step{margin-top:30px;padding:20px 15px;position: relative;zoom:1;height:120px;}
.filaline{height: 0;border-bottom: 1px dotted #787878;width: 1210px;position: absolute;left: 0;top: 20px;z-index: 1}
.ordsteps{position: absolute;left: 0;top: 20px;width: 100%; z-index: 2;border-top: 1px dotted #ccc;}
.ordsteps li{float: left;width:33%;padding-top:25px; text-align: center;position: relative;zoom:1;white-space:nowrap;}
.ordsteps li h3{color:#999999;height: 30px; line-height: 30px;}
.ordsteps li h4{font-size: 18px;height: 20px; line-height: 20px;}
.ordsteps li.cur h3{color: #ff5500;font-size: 28px; height: 50px; line-height: 50px;}
.ordsteps li.cur h4, .ordsteps li.cur .backchg{display: none;}
.ordsteps li em{display: block;position: absolute;left: 50%;background-color: #fff;padding: 0 15px;}
.ordsteps li .backchg{margin: 10px auto 0;}
.ordsteps .order02 span{margin-right: 10px;}
.ordsteps .order01 em{background-position: 15px 0;width: 47px; height: 46px;top: -20px;margin-left:-40px;}
.ordsteps .order02 em{background-position: 15px -47px;width: 33px; height: 40px;top: -16px;margin-left:-30px;}
.ordsteps .order03 em{background-position: 15px -88px;width: 41px; height: 34px;top: -12px;margin-left:-35px;}
.ordsteps li a:hover h3{color: #ff5500;}

.offercont{width: 1210px;overflow: hidden;}
.offerlist{width: 1220px;}
.offerlist li{ float: left;width: 295px;margin:10px 10px 0 0; display: inline;_height:325px;_overflow: hidden;_zoom:1;}
.offerlist li *{text-align: center;}
.offerlist li h3{padding-top:10px;font-size: 22px; color: #333333}
.offerlist li .engname{font-size: 18px;}
.offerlist li.last{margin-right: 0}

.offimgbox{width: 295px; height: 222px;position: relative;zoom:1;overflow: hidden;}
.offimgbox img{width: 295px; height: 222px;}
.thisintro{position: absolute;top: 0;left: 0;width: 295px; height: 222px; color:#ffffff;font-size: 14px;z-index: 2;display: none}
.thisintro p{width: 200px;height:100px;overflow:hidden;margin: 40px auto 0; text-align: left;}
.blclay{position: absolute;left: 0;top: 0; width: 320px; height: 240px; background-color: #000000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;z-index: 1;display: none}
a.chosebtn{position: absolute;left:50%;bottom:20px;margin-left:-80px; display:block;width: 160px; height: 38px;line-height: 38px;border:1px solid #ffffff;color: #ffffff;border-radius: 3px;  text-align: center; font-weight: bold;font-size: 16px;font-family: Simsun;}
a:hover.chosebtn{background-color: #ff5500; color: #ffffff;border-color: #ff5500}

.hstype-choose{padding-top: 30px;}
.hstype-choose li{float: left;padding-right: 8px;padding-bottom: 10px; font-size: 18px;}
.hstype-choose li a{display: block;width:240px;height:60px;line-height:60px;border:1px solid #e2e2e2; background-color: #dfdfdf; text-align: center;}
.hstype-choose li a:hover, .hstype-choose li.cur a{background-color: #45c48d; color: #ffffff;}
.hstype-choose li button{display: block;width:234px;height:60px;border:1px solid #e3e3e3; background-color: #ffffff; text-align: center;font-size: 18px;color: #333333;font-family: Microsoft Yahei;}
.hstype-choose li button:hover, .hstype-choose li.cur a{background-color: #ffffff;border-color: #ff5500; color: #ff5500;border-width: 3px;cursor:pointer}
.hstype-choose li.noclick{}
.hstype-choose li.noclick button{background-color: #f5f5f5;border-color: #f5f5f5; color: #a5a5a5; cursor:default;}

.chosyet{border:1px solid #efefef;padding:15px 20px 20px;margin-bottom: 20px;}
.chosyet h4{ font-size: 14px;color: #afafaf;padding-left: 10px;line-height: 30px;}
.choscont{position: relative;zoom:1;padding:0 150px; height: 90px;}
.choscont h3{font-size: 20px;line-height: 40px;}
.chosimg{position: absolute;left: 10px;top: 0;width: 120px;height: 90px;overflow: hidden;}
.chosimg img{width: 120px; height: 90px;}
.backchg{display: block;margin:10px 0; width: 76px; height: 26px;border: 1px solid #eeeeee;background-color: #fff; line-height: 26px; text-align: center;border-radius: 3px;}
.orderbtn{display: inline-block;}
/*range*/
.range{padding:80px 0 70px 50px;font-size: 18px;}
.range .slider-container .back-bar .pointer{
	cursor: pointer;
}
.range .theme-green .back-bar{height: 8px;}
.range .theme-green .back-bar .pointer{background-position: -523px -175px;width: 29px;height: 39px;border: none;top: -15px;background-color: transparent\9;filter:none\9;}
.range .slider-container .back-bar .pointer-label{top: -63px;width: 72px;height: 32px;line-height: 32px;padding-bottom: 10px;
	background-position: -68px 0;text-align: center;color: #fff;font-size: 20px;}
.range .theme-green .scale ins{font-size: 18px;color: #333333;padding-top: 10px;width: 70px; text-align: center;font-family: Microsoft Yahei;}
.range .theme-green .scale span{border-left-color: #9e310a;}
.range .theme-green .back-bar{background-color: #ff5500;filter:none\9;background-image:none;border-radius: 10px;}
.range .theme-green .back-bar .selected-bar{background-color: #ff5500;filter:none\9;background-image:none;border-radius: 10px;}

/*在线报价S*/
.gene-quote{}
.chosstyle{background-color: #f0f0f0;padding: 20px;margin-top: 20px;}
.chosstyle h3{font-size: 20px;}
.chosintro{float: left;width: 295px;}
.chosintro .introcont{height: 145px; line-height: 22px;}
.chosintro .intro-msg{line-height: 22px;}
.assess{float: left;width: 255px;margin-left: 20px; overflow: hidden;display: inline;}

/** 用户界面暂时禁用修改、删除主材，现有的数据有些问题 **/
.del-main-material-btn,
.change-main-material-btn {display:none;}


.collect-case{  padding: 0 30px;height: 38px;line-height: 38px;font-family: Microsoft Yahei,serif;font-size: 16px;font-weight: normal;}
.consult-price{float: right;width: 565px;height: 210px; padding-left: 18px;background: url("../img/fence-line.png") no-repeat left center;}
.consult-price .collect-case{position: absolute;right: 0;top: 0;}
.consult-price .quote-help{display: none;}
.price-innner{position: relative;zoom:1;width: 565px;height: 210px;}
.consult-price .pritlt span{font-size: 18px;color: #999999;}

.project-tlt-fixed{position: fixed;top: 0;left: 0;padding-top: 30px; background-color: #f0f0f0;width: 100%; height: 75px;z-index: 9;}
.project-tlt-fixed ul{margin:0 auto;width: 1210px;}
.project-tlt-fixed .project-type li.cur{border-bottom: 1px solid #fff;}

.quote-compare{padding: 10px 0;}
.quote-compare li{width:330px; height: 110px; background-color: #fff; margin-right: 20px;padding:10px;font-size: 18px;}
.quote-compare li .price{font-size: 30px;color: #ff5500;}
.quote-compare li .unit-price{font-size: 14px;color: #999999;}
.quote-compare li.nobg{background-color: transparent;}
.quote-compare li .qctip{font-size: 30px;color: #d7d7d7;font-weight: normal;}
.quote-compare li h4 span {font-size:14px; color:#999}
.quote-compare li h4 {font-size:22px;}
.consu-msg{ height: 22px; line-height: 22px;font-size: 14px;margin-top: 8px;}
.tipmsg-ico{display: inline-block;width: 20px; height: 20px;background-position: 0 -123px; vertical-align: middle;margin-right: 5px;}

.qt-priceall{padding-right: 20px;padding-top:10px;border-top: 1px solid #cbcbcb; text-align: right;}
.qt-priceall .tip{font-size: 12px;color: #999999;}
.qt-priceall em{font-size: 30px;}
.qt-priceall strong{font-weight: normal;}

.qt-addhouse{position: relative;zoom:1;}
.qt-layer{width: 100%;height: 100%; position: absolute;left: 0;top: 0; background:rgba(0,0,0,0.4) none repeat scroll !important;
background:#000; filter:Alpha(opacity=40); z-index: 1;_width: 100%;_height: 150px;}
.qt-layer p{position:relative;left: 0;top: 50%;margin: -10px 0 0 0;width: 940px; text-align: center; color: #ffffff;font-weight: bold;_position: inherit;_line-height: 150px;}

.or-savep{padding-left: 15px;height: 35px;line-height: 35px;}
.litogbtn, .litgrabtn{width: 75px;height: 30px; text-align: center;line-height: 30px; cursor: pointer;border-radius: 3px;font-size: 14px;}
.litogbtn{background-color: #ff5500;color: #ffffff;border:none;}
.litgrabtn{border:1px solid #cccccc; color: #666666;margin-left: 10px;}
.savetip{padding-left: 20px;color: #ff5500;}
.wrong-ico{display: inline-block;width: 19px;height: 18px;font-size: 12px; background-position: 0 -185px; vertical-align: middle;margin-right: 5px;}

.quo-explain{position: absolute;left: -10px;top:25px;
	width: 290px;padding: 20px 20px 20px 150px;
	border:1px solid #eeeeee;background-color: #ffffff;
	font-size: 12px;z-index: 3;display: none}
.quo-expimg{position: absolute;left: 20px;top: 20px;width: 120px;height: 90px;overflow: hidden; display: table-cell;}
.quo-expimg img{width: 120px;vertical-align: middle;}
.quo-trg1, .quo-trg2{width: 0;height: 0;font-size: 0;}
.quo-trg1{position: absolute;top: -6px;left: 15px;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #eeeeee;}
.quo-trg2{position: absolute;top: -4px;left: 15px;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #ffffff;}

.quo-savesuc{position: fixed;_position: absolute; top: 50%;left: 50%;margin: -50px 0 0 -180px;
width: 250px;padding: 20px 20px 20px 100px;border:1px solid #eeeeee; background-color: #ffffff;border-radius: 5px;z-index: 3;}
.orsuc-ico{width: 64px;height: 64px;
	background-position: -445px -110px;position: absolute;left: 20px;top: 25px;
}
.quo-savesuc p{line-height: 25px;}
.quo-savesuc strong{color: #666666;}
.quo-savesuc .g-btn{margin-top: 10px;}
.quo-number{float: left;margin-top: 10px;margin-right: 3px; border:1px solid #cccccc;height: 18px;line-height: 18px;width: 72px;_width: 75px;}
.quo-number *{float: left;}
.quo-number .add{border-right: 1px solid #cccccc;width: 18px; cursor: pointer;}
.quo-number .cut{border-left: 1px solid #cccccc;width: 18px; cursor: pointer;}
.quo-number input{width: 22px;border: none;padding: 0 5px; text-align: center;_border-color: #ffffff;_height: 16px;_line-height: 16px;}
.quo-unit{float: left;}
.quote-catalog-name .quo-explain{top: 38px;left: -6px;}

/*2.5 add*/
.price-banner-outer{background-color: #f0f0f0; height: 166px;}
.price-banner{background:url("../img/price_banbg.jpg") no-repeat;width: 1210px; height: 116px; margin:0 auto;padding-top: 50px;}
.price-banner h1{font-size: 30px; font-weight: bold;color: #000000;*border-bottom: 2px solid #ff5500;text-align: center;}
.price-banner h1:after{display: block;content: "";height: 2px;width: 70px;background-color: #ff5500;margin: 0 auto;}
.price-banner h2{width: 220px; text-align: left;line-height: 20px;margin: 0 auto;font-size: 14px;margin-top: 10px;padding-left: 20px;}

.sgcompany{position: relative;zoom:1;padding-left: 60px;line-height: 20px;margin:10px 0;}
.sgcompany .sglogo{width: 50px; height: 50px;border: 1px solid #ccc;border-radius: 3px;position: absolute;left: 0;top: 7px;overflow: hidden;}
.sgcompany .sglogo img{}
.sgtype{background-color: #ff9934;width: 16px; height: 16px; color: #fff; text-align: center;line-height: 16px;display: inline-block;margin-left: 5px;}
.sgmainfont{font-size: 16px;color: #333}
.ordertip{}
.ordertip .backchg{display: inline-block; border-width: 2px;border-color: #c7c7c7; margin-left: 10px;font-size: 12px;}
.cz-changebtn, .cz-deletebtn{float: left; margin-right: 5px; width: 52px; height: 26px; text-align: center;line-height: 26px;border:1px solid #cfcfcf;border-radius: 5px;cursor: pointer;background-color: #fff;}
.cz-changebtn{color: #666666;}
.cz-deletebtn{color: #ff5500;display: none;}
a:hover.cz-changebtn, a:hover.cz-deletebtn{border-color: #ff5500;}
.delete-ico{display: inline-block;width: 7px; height: 7px;background-position: 0 -144px;margin: 0 3px 2px 0;vertical-align: middle;}
.mtmore{margin-top: 40px; margin-bottom:30px;}

.project-tlt.fixed-top-element {background-color:#f0f0f0}

.project-type{*padding-bottom: 20px;}
.project-type li{float: left;width: 604px; background-color: #f0f0f0; height: 63px;border-bottom: 1px solid #dcdcdc; text-align: center;padding-top:10px;cursor: pointer;}
.project-type li strong{font-weight: normal;padding-left: 5px; font-family: Microsoft Yahei,serif;font-size: 18px;}
.project-type li.cur{background-color: #fff;border: 1px solid #dcdcdc;border-bottom: 0;}
.project-type li h4{font-size: 22px; color: #666;line-height: 25px;}
.project-type li.cur strong{color: #ff5500;font-size: 22px;}
.project-type li.cur h4{color: #333333;}
.project-type li.cur p{color: #5b5b5b;font-size: 14px;}
/*品牌选择*/
.material-layer{width: 100%;height: 100%;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);position: fixed;left: 0;top: 0;z-index: 10;display: none;}
.material-box{padding:0 40px 40px;background-color: #fff;}
.material-box .closebtn{background-color: #666;width: 35px; height: 35px;position: absolute;right: 0;top: 0;z-index: 12;border-radius: 0;-webkit-transition:all .3s linear;transition:all .3s linear;text-indent: -9999px;}
.material-box a:hover.closebtn{border-radius:20px;}
.close-ico{position: absolute;left: 10px;top: 10px; width: 14px; height: 14px;background-position: 0 -152px;z-index: 12;}
.material-brand{border: 1px solid #e8e8e8;padding:2px;}
.material-brand h3{float: left;width: 87px; height: 130px;border-right: 1px solid #e8e8e8;padding-top: 65px; text-align: center;font-size: 20px;}
.brandlist{float: left;width: 750px;padding: 10px 0;}
.brandlist li{float: left;width: 50px;margin-left: 18px;margin-top: 10px; text-align: center;display: inline;}
.brandlist li a{display: block;zoom:1;}
.brand-logo{border:2px solid #eee;border-radius: 3px;width: 48px; height: 48px;overflow: hidden;}
.brandlist li a:hover .brand-logo, .brandlist li.cur a .brand-logo{border:2px solid #ff5500;}
.brandlist li.cur a{color: #ff5500}
.brandlist li p{height: 25px; line-height: 25px; overflow: hidden;}

.material-list{margin-top: 15px; width:1000px;}
.material-list li{float: left;margin-right: 60px;margin-top: 10px; display: inline; width: 170px;line-height: 22px;color: #333333;}
.material-list li.last{margin-right: 0;}
.material-list li .matimg{width: 170px; height: 170px; overflow: hidden;border-radius: 10px;}
.material-list li p{margin-top: 5px;}
.material-list li h3{font-size: 15px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;font-weight: bold;}
.material-list .unit-price{margin-top: 10px; border-top: 1px solid #f3f3f3; height: 30px; line-height: 30px; color: #ff5500;font-size: 15px;font-weight: bold;}
.material-list .backchg{margin-top: 0;border-width: 3px;border-color: #dfdfdf;}
.material-list a:hover.backchg{border-color: #ff5500;}

.quote-water-ele-quantity-wrap {display:none}