.page-article {line-height:2}
.page-article ul {margin-left:2em}
.page-article h2 {padding:30px 0; text-align:center; font-size:28px; border-bottom:1px solid #eee;}
.page-article-content {padding:20px 30px;}
.page-article-content h3 {font-size:14px; font-weight:bold; font-family:"Tahoma", "Arial", "Helvetica", "宋体", "SimSun", "STXihei", "华文细黑", sans-serif}
.page-article-content p {margin:1em 0;}