@charset "UTF-8";

.ask-frm {overflow:hidden;zoom:1;}
.ask-frm legend {color:#666; font-size:14px; padding-bottom:10px;}
.ask-frm legend s {display:inline-block; float:right; width:0; height:0; border:4px solid transparent; margin-left:10px;_float: none;_overflow: hidden;}
.ask-frm fieldset {margin-bottom:5px;}
.ask-frm-input {position:relative; border:1px solid #ccc;background: #fff;}
.ask-frm-input-over, .ask-frm-input-over textarea{background-color: #fff7ef;}
.ask-frm-input textarea {border:none; resize:none; display:block; width:835px; height:48px; margin:15px 15px 30px 15px; padding:0; outline:none; font-size:14px;overflow: auto;}
.g-layout-main2 .ask-frm-input textarea{width: 625px;}
.ask-frm .upload-btn {display:block; position:absolute; bottom:5px; left:15px;}
.ask-frm .word-count {display:block; position:absolute; bottom:5px; right:15px;font-size: 14px;}
.ask-frm .word-count b {color:#ff5500; font-weight:normal}
.ask-frm .word-count-overflow {color:#ff5500}
.ask-frm .word-count-overflow b {color:#ff5500}

.main-field legend {font-size: 18px;color: #333333;}
.addition-field legend {cursor:pointer;*width: 150px;}
.addition-field legend.hover {color:#ff5500}
.addition-hide .ask-frm-input {display:none}
.addition-hide .op {display:none}

.addition-hide legend s {border-top-color:gray; margin-top:11px;*margin-top: -13px;}
.addition-hide legend.hover s {border-top-color:#ff5500;}
.addition-expand legend s {border-bottom-color:gray; margin-top:6px;*margin-top:-18px;border-bottom-width: 5px\9}
.addition-expand legend.hover s {border-bottom-color:#ff5500}
.addition-expand legend s {border-bottom-color:gray}
.addition-expand legend.hover s {border-bottom-color:#ff5500}

.ask-frm .sel-cat-field {width:480px; float:left; overflow:hidden;}
.ask-frm .sel-cat-field legend {height: 20px;}
.ask-frm .sel-cat-field .validate-fail {clear:both;}
.ask-frm .qs-categories {width:380px; margin-left:10px;display: inline;}
.ask-frm .qs-categories li {float:left;width: 65px; height: 23px; line-height: 23px;text-align: center; margin:0 10px 5px 0; background-color:#f7f7f7; cursor:pointer;display: inline;border: 1px solid #c1c1c1;font-size: 14px;}
.ask-frm .qs-categories li.active { background-color:#ff5500; color:white;border-color: #ff5500}
.ask-frm .ask-btn {float:right;margin-top: 30px; font-size:18px; font-weight:normal;width: 208px; height:50px; text-align: center;border: 3px solid #ff5500;border-radius: 50px; color: #ff5500;background-color: #f7f7f7;}

.page-mod {border:1px solid #eee; background-color:#fff; margin-bottom:20px; padding:20px;}
.page-mod-ti {color:#333; font-size:12px; padding-bottom:15px; border-bottom:1px solid #eee;}
.page-mod-ti .g-more {float:right; margin-top:-24px; color:gray;}
.page-mod-ti a:hover.g-more{color: #ff5500;}
.page-mod-con {padding:15px 0 0 0}

.person-info {margin:0 auto;width: 140px;}
.person-info .g-avatar {width:60px; height:60px; float:left; margin-right:10px}
.person-info .g-avatar img{width: 60px;}
.person-info .name {font-weight:bold; font-size:14px; display:block;overflow:hidden; height:22px;line-height: 22px;}
.person-info .qs-state {line-height:150%;}

.login-slogan {line-height:30px; text-align:center; font-size:20px; color:#333}

.question-list li {padding:10px 0; border-bottom:1px solid #eee;}
.question-list li.last,
.question-list li:last-child {border:none;}
.question-list a {display:block; font-size:14px;}
.question-list .cnt{float:right; margin-top:-20px; color:#999; display:inline-block;}
.question-list .time {width:60px; text-align:right}
.page-mod-ask h2 {font-size:14px; font-weight:bold; color:#333}
.ask-caption {font-size:14px; font-weight:bold; color:#333;}

.question-categories { overflow:hidden; width:238px}
.question-categories li {float:left;}
.question-categories a {display:block; padding:2px 10px; text-align:center; background-color:#eee; margin:0 10px 10px 0}
.question-categories a:hover {border-color:#ff5500}

#other-focus-list .g-list {overflow:hidden}
#other-focus-list .g-list li {display: inline-block;margin-right: 20px;font-size: 14px;display: inline\9;}

.answer-guide {padding:10px 0 10px 0; text-align:center}
.answer-guide .last-answer-list-wrap {margin:20px 0 0 0; padding:5px 10px; background-color:#eee; text-align:left; line-height:20px; overflow:hidden; height:100px;}
.answer-guide .last-answer-list li {height:20px; overflow:hidden}
.answer-guide .last-answer-list span {color:gray;}

#question-rec-ad {}
#question-rec-ad .g-img {display:block; width:290px; height:160px; overflow:hidden}
#question-rec-ad p {font-size:14px; text-align:center; padding:18px 0 0 0;}


/*宽屏问答首页S*/
.boshi-ico{background:url("../img/abico.png?v20150611") no-repeat;_background:url("../img/abico_8.png?v20150611") no-repeat;}
.new-wenda{margin-top: 25px;font-family:Microsoft Yahei;}
.new-wenda .page-mod{border: none;padding: 0;margin-top: 40px;}
.new-wenda .page-mod h2{color: #000000;font-size: 30px;line-height: 50px;}
.new-wenda .g-new-side .page-mod .page-mod-ti{padding-bottom: 0}
.new-wenda .g-new-side .page-mod h2{font-size: 24px;}
.new-wenda .validate-fail{background-position: 0 -1947px;}

.quescont{background-color: #f7f7f7;padding: 15px;color: #333333;}
.quescont .c-askbtn{margin: 0;}

.n-hot-answer .question-list{overflow: hidden;zoom:1;}
.n-hot-answer .question-list a{display: inline;font-size: 12px;}
.n-hot-answer .question-list li{float: left; padding: 30px 30px 30px 60px;width: 360px; height: 90px; position: relative;zoom:1;margin-bottom: -1px;}
.n-hot-answer .question-list h3 a{font-size: 14px;color: #414141}
.n-hot-answer .question-list h3 a:hover{color: #ff5500;}
.n-hot-answer .question-list .cnt{position: absolute;left: 0;top: 55px;background-color: #ff9934;color: #fff;width: 50px;height: 45px;line-height: 20px; font-size: 14px; text-align: center;padding-top: 5px;}
.n-hot-answer .ans-source{line-height: 30px;}
.n-hot-answer .ans-source a{margin-right: 5px;color: #333333;}
.n-hot-answer .ans-source a:hover{color: #ff5500;}
.n-hot-answer .ans-source .ans-tlt{margin-left: 5px;}
.n-hot-answer .askinfor{height: 30px;line-height: 30px;}
.n-hot-answer .askinfor a{color: #999999}
.n-hot-answer .askinfor a:hover{color: #ff5500}
.n-hot-answer .bias{color: #dfdfdf;}
.n-hot-answer .time{float: none;width: auto;display: inline-block;margin-right: 10px;}
.n-hot-answer .time a{font-size: 14px;}
.n-hot-answer .n-ico-tag{margin-left: 5px;}
.n-no-answer .question-list .cnt{background-color: #cccccc;}
.n-no-answer .question-list li{border: none;padding: 0 30px 10px 60px}
.n-no-answer .question-list .cnt{top: 25px;}

.new-wenda .answer-together{border: 1px solid #eeeeee;margin-top: 0;padding: 15px 10px;}
.answer-together .answer-guide{padding-bottom: 0}
.answer-together .last-answer-list span{color: #999999;}
.answer-together .last-answer-list li{height: 26px;line-height: 26px; padding-left: 15px; color: #999999; background: url("../img/new_icon.png") no-repeat 0 -1527px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.answer-together .last-answer-list-wrap{background-color: #fff;margin-top: 10px;height: 120px;}
.answer-together .g-btn-weak{background-color: #ff9934;border-radius: 50px;width: 200px;height: 43px;line-height: 43px; font-size: 18px;font-weight: normal;font-family: Microsoft Yahei;}
.answer-together a:hover.g-btn-weak{background-color: #ff9934;}
.answer-together .login-slogan{position: relative;zoom:1; text-align: left;padding-left: 75px;padding-bottom: 10px;line-height: 35px; font-size: 23px;}
.boshi-ico{position: absolute;left: 3px;top:10px;width: 64px;height: 47px;background-position: 0 -338px;}
.answer-together .bigfont{font-size: 30px;}

.answer-sort .question-categories{width: 290px;}
.answer-sort .question-categories a{width: 65px; height: 23px; line-height: 23px; text-align: center;margin-right: 5px; background-color: #fff;border: 1px solid #c7c7c7;color: #333333;font-size: 14px;padding: 0;}
.answer-sort .question-categories a:hover{background-color: #ff5500;border-color: #ff5500; color: #fff;}

.freq-question-list{font-size: 14px;}
.freq-question-list .g-txt-list li{line-height: 35px;background-position: 0 -1522px;text-indent:20px;}













