@charset "utf-8";

#col-main {padding-left:10px; padding-top:20px;}

.quote {width:1000px; margin-top:20px; border:1px solid #ddd; padding:30px 30px 100px 30px; box-shadow:5px 6px 28px #eee; font-size:14px}

.quote input.quote-num,
.quote input.main-quote-num{min-width:0; text-align:center; margin-right:5px; width:60px; font-size:12px; border:none;}
.quote input.main-quote-base-num,
.quote input.main-quote-ext-num {margin:0; padding:0;}
.quote input.main-quote-ext-num {}
.quote select.quote-spec-sel {min-width:0; width:150px;}
.quote select[name=transport_type] {min-width:0;}
.quote input[name=transport_floor] {min-width:30px; max-width:30px;}
.quote var {font-style:normal; padding:0 1px}

.quote-cap {font-size:20px; font-weight:bold;}
.quote-state {padding:10px 0; color:#aaa; font-size:12px;}
.quote-catalog {margin:20px 0;}
.quote-catalog-name {background-color:#eee; height:40px;}
.quote-catalog-name .ti {font-size:18px; font-weight:normal; float:left; line-height:40px;}
.quote-product-name {margin-left:2em;}
.quote-help {display:inline-block; width:14px; line-height:14px; height:14px; background-color:white; border-radius:10px; text-align:center; margin-left:5px; border:1px solid #ccc; cursor:pointer; color:#ccc;}
.quote-help:hover {border-color:#ff5500; color:#ff5500;}
.feature-ico {  display: inline-block;  width: auto;  height: 18px;  line-height: 18px;  padding: 0 2px;  border-radius: 3px;  margin-left: 5px;  cursor: pointer;  color: #fff;  background: #ff5500;  font-size: 13px;  }
.quote-toggle-btn {display:inline-block; float:left; font-size:1px; height:15px; line-height:13px; width:15px; border:1px solid #aaa; text-align:center; background-color:#fff; cursor:pointer; margin:11px 5px 0; color:#aaa; font-family:"Courier New",arial, sans-serif}
.quote-toggle-expand {}
.quote-row-checker {display:block; position:absolute; margin-top:3px;}
.quote-batch-operate-collapse .quote-row-checker,
.quote-readonly .quote-row-checker {display:none}

/** 折叠效果 **/
.quote-catalog-collapse .quote-water-ele-quantity-wrap,
.quote-catalog-collapse .quote-water-ele-list,
.quote-catalog-collapse .quote-item-list,
.quote-catalog-collapse .quote-toggle-batch-delete {display:none}

.quote-catalog-name .quote-help {width:20px; line-height:20px; height:20px; margin-top:10px;}
.quote-smt-btn {padding:0 20px; height:30px; line-height:30px; display:inline-block; vertical-align:middle; border-radius:3px; border:1px solid #ccc; background-image:linear-gradient(#fff, #efefef, #eee); cursor:pointer; color:#555}
input.quote-smt-btn {height:32px; line-height:32px; font-family:Microsoft Yahei, verdana, helvetica, sans-serif}
.quote-smt-btn-disabled {background:#ccc;}

.quote-item-list {}
.quote-item-list table {border-collapse:collapse; border-spacing:0; width:100%; margin-bottom:10px;}
.quote-item-list thead th {padding:5px 10px; font-size:16px; font-weight:normal}
.quote-item-list thead th a {font-size:12px;}
.quote-item-list .quote-tr-hover {background-color:#fafafa}
.quote-item-list th,
.quote-item-list td {text-align:left; padding:5px 10px 5px 10px; border-bottom:1px dotted #eee;}
.quote-item-list .craft-sku-row td {border-bottom:none;}

.row-disabled,
.row-disabled .quote-main-material-desc,
body .row-disabled .sum {color:#ddd;}

.quote-col-label thead th {color:#ccc; background-color:#fafafa; font-size:12px;}
.quote-col-label thead th:last-child {text-align:right}

.quote-item-list .sum {display:block; text-align:right; color:gray;}

.quote-catalog-sum {float:right; margin:-30px 20px 0 0; font-size:16px; color:#444}
.quote-catalog-sum em {font-style:normal;}
.quote-sum {font-size:18px; text-align:right; color:green; padding-right:20px;}
.quote-sum em {font-style:normal; font-weight:bold;}
.quote-sum var {font-size:26px;}
.quote-note {text-align:right; color:#ccc; padding:10px 20px 10px 0;}
.cal-note,
.cal-note var {font-size:12px; color:#ccc;}
.sep-sign {display:block; height:5px; font-size:0;}

.quote-item-list td.quote-main-material {}
.quote-item-list .quote-main-material-empty .quote-main-material {padding-left:10px;}
.main-material-sku-null {display:none}
.quote-main-material-empty .quote-main-material-thumb,
.quote-main-material-empty .quote-main-material-desc,
.quote-main-material-empty .main-quote-num,
.quote-main-material-empty .sep-sign,
.quote-main-material-empty .spec,
.quote-main-material-empty .price,
.quote-main-material-empty .sum,
a.add-main-material-btn {display:none}
.quote-main-material-empty a.change-main-material-btn,
.quote-main-material-empty a.del-main-material-btn  {display:none}
.quote-main-material-empty a.add-main-material-btn {display:inline-block;}
.quote-item-list .quote-main-material-empty {padding-left:10px;}
.quote-main-material-thumb {width:48px; height:48px; margin-right:10px; float:left; border:1px solid #ccc; border-radius:5px; overflow:hidden}
.quote-main-material-thumb img {width:100%;}
.quote-main-material-desc {color:gray;}
.quote-main-material-desc div {line-height:1}
.quote-main-material a {font-size:12px;}

.quote .col-name {width:350px;}
.quote .col-spec {width:180px;}
.quote .col-num {width:210px;}
.quote .col-price {width:120px;}

.quote-ext-config {margin:20px 10px;}
.quote-ext-config h3 {font-size:16px; font-weight:normal; padding-bottom:10px;}
.quote-ext-config ul {overflow:hidden; margin-bottom:5px;}
.quote-ext-config li {margin-right:10px; float:left;}

.quote-other-cost-tbl {width:300px;}
.quote-other-cost-tbl caption {text-align:left; color:#444; font-size:16px; padding:0 0 10px 10px;}
.quote-other-cost-tbl th,
.quote-other-cost-tbl td {padding:5px 10px; border:1px solid #eee; font-weight:normal; color:gray;}
.quote-footer-operate {text-align:right; padding:20px; float:right;}

a.delete-product-btn,
a.update-room-btn,
a.add-room-product-btn,
a.delete-category-btn,
a.add-house-btn,
a.add-demo-category-btn,
a.delete-sku-btn,
a.add-house-item-btn,
a.add-demo-category-item-btn,
a.add-category-item-btn,
a.add-room-btn {display:none}

.quote-catalog-hover a.add-room-btn,
.quote-catalog-hover a.add-house-btn,
.quote-catalog-hover a.add-demo-category-btn,
.quote-table-hover a.add-room-product-btn,
.quote-table-hover a.update-room-btn,
.quote-table-hover a.delete-category-btn,
.quote-table-hover a.add-house-btn,
.quote-table-hover a.add-demo-category-btn,
.quote-table-hover a.add-house-item-btn,
.quote-table-hover a.add-demo-category-item-btn,
.quote-table-hover a.add-category-item-btn,
.quote-tr-hover a.delete-sku-btn,
.quote-tr-hover a.delete-product-btn {display:inline-block; line-height:1}

/** 只读界面 **/
.quote-readonly select,
.quote-readonly input[type=text],
.quote-readonly input[type=number]{border:none; background-color:transparent; -webkit-appearance:none;}
.quote-readonly a.delete-product-btn,
.quote-readonly a.add-room-product-btn,
.quote-readonly a.update-room-btn,
.quote-readonly a.add-room-btn,
.quote-readonly a.delete-category-btn,
.quote-readonly a.add-house-btn,
.quote-readonly a.add-demo-category-btn,
.quote-readonly a.add-house-item-btn,
.quote-readonly a.add-demo-category-item-btn,
.quote-readonly a.delete-sku-btn,
.quote-readonly a.delete-demo-category-item-btn {display:none !important;}
.quote-readonly a.add-main-material-btn,
.quote-readonly a.del-main-material-btn,
.quote-readonly a.batch-toggle-btn,
.quote-readonly .quote-water-ele-quantity-wrap .btn,
.quote-readonly .quote-water-ele-list a,
.quote-readonly .quote-water-ele-list-empty,
.quote-readonly a.change-main-material-btn {display:none;}
.quote-readonly .quote-main-material-empty td {padding:0; border:none;}

/** 行 只读, 从上面拷贝过来的 **/
.row-disabled select,
.row-disabled input[type=text],
.row-disabled input[type=number]{border:none; background-color:transparent; -webkit-appearance:none; color:#ccc;}
.row-disabled a.delete-product-btn,
.row-disabled a.add-room-product-btn,
.row-disabled a.update-room-btn,
.row-disabled a.add-room-btn,
.row-disabled a.delete-category-btn,
.row-disabled a.add-house-btn,
.row-disabled a.add-demo-category-btn,
.row-disabled a.add-house-item-btn,
.row-disabled a.add-demo-category-item-btn,
.row-disabled a.delete-sku-btn,
.row-disabled a.delete-demo-category-item-btn {display:none !important;}
.row-disabled a.add-main-material-btn,
.row-disabled a.del-main-material-btn,
.row-disabled a.batch-toggle-btn,
.row-disabled a.change-main-material-btn {display:none;}
.row-disabled.quote-main-material-empty td {padding:0; border:none;}

.row-disabled .sep-sign,
.row-disabled .main-quote-num {color:#ccc;}


/** collapse 状态 **/
.quote-catalog-hover.quote-catalog-collapse a.add-room-btn,
.quote-catalog-hover.quote-catalog-collapse a.add-house-btn,
.quote-catalog-hover.quote-catalog-collapse a.add-demo-category-btn {display:none;}

/** spinner control **/
.quote-item-list .ui-spinner{padding:0 20px; height: 25px;line-height: 25px;border: 1px solid #cccccc;border-radius: 0}
.quote-item-list .ui-spinner-button{height: auto;}
.quote-item-list .ui-button-text-only .ui-button-text{padding:0;}
.quote-item-list .ui-spinner .ui-icon{margin-top: 3px;top: 0;}
.quote-item-list .ui-state-default, .quote-item-list .ui-widget-content .ui-state-default, .quote-item-list .ui-widget-header .ui-state-default,
.quote-item-list .ui-state-hover{border: none;}
.quote-item-list .ui-spinner-up{right: 0;top: 0; height: 25px;border-left:1px solid #ccc;}
.quote-item-list .ui-spinner-down{left: 0;top: 0;border-right:1px solid #ccc;}
.quote-item-list .ui-spinner .ui-icon-triangle-1-s {background-position: -48px -128px; }
.quote-item-list .ui-icon-triangle-1-n { background-position: -17px -128px;}
.quote-item-list .ui-spinner-input{margin: 0;}

.quote-item-list .ui-corner-all,
.quote-item-list .ui-corner-top,
.quote-item-list .ui-corner-left,
.quote-item-list .ui-corner-tl {border-top-left-radius: 0;}

.quote-item-list .ui-corner-all,
.quote-item-list .ui-corner-top,
.quote-item-list .ui-corner-right,
.quote-item-list .ui-corner-tr {border-top-right-radius: 0;}

.quote-item-list .ui-corner-all,
.quote-item-list .ui-corner-bottom,
.quote-item-list .ui-corner-left,
.quote-item-list .ui-corner-bl {border-bottom-left-radius: 0;}
.quote-item-list .ui-corner-all,
.quote-item-list .ui-corner-bottom,
.quote-item-list .ui-corner-right,
.quote-item-list .ui-corner-br {border-bottom-right-radius: 0;}

/** 水电点位 **/
.quote-water-ele-quantity-wrap {padding:10px; text-align:center; margin:5px 0; border:1px dashed #ccc;}
.quote-water-ele-quantity-wrap-hover { background-color:#fafafa;}
.quote-water-ele-quantity-wrap .txt { text-align:center}
.quote-water-ele-list {padding:10px; margin:5px 0; border:1px dashed #ccc; font-size:12px;}
.quote-water-ele-list-hover { background-color:#fafafa;}
.quote-water-ele-list h3 {font-weight:normal; font-size:18px; margin-bottom:4px;}
.quote-water-ele-list a {font-size:12px; font-weight:normal;}
.quote-water-ele-list .del-water-ele-point {visibility:hidden;}
.quote-water-ele-list-hover .del-water-ele-point { visibility:visible;}
.quote-water-ele-list table {font-size:13px; width:200px;}
.quote-water-ele-list td {padding:3px 0; border-bottom:1px solid #eee;}
.quote-water-ele-list tr:last-child td {border:none;}
.quote-water-ele-list .txt { min-width:0; width:30px; text-align:center;}

/** sort **/
.quote .sort .move{display: inline; background-color: #D3D2B3;}
.quote .sort .move:hover{background-color: #35847D;}
.quote-readonly .sort .move{display: none;}
.quote-readonly .quote-col-label .t_sort{display: none;}