.switch-tab {border:1px solid #eee; font-size:14px; font-weight:bold; overflow:hidden}
.switch-tab li {float:left; border-right:1px solid #eee;}
.switch-tab a {display:block; padding:5px 20px; color:#999}
.switch-tab a:hover,
.switch-tab .active a {background-color:#fafafa; color:#ff5500}

.image-list { overflow:hidden; margin-top:20px; width:1020px;}
.image-list .g-img {width:320px; height:240px;}
.image-list li {margin:0 20px 20px 0; float:left;}

.album-list { overflow:hidden; margin-top:20px; width:1020px;}
.album-list .g-img {width:320px; height:240px;}
.album-list li {margin:0 20px 20px 0; float:left;}
.album-list .ti {display:block; border:1px solid #eee; border-top:none; font-size:14px; padding:5px 10px; color:#666}
.album-list .cnt {float:right; font-size:12px; color:#999}
.album-list a:hover .ti {color:#ff5500}