@charset "UTF-8";

.hot-ico, .seo-more em, .tagnum, .source-msg em{background:url("../img/abico.png") no-repeat;_background:url("../img/abico_8.png") no-repeat;}
/*
@keyframes down-up
{
0% {margin-bottom: 0;}
100% {margin-bottom:-2px;}
}
@-webkit-keyframes down-up
{
0% {margin-bottom: 0;}
100% {margin-bottom:-2px;}
}*/

.seopage{font-family: Microsoft Yahei;}
.seo-main{float: left;width: 900px;margin-top: -10px;}
.seo-side{float: right;width: 290px;}

.seo-eachcont{margin-top: 20px;}
.seo-tltbg, .seo-tltbg img{width: 900px;height: 75px;}
.seo-tltbg .eng-name{text-transform: capitalize;line-height: 16px;}
.seo-tltbg h3{font-size: 33px;line-height: 35px;}
.seo-room{border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;}
.s-room-name{float: left;width: 103px; height:110px; padding-top: 50px; border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;font-size: 24px;line-height: 30px; text-align: center;}
.s-room-name h2{font-size: 24px;}
.s-room-name p{font-size: 20px;padding-left: 25px;}
.s-room-type{ float: left;width: 794px;height: 160px; border-bottom: 1px solid #e8e8e8;}
.s-room-type li{float: left; height:80px;border-right: 1px dotted #e8e8e8;}
.s-room-type li.last-row{border-right: 0}
.s-room-type li .seo-more em{display: inline-block;width: 10px;height: 9px;background-position: -590px -393px;margin-left: 5px;}
.s-room-type li h3{line-height: 22px;font-size: 15px;}
.s-room-type li a{display: block;width: 137px; height: 65px; padding: 10px 10px 5px;}
.s-room-type li.last-row a{width: 142px;}
.s-room-type li a h3{color: #266da1;}
.s-room-type li a:hover{background-color: #ebebeb;}
.s-room-type li a:hover h3{color: #266da1}
.s-room-type li p{height: 40px; overflow: hidden;color: #999999;}
.s-room-type li.lastli{text-align: center;padding-top: 20px;height: 60px;border-right: 0}
.s-room-type li.lastli a{color: #266da1;font-size: 14px;height: 40px;padding-top: 0;}
.s-room-type li.lastli a:hover{background-color: transparent;}
.s-room-type .hot-ico{display: inline-block;width: 13px;height: 13px;background-position: -587px -378px;margin-left: 5px;}

.seo-tagcont{}
.seo-tagcont .tagtlt{border-bottom: 1px solid #e8e8e8;line-height: 70px; font-size: 24px;color: #333333;}
.hottag-list li{position: relative;zoom:1;border-bottom: 1px solid #e8e8e8;padding:20px 30px 20px 55px;}
.hottag-list li h3{font-size: 18px;}
.hottag-list li em{display: block;position: absolute;left: 0;top: 20px;width: 35px;height: 34px;text-align: center;line-height: 34px;padding-right: 4px;color: #333;font-size: 20px;}
.hottag-list li .tagnum{ background-position: -561px -342px; color: #fff;top: 30px;}
.hottag-list .tagmsg{color: #999999;line-height: 22px;}

.newest-tag{margin-top: 50px;}
.newest-list{margin-top: 20px;}
.newest-list a{display: inline-block;padding: 2px 5px;border: 1px solid #c7c7c7;margin: 6px 6px 0 0;font-size: 14px;}
.newest-list a:hover{background-color: #ff5500;color: #fff;border-color: #ff5500;}

/*内页*/
.seo-innercont{margin-top: 10px;}
.seo-fitsort{}
.seo-fitsort dl{border:1px solid #e8e8e8;}
.seo-fitsort dt{float: left;width:90px;height: 60px; line-height: 30px; padding-top: 30px; border-right:1px solid #e8e8e8; color: #333333; text-align: center;font-size: 20px;position: relative;zoom:1;}
.seo-fitsort dt em{position: absolute;display: block;width: 0;height: 0;font-size: 0; border:8px solid #e8e8e8;border-top-color:transparent;border-bottom-color:transparent;border-right-color:transparent;}
.seo-fitsort dt .bor-arrow{right: -16px;top: 50%;margin-top: -8px;}
.seo-fitsort dt .bor-arrow em{border-left-color:#fff;right: -6px;top: -8px;}
.seo-fitsort dd{float: left;padding: 15px 0 0 30px;font-size: 14px;line-height: 20px;}
.seo-fitsort dd .active{color: #ff5500}
.seo-fitsort dd a{*display: inline-block;}
.seo-fitsort .sp-line{padding-left: 30px;}

.fitshare-list{padding-bottom: 20px;}
.fitshare-list li{position: relative;zoom:1; padding:35px 0 35px 390px;height: 230px; border-bottom: 1px solid #e8e8e8;}
.fitshare-list li:last-child{border-bottom: 0;}
.fitshare-list .imgbox{position: absolute;left: 0;top: 30px;width: 370px;height: 230px;overflow: hidden; }
.fitshare-list .imgbox img{width: 370px;height:auto;}
.fitshare-list .g-img{width: 370px;height: 230px;text-align: center;}
.fitshare-list li h2{font-size: 28px;line-height: 35px;height: 35px;overflow: hidden;white-space:nowrap; text-overflow: ellipsis;margin-top: -10px;}
.fitshare-list li h2 a{color: #333;}
.fitshare-list li h2 a:hover{color: #ff5500;}
.fitshare-list li a.readall{display: block; width: 85px; height: 30px;line-height: 30px; text-align: center; margin-top: 26px; border:2px solid #c7c7c7;}
.fitshare-list li a:hover.readall{border-color: #ff5500;}
.source-msg{font-size: 14px;color: #999999;margin-left: -5px;}
.source-msg span{padding:0 10px;display: inline-block;height: 50px;line-height: 50px;}
.source-msg em{vertical-align: middle;margin-right: 5px;margin-bottom: 3px;}
.source-msg .click-num em{display: inline-block;width: 10px; height: 15px;background-position: -590px -404px;}
.source-msg .msg-time em{display: inline-block;width: 10px; height: 11px;background-position: -590px -420px;}
.fitshare-msg{font-size: 16px;text-indent: 32px;color: #333333;line-height: 30px;height: 90px;overflow: hidden;}
.fitrecom-msg{padding: 35px 0; min-height: 75px;overflow: hidden; font-size: 14px;text-indent: 28px;color: #333333;line-height: 25px;}

.tagpic-list{margin-top: 15px;}
.tagpic-list li{float: left;width: 80px;height: 80px;margin: 20px 20px 0 0;overflow: hidden;display: inline;}
.tagpic-list li img{min-width: 80px;height: 80px;}
.tagpic-list li .imgbox{width: 80px;height: 80px; background-repeat: no-repeat;background-position: center;background-size: cover;}
.tagpic-list .row-last{margin-right: 0}

.seo-interested{margin-top: 40px;}
.interested-list{padding: 25px 0 40px;}
.interested-list li{background: url("../img/new_icon.png") no-repeat 0 -1522px;padding-left: 10px;width: 280px; height: 35px;line-height: 35px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}






