@charset "UTF-8";

.sz-tyg-bannerbg{
	background:#e4e0da url("../img/topic/ti_sz_bg01.jpg?v20151230") no-repeat center;
	height:495px;
}
.sz-tyg-banner{
	background: url("../img/topic/ti_sz_banner.jpg?v20151230") no-repeat center;
	width: 1210px;
	height:495px;
	margin: 0 auto;
}
.sz-tyg-banner h2{
	text-indent: -9999px;
}
.sz-tyg-ad{
	display: block;
	background: url("../img/topic/ti_sz_bg02.png") no-repeat center top;
	height: 219px;
	padding-bottom: 50px;
}
.sz-tyg-ad img{
	margin-top: 50px;
	width: 1210px;
	height: 170px;
}
.sz-tyg-photo1{
	background: url("../img/topic/ti_sz_photo01.jpg?v20151230") no-repeat center;
	height: 503px;
	position: relative;
	zoom:1;
}
.sz-tyg-intro{
	position: absolute;
	right: 10px;
	top: 25px;
	width: 380px;
	color: #1b1b1b;
	z-index: 11;
}
.sz-tyg-intro dt{
	font-size: 24px;
	font-weight: bold;
}
.sz-tyg-intro dd{
	font-size: 16px;
	line-height: 1.5;
}
.riband-bg1{
	position: absolute;
	right: -76px;
	top: -53px;
	width: 630px;
	height:1053px;
	background: url("../img/topic/ti_sz_bg05.png") no-repeat center;
}
.sz-tyg-photo2{
	margin-top: 7px;
	background: url("../img/topic/ti_sz_photo02.jpg?v20151230") no-repeat center;
	height: 440px;
}
.sz-tyg-sv{
	background: url("../img/topic/ti_sz_dullbg.jpg") repeat;
	padding: 25px 0 40px;
	margin-top: 50px;
}
.sz-tyg-tlt{
	height: 40px;
	line-height: 1;
}
.sz-tyg-tlt h2{
	display: inline;
	font-size: 27px;
	color: #000000;
}
.tyg-sv-list{

}
.tyg-sv-list li{
	float: left;
	width: 230px;
	height: 405px;
	border:1px solid #e9e9e8;
	box-shadow: 0 0 1px #e9e9e8;
	background-color: #fff;
	margin-right: 10px;
	display: inline;
	position: relative;
	zoom:1;
}
.tyg-sv-list li a{
	display: block;
	width: 230px;
	height: 405px;
	cursor: pointer;
}
.tyg-sv-list li span{
	display: block;
	width: 230px;
	height: 190px;
}
.tyg-sv-list dl{
	padding: 30px 15px 0;
}
.tyg-sv-list dt{
	font-size:20px;
	color:#000000;
}
.tyg-sv-list dd{
	padding-top: 5px;
	font-size: 16px;
	color: #999999;
	line-height: 1.3;
}
.sv-detail{
	position: absolute;
	bottom: 10px;
	right: 0;
	width: 100%;
	padding-right: 10px;
	text-align: right;
	font-size:14px;
	color: #ff5500;
}
.sv-photo1{
	background: url("../img/topic/ti_sv_photo01.jpg");
}
.sv-photo2{
	background: url("../img/topic/ti_sv_photo02.jpg");
}
.sv-photo3{
	background: url("../img/topic/ti_sv_photo03.jpg");
}
.sv-photo4{
	background: url("../img/topic/ti_sv_photo04.jpg");
}
.sv-photo5{
	background: url("../img/topic/ti_sv_photo05.jpg");
}
.sz-tyg-address{
	padding-top: 50px;
	padding-bottom: 100px;
	position: relative;
	zoom:1;
	z-index: 1;
}
.riband-bg2{
	position: absolute;
	right: 105px;
	top: -32px;
	width: 816px;
	height: 169px;
	background: url("../img/topic/ti_sz_bg04.png") no-repeat center top;
	z-index: 2;
}
.sz-tyg-address .sz-tyg-tlt{
	padding-bottom: 20px;
}
.sz-tyg-address .sz-tyg-tlt span{
	font-size:18px;
	padding-left: 20px;
}
.sz-tyg-address .sz-tyg-tlt span em{
	color: #000000;
}
.sztyg-address-cont{
	padding: 30px 15px;
	background-color: #f7f7f5;
	font-size: 18px;
}
.sz-tyg-address dt{
	color: #999999;
}
.sz-tyg-address dd{
	color: #000000;
	line-height: 1.5;
}
.map{
	float: left;
	background:url("../img/topic/ti_sz_map.jpg") center top no-repeat;
	width: 500px;
	height: 368px;
}
.address{
	float: left;
	width: 240px;
	padding: 40px 20px 0;
}
.metro {
  margin-top: 78px;
}
.riding{
	float: right;
	width:390px;
	padding-top: 40px;
}
.bus-line{
	font-size: 16px;
	border-top: 1px solid #cdcdcd;
	margin-top: 5px;
	padding-top: 5px;
}
.bycar{
	margin-top: 25px;
}
.sz-tyg-ball{
	background:url("../img/topic/ti_sz_ball.png") center no-repeat;
	width: 152px;
	height: 561px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -280px 0 0 600px;
	z-index: 10;
	display: none;
}
.note-box{
	display: none;
	height: 90px;
	padding-top: 20px;
	background: #c13e30;
	filter:none;
}
.note-box input{
	padding: 15px;
	margin-left: 10px;
}
.note-box input.name{
	width: 150px;
}
.note-box input.mobile{
	width: 250px;
}
.note-box input.g-btn, .note-box input.g-btn:hover{
	padding: 0;
	height: 55px;
	line-height: 55px;
	background-color: #ff9934;
	font-size: 24px;
	font-weight: bold;
}
.note-box .tlt{
	float: left;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	line-height: 1.5;
}
.note-box form{
	float: right;
	padding: 10px 0 0;
}