.user-layout {position:relative; margin-top:20px; background-color:#ffffff;}
.layout-side {width:180px; position:absolute; top:0; left:0;border:1px solid #eee}
.layout-main {margin-left:207px; min-height:500px; background-color:#fff; border:1px solid #eee;_height: 600px;}

.user-info {padding:20px 0 20px; text-align:center}
.user-info .g-img {width:80px; height:80px; margin:10px auto;}
.user-info .ti {font-size:14px; font-weight:bold; display:block}
.user-info .email {display:block;}

.user-layout .change-base-info-frm {padding:20px;}
.user-layout .g-lite-tab{margin: 30px 20px 0;}

/*用户信息列表*/
.user-message-list{width: 760px; margin:22px auto 0 auto;min-height: 100px;font-size: 14px;}
.user-message-list thead tr, .user-message-list tfoot tr{background-color: #f8f8f8;height:40px;}
.user-message-list tbody tr{height:60px;}
.user-message-list tr{border-top:1px solid #eee;}
.user-message-list .m-content{display: none;height: auto;}
.user-message-list .m-content td{padding:20px 45px;cursor: pointer;}
.user-message-list .m-content td p{line-height: 16px; font-size: 14px;color:#333;}
.user-message-list .m-content td .name{font-weight: bold;line-height: 20px;}
.user-message-list .unread{font-weight: bold}
.user-message-list .message-title:hover{color:#FF5500;}
.user-message-list .check-all{padding-left: 20px;}
.user-message-list .sub-btn {border:1px solid #eee; width: 80px; height:30px; background-color: #ffffff;color:#666;}
/*end 用户信息列表*/

/*用户安全验证*/
.user-safe-certify{width:760px;margin: 0 auto;}
.user-safe-certify tr{border-bottom: 1px solid #eee;}
.user-safe-certify td{height: 120px;font-size: 14px;color:#333;}
.user-safe-certify i{width: 20px;height: 20px;display: block;}
.user-safe-certify .no-certify{background-position: 0 -1850px;}
.user-safe-certify .certify{background-position: -50px -1850px;}
.user-safe-certify .s-icon{padding-left: 20px;width:30px;}
.user-safe-certify .s-type{font-family:"宋体"; font-weight: bold;width: 150px;}
.user-safe-certify .s-message{width: 400px;}
.user-safe-certify .s-operate{width: 100px;}

.certify-popup .m-error{margin: 10px auto; color:red;height: 21px;}
.certify-email-popup{margin: 0 auto 40px auto !important; width:498px;height:125px;text-align: center;}
.certify-email-popup input{background-color: #fff;padding-left: 15px;}
.certify-email-popup .e-txt{width:383px; height: 40px;}
.certify-email-popup .e-btn{width: 110px;margin-top: 30px;}

.certify-mobile-popup{margin: 0 auto 60px auto !important; width:498px;height:150px;text-align: center; }
.certify-mobile-popup .m-verify-content{margin: 20px 0;}
.certify-mobile-popup input{background-color: #fff;padding-left: 15px;}
.certify-mobile-popup .m-txt{width:383px; height: 40px;}
.certify-mobile-popup .m-verify-txt{width:212px; height: 40px;}
.certify-mobile-popup .m-verify-code{width:160px; height: 40px; border:1px solid #eee;font:12px "宋体"; line-height: 40px; color:#666; background-color: #fff;}
.certify-mobile-popup .m-verify-code:hover{color:#666;}
.certify-mobile-popup .m-btn{width: 90px;}
.certify-mobile-popup .m-disabled{background-color: #eee;cursor: default;}

.success-content {margin: 40px auto !important; width:420px;height:120px;}
.success-content .s-icon{width: 63px;height: 63px;background: url("../img/new_icon.png") 0 -1880px;float: left;}
.success-content .s-content{padding-left:73px;}
.success-content p{width: 350px;text-align: left;word-break: break-all;}
.success-content .s-tit{font-size: 18px; color:#333;}
.success-content .s-mobile-tit{padding-top:20px;}
.success-content .s-des{font-size: 14px; color:#666;}
.success-content .s-p{margin: 0 auto; text-align: center;}
.success-content .s-btn{padding:0 20px; margin-top: 20px;}
/*end用户安全验证*/


/*用户装修报价列表*/
.user-quotation-list{width: 760px; margin:22px auto 0 auto;min-height: 100px;font-size: 14px;}
.user-quotation-list thead tr, .user-message-list tfoot tr{background-color: #f8f8f8;height:40px;}
.user-quotation-list tbody tr{height:130px;}
.user-quotation-list tr{border-top:1px solid #eee;}
.user-quotation-list .price{font-weight: bold;font-size: 20px;color:#ff5500;}
.user-quotation-list table{width: 100%}
.user-quotation-list td,.user-quotation-list th{text-align: center;}
.user-quotation-list .g-btn-lite{margin: 0 5px;}
/*end 用户装修报价列表*/

.article-list {}
.article-list li {border-bottom:1px dotted #eee; height: 25px;line-height: 25px; padding:8px 0;overflow: hidden;zoom:1;}
.article-list .ti {font-size:14px;padding-left: 15px;float: left;width: 660px;height: 25px;line-height: 25px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.article-list .date {float:right; margin-right:2em; color:#aaa}
.article-list .del {float:right;padding-right: 15px;}

.album-content-title {font-size:14px; padding:5px;}
.backto-album-list {float:right; margin-top:-28px;}

.album-list {overflow:hidden; width:800px}
.album-list li {width:240px; overflow:hidden; position:relative; float:left; margin:20px 0 0 18px;display: inline;}
.album-list li.row-last {margin-right:0;}
.album-list .g-img {width:240px; height:180px; background-color:#eeeeee;}
.album-list .ti {display:block; padding:10px; border:1px solid #eee; border-top:none;}
.album-list .count {display:block; position:absolute; bottom:10px; right:10px; color:#aaa;}
.album-list .upd,
.album-list .del {display:none; position:absolute; top:5px; right:5px; background-color:rgba(0, 0, 0, 0.5); padding:2px 10px; color:white}
.album-list .upd:hover,
.album-list .del:hover { background-color:#ff5500;}
.album-list .upd {right:50px;}
.album-list li:hover .upd,
.album-list li:hover .del {display:block;}

.image-list {overflow:hidden; margin-top:20px; width:800px}
.image-list li {width:240px; overflow:hidden; position:relative; float:left; margin:0 20px 20px 0;}
.image-list li.row-last {margin-right:0;}
.image-list .g-img {width:240px; height:180px; background-color:#eeeeee;}
.image-list .upd,
.image-list .del {display:none; position:absolute; top:5px; right:5px; background-color:rgba(0, 0, 0, 0.5); padding:2px 10px; color:white}
.image-list .upd:hover,
.image-list .del:hover { background-color:#ff5500;}
.image-list .upd {right:50px;}
.image-list li:hover .upd,
.image-list li:hover .del {display:block;}

.add-folder {display:block; width:238px; height:170px; padding-top:50px; text-align:center; border:1px solid #eee;}

.add-folder-icon {display:block; margin:0 auto; width:70px; height:70px; background:url("../img/icon-png24.png") no-repeat -673px -125px;}
a:hover .add-folder-icon { background-position:-757px -125px;}

.quote-help {  display: inline-block;  width: 18px;  line-height: 18px;  height: 18px;  background-color: white;  border-radius: 10px;  text-align: center;  margin-left: 5px;  border: 1px solid #ccc;  cursor: pointer;  color: #ccc;  vertical-align: middle;  }