@charset "UTF-8";

.g-body{
	padding-bottom: 0;
}
.zbsq_wrapbg1, .zbsq_wrapbg2{
	width: 100%;
	background-color: #afa49b;
}
.zbsq_wrapbg1{
	background: url("../img/hd/zbsq_bg1.jpg") no-repeat top center;
}
.zbsq_wrapbg2{
	background: url("../img/hd/zbsq_bg2.jpg") no-repeat bottom center;
	height: 1165px;
}
.zbsq_wrap h2, .zb_ewm, .zb_intro, .zb_rgs em{
	background: url("../img/hd/zbsq_bg3.png") no-repeat;
	_background-image: url("../img/hd/zbsq_bg3_png8.png");
}
.zbsq_wrap{
	width: 1210px;
	margin: 0 auto;
	position: relative;
	zoom:1;
}
.zbsq_wrap h2{
	position: absolute;
	left: 0;
	top: 100px;
	width: 499px;
	height: 243px;
	padding-top: 50px;
	background-position: 0 0;
	color: #fff;
	font-size: 66px;
	line-height: 1.1;
	text-align: center;
	text-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.zbsq_wrap h2 strong{
	display: block;
	font-size: 80px;
	color: #fff;
}
.zb_ewm{
	position: absolute;
	left: 0;
	top: 415px;
	width: 377px;
	height: 400px;
	padding: 23px 0 0 75px;
	background-position: -509px 0;
}
.zb_intro{
	position: absolute;
	left: 0;
	top: 870px;
	width: 448px;
	height: 145px;
	padding: 15px 15px 0;
	background-position: 0 -320px;
	color: #fff;
	font-size: 24px;
	line-height: 1.8;
	text-indent: 60px;
}
.zb_rgs{
	position: absolute;
	right: 0;
	top: 100px;
	background: #fff;
	width: 673px;
	height: 952px;
	z-index: 2;
	*background: url("../img/hd/zbsq_bg4.png") no-repeat;
}
.zb_rgs em{
	position: absolute;
	left: 40px;
	top: 40px;
	width: 62px;
	height: 56px;
	background-position: -509px -433px;
	z-index: 3;
}
.zb_rgs:after{
	content: "";
	position: absolute;
	left: -10px;
	top: -10px;
	background: url("../img/hd/zbsq_bg4.png") no-repeat;
	width: 673px;
	height: 952px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	z-index: 1;
}