@charset "UTF-8";

#page-zxjz .g-body{
	background:#f6f6f6 url("../img/hd/zxjz_bannerbg.jpg") no-repeat center top;
	padding-bottom: 60px;
}
#page-zxjz .appoint{
	text-align: center;
}
#page-zxjz .appoint .tip{
	padding-right: 180px;
	color: #ff5500;
	font-size: 16px;
	text-align: right;
	line-height: 2;
}
#page-zxjz .appoint .g-txt{
	width: 280px;
	height: 30px;
	margin-right: 10px;
	font-size: 16px;
	font-family: Microsoft Yahei;
}
#page-zxjz .appoint .g-btn{
	width: 280px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	font-family: Microsoft Yahei;
}
.zxjz-wrap{
	width: 1130px;
	margin: 0 auto;
}
.zx-banner{
	width: 1210px;
	height: 600px;
	position: relative;
	zoom:1;
}
.zx-banner img{
	position: absolute;
	left: 0;
	top: 0;
	width: 1210px;
	height: 350px;
}
.zxjz-mod{
	margin-top: 30px;
	padding: 0 60px 20px;
	border-top: 4px solid #ffd321;
	background-color: #ffffff;
	position: relative;
	zoom:1;
}
.zxjz-mod:after{
	content: "";
	position: absolute;
	left: 10px;
	bottom: -10px;
	width: 1110px;
	height: 10px;
	background: url("../img/hd/zxjz_modbg.png") no-repeat center;
}
.zxjz-mod h3{
	padding: 20px 0;
	text-align: center;
	font-size: 36px;
	line-height: 1.5;
	font-weight: bold;
}
.zxjz-mod img{
	display: block;
	margin: 15px 0;
	width: 1010px;
	height: auto;
}
.swiper-container{
	height: 250px;
}
.swiper-container img{
	max-width: 1010px;
	height: auto;
}
.arrow-left, .arrow-left:hover, .arrow-right, .arrow-right:hover{
	position: absolute;
	top: 150px;
	width: 17px;
	height: 35px;
	padding: 50px 10px;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000');
	background:rgba(0,0,0,0.3);
	cursor: pointer;
	z-index: 10;
}
.arrow-left {
	left: 10px;
}
.arrow-left span{
	background-position: 0 -683px;
	margin: 0;
}
.arrow-right {
	right: 10px;
}
.arrow-right span{
	background-position: 0 -645px;
	margin: 0;
}
/**活动细则S**/
.zxjz-rule{
	margin-top: 30px;
	width: 1070px;
	padding: 30px 0 30px 60px;
	color: #333333;
	font-size: 16px;
	line-height: 1.5;
	background: #ffffff;
	position: relative;
	z-index: 1;
}
.zxjz-rule h2{
	padding-bottom: 15px;
	font-size: 24px;
	font-weight: bold;
}
/**活动细则E**/
.zxjz-media{
	border-top: 1px solid #cccccc;
	background: url("../img/hd/kn_contbg3.png?v20160119") no-repeat center;
	height: 269px;
	margin-top: 0;
	text-indent: -9999px;
	position: relative;
	zoom:1;
}
.zxjz-media .this-shadow{
	position: absolute;
	bottom: -24px;
	left: 0;
	background: url("../img/hd/ny_contbg5_shadow2.png") no-repeat center;
	width: 1130px;
	height: 24px;
}

/**预约弹层样式S**/
.ac-order-layer {
  position: fixed;
  _position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000', endColorstr='#66000000');
  background:rgba(0,0,0,0.4);
}

.ac-order-tip {
  position: fixed;
  _position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -180px;
  width: 360px;
  height: 200px;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC000000', endColorstr='#CC000000');
  background:rgba(0,0,0,0.8);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  display: table;
  display: block\9;
  z-index: 16;
}

.ac-order-tip .ac-order-tip-con {
	width: 320px;
	padding: 0 20px;
	display: table-cell;
	display: block\9;
	padding-top: 80px\9;
	height: 220px\9;
	vertical-align: middle;
	font-size: 16px;
}

.close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background: #000000;
  width: 40px;
  height: 40px;
  line-height: 1.2;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  border-radius: 100%;
  cursor: pointer;
}
/**预约弹层E**/
.side-order-btn{
	position: fixed;
	_position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 600px;
	width: 90px;
	height: 90px;
	background-color: #ffd321;
	color: #333333;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	z-index: 10;
}
.side-order-btn em{
	display: block;
	margin: 20px auto 5px;
	width: 59px;
	height: 26px;
	background: url("../img/new_price.png?v20160311") no-repeat -81px -198px;
	_background-image: url("../img/new_price_png8.png?v20160311");
}


























