.steps {color:#282828}
.steps em {font-size:100px; line-height:1; display:block; position:absolute; left:0; top:0}
.steps li {padding-left:190px; margin-top:50px; position:relative; font-size:20px;}
.steps p {margin-bottom:10px;}