.gdp-banner {height:500px; background:url("../../img/gdp/banner.jpg") no-repeat center;}
.gdp-banner .g-new-wrap {position:relative;}
.gdp-banner h2 {text-indent:-9999em;}
.main-slogan { position:absolute; top:205px; left:324px; font-weight:lighter;}
.main-slogan li {float:left; font-size:24px; line-height:20px; padding:0 10px; border-right:1px solid #ddd;}
.main-slogan li.last {border:none;}

.sub-slogan li {position:absolute; color:white; line-height:30px; font-size:24px; font-weight:lighter; text-align:center;}
.sub-slogan .ss1 {top:210px; left:3px;}
.sub-slogan .ss2 {top:354px; left:152px;}
.sub-slogan .ss3 {top:95px; right:152px;}
.sub-slogan .ss4 {top:270px; right:1px}

.gdp-banner-btn {display:block; position:absolute}
.start-design-btn {top:245px; left:443px;}

.new-guide-btn,
.func-intro-btn {top:340px; left:443px; }
.func-intro-btn {left:611px;}

.steps {font-size:20px; overflow:hidden; height:70px; width:800px; margin:0 auto;}
.steps b { font-weight:normal; display:block;}
.steps li {float:left; margin:0 60px; line-height:1.5; cursor:pointer;}
.steps .active,
.steps li:hover {color:#ff6600}
.steps .s4 {margin-right:0;}

.design-wrap { background-color:#748692; color:white}
.design-wrap .gdp-sub-cap {color:white;}
.design-wrap .image-show-one {height:675px; overflow:hidden;}

.image-show-one {display:block;}
.image-show-one li {display:none; width:100%; text-align:center; padding:30px 0}
.image-show-one .active {display:block;}

.steps-progress {background:url("../../img/gdp/progress_bar.png") no-repeat 0 0; height:28px; width:800px; margin:0 auto;}
.steps-progress-2 span,
.steps-progress-3 span {display:block; margin-left:50px; height:100%; background:url("../../img/gdp/progress_bar.png") bottom right; width:362px;}
.steps-progress-3 span {width:555px;}
.steps-progress-4 {background-position:bottom left;}

.plan-demo-list {height:640px; position:relative;}

.design-style-tab {width:740px; margin:20px auto 0 auto; clear:both;}
.design-style-tab li {width:235px; height:70px; position:relative; border:1px solid white; float:left; font-size:20px; line-height:70px; text-align:center; margin-right:10px; cursor:pointer;}
.design-style-tab .last {margin:0;}
.design-style-tab .active,
.design-style-tab li:hover {background-color:white; border-color:white; color:#ff6600;}
.design-style-tab li:hover:after,
.design-style-tab .active:after {content:""; display:block; height:0; width:0; border:10px solid transparent; border-top-color:white; position:absolute; bottom:-20px; left:50%; margin-left:-10px;}