.gdp-banner {height:550px; background:url("../../img/gdp/intro_banner.jpg") no-repeat top center;}
.gdp-banner .g-new-wrap {position:relative; height:100%; background:url("../../img/gdp/intro_steps.png") no-repeat bottom center;}
.gdp-banner h2 {text-indent:-9999em;}
.main-slogan { position:absolute; top:205px; left:324px; font-weight:lighter;}
.main-slogan li {float:left; font-size:20px; line-height:20px; padding:0 10px; border-right:1px solid #ddd;}
.main-slogan li.last {border:none;}

.sub-slogan li {position:absolute; color:white; line-height:30px; font-size:24px; font-weight:lighter; text-align:center;}
.sub-slogan .ss1 {top:210px; left:3px;}
.sub-slogan .ss2 {top:354px; left:152px;}
.sub-slogan .ss3 {top:95px; right:152px;}
.sub-slogan .ss4 {top:270px; right:1px}

.gdp-banner-btn {position:absolute;}
.start-design-btn {top:245px; left:443px;}

.design-wrap .gdp-sub-cap {padding-top:20px;}

.fun-desc {padding:20px 0; margin:0 auto; font-weight:lighter; line-height:1.5; font-size:20px; text-align:center; background:url("../../img/gdp/cross.png") center top no-repeat;}
.models-wrap { background:#8cd2ff; padding-bottom:60px;}
.effect-wrap { background-color:#866a93; color:white; padding-bottom:50px;}
.effect-wrap h2 {color:white}
.effect-wrap .fun-desc {background-image:url("../../img/gdp/cross_white.png")}