.gdp-page-cap {background-image:url("../../img/gdp/cap_lst.png"); background-position:0 10px}
.add-plan-btn {float:right; margin:-35px 10px 0 0; font-size:16px;}
.add-plan-btn:after {content:"+"; color:#f56720; font-size:30px; line-height:26px; margin-left:5px; float:right;}

.image-thumb-cell {width:240px; text-align:left;}
.plan-list {width:100%; border-spacing:0; border-collapse:collapse; font-size:16px;}
.plan-list tr:last-child td {border:none;}
.plan-list td {border-bottom:1px solid #eee; padding:20px 5px}
.plan-list td.op {width:650px; text-align:right; }
.plan-list h3 {font-size:24px;}
.plan-list .image-thumb {display:block; width:200px; height:200px; overflow:hidden; margin:0 auto; border:1px solid #ddd}

.img-detail-wrap { position:relative;}
.img-detail {text-align:center;}