.gdp-search-wrap {min-height:500px;}
.gdp-search-frm {width:800px; border:1px solid #ccc; background-color:#ffffff; margin:20px auto; border-radius:10px; padding:2px;}
.gdp-search-frm .g-btn {background:url("../../img/gdp/zoom.png") no-repeat #f56720 center; height:56px; width:80px; line-height:56px; text-indent:-9999em; border-radius:10px;}
.gdp-search-frm select {border:none; font-size:20px; font-family:Microsoft Yahei, helvetica, verdana, sans-serif}
.gdp-search-frm .g-txt {width:564px; border:none; padding:0 20px; font-size:20px; font-family:Microsoft Yahei, helvetica, verdana, sans-serif; border-left:1px solid #ccc; margin-left:20px; outline:none;}

.plan-list {width:1120px; margin:30px auto;}
.plan-list li {float:left; width:200px; height:250px; overflow:hidden; padding:10px; text-align:center; border:1px solid #ddd; margin:0 -1px -1px 0; position:relative; font-size:14px; background-color:#ffffff;}
.plan-list li div {margin-bottom:5px;}
.plan-list form {display:none; background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000'); height:100%; width:100%; position:absolute; top:0; left:0}
.plan-list li:hover form {display:block;}
.plan-list .g-btn {border:1px solid white; background: url("../img/a.gif"); width:150px; height:50px; line-height:50px; text-align:center; font-size:16px; font-weight:bold; position:absolute; left:45px; top:100px; border-radius:0}
.plan-list .g-btn:hover { background: #f56720; border-color:#f56720; color:white;}
.plan-list img {height:200px;}
.plan-list-empty {text-align:center; font-size:18px; color:#aaa; padding:50px 0}