@import "default";

//default style
@root-size:14px;
@fore-color:#333333;
@back-color:#f4f4f4;
@link-color:#0a82ec;

@select-border-color:#999999;

@button-disabled-text-color:#aaaaaa;
@button-text-color:#ffffff;
@button-background-start:#0a82ec;
@button-background-end:#0a82ec;