
//default style
@root-size:14px;
@fore-color:#333333;
@back-color:#ffffff;
@link-color:#0a82ec;

@select-border-color:#999;
@button-border-color:#999;
@button-disabled-text-color: #aaa;
@button-text-color:darken(@fore-color, 20%);
@button-background-start:#f5f5f5;
@button-background-end:#dddddd;

@import "files";