@charset "UTF-8";
@import "../common/reset.css";
body {font-family:Microsoft Yahei, verdana, helvetica, sans-serif; font-size:12px; background-color:white; overflow-y:scroll}
a {color:#5272C2; text-decoration:none;}

/** 表单元素 **/
select, input.chk, label{vertical-align:middle;}
select {font-family:Microsoft Yahei, SimSun, Courier new, Tahoma, Lucida Grande, serif}
select {padding:6px; border-radius:2px; border:1px solid #ccc; min-width:147px; height:30px}

/** 表单输入元素 **/
input.txt, textarea.txt {border:1px solid #bbb; min-width:135px; border-bottom-color:#ddd; border-right-color:#ddd; vertical-align:middle; padding:6px; border-radius:2px; font-family:microsoft yahei, Arial, Helvetica, sans-serif; font-size:12px; background-color:white}
input.txt[type=number] {min-width:50px; max-width:50px;}
input.txt[disabled],
textarea.txt[disabled] {border:1px solid #ddd; border-left-color:#ccc; border-top-color:#ccc}
input.long-txt {width:770px;}
input.date_txt {background:url("img/date.png") no-repeat left center; padding-left:18px; font-weight:bolder; color:blue}
.rich-txt {width:800px; height:400px}
body input.txt-order {min-width:30px; text-align:center;}
.small-txt {width:400px; height:50px; resize:vertical}
.date-txt {width:85px;}
.date-time-txt, .date-txt {background:url("img/date.png") no-repeat 97% center}

/** 按钮 **/
.btn {border:none; font-family:Microsoft Yahei, verdana, helvetica, sans-serif; display:inline-block; box-shadow:1px 1px 4px #ddd; cursor:pointer; padding:3px 15px 5px; letter-spacing:1px; background-color:#6684A9; color:white; border-radius:1px; vertical-align:middle}
input.btn {padding:6px 17px 7px; _padding:4px 15px 5px; vertical-align:middle}
.btn:hover {background-color:#6F91BB; text-decoration:none}
.btn-weak {background-color:#FBFBFB; color:gray; border:1px solid #bbb;}
.btn-weak:hover {background-color:#ccc; color:gray;}
input.btn-weak {padding:6px 14px 5px; _padding:3px 12px 4px 12px}
.btn[disabled],
.btn-disabled {background-color:#eee; color:#bbb; text-shadow:1px 1px 1px white; cursor:default}

.small-btn {display:inline-block; margin:1px 3px; text-shadow:1px 1px 1px #ccc; padding-left:14px; cursor:pointer; color:#555; background:url("img/arrow_up_small.gif") no-repeat 0; vertical-align:middle}
.small-btn:hover {color:black;}
.small-add-btn {background-image:url("img/arrow_add_small.png")}
.small-down-btn {background-image:url("img/arrow_down_small.gif")}
.small-delete-btn {background-image:url("img/arrow_delete_small.png")}

/** 辅助 **/
.nowrap {white-space:nowrap}
.well {background-color:#fff; border:1px solid #eee; border-radius:5px; padding:5px;}
.text-center {text-align:center !important}
.image-error img{visibility:hidden;}
.image-error {background:url("img/img_error.png") no-repeat center}
.delete-icon {background:url("img/delete.png") no-repeat; display:inline-block; width:11px; height:11px; text-indent:-999em; overflow:hidden}

#browser-warning {background-color:#ff8f4a; padding:8px 10px; text-align:center; color:white; font-size:14px; text-shadow:1px 1px 1px black;}
#browser-warning a {color:white; text-decoration:underline}

.data-empty {font-size:14px; padding:10px 0; text-align:center; color:gray;}

/** 对话框patch **/
.page-iframe body {overflow:hidden; background:none;}
.page-iframe textarea {resize:none}
.page-iframe body {overflow-y:auto;}
.page-iframe #header,
.page-iframe #col-aside,
.page-iframe #footer {display:none}
.page-iframe #col-main {margin-left:0}
.page-iframe .frm-tbl caption {display:none}
.page-iframe .frm {padding:0; background-color:transparent; border:none;}

#header {background-color:#2F2F34; position:relative; color:#eee; height:30px; padding:5px}
#sidebar {float:left; width:220px}
#container {padding:10px; min-height:100px}
#col-aside {position:absolute; width:150px;}
#col-main {margin-left:160px;}
#logo {float:left; margin:5px 0 0 5px; padding-right:5px; height:20px}
#logo a {color:#fff; font-size:18px;}
#logo span {font-size:10px; color:#ddd}
#logo .small {font-size:12px; font-weight:normal;}
#footer {text-align:center; color:#bbb; padding:10px 0; clear:both;}
#welcome {float:right; margin:10px 100px 0 10px;}
#welcome a {color:white;}

/** 侧边导航 **/
.aside-nav {padding-bottom:10px; display:block;  text-shadow:1px 1px 1px #aaa}
.aside-nav dt {font-size:14px; font-weight:bold; text-shadow:1px 1px 1px #eee; padding:5px 10px; border-radius:2px; color:gray;}
.aside-nav dt.active {background-color:#9FBE99}
.aside-nav dd {margin:1px 0}
.aside-nav dd a {display:block; padding:5px 10px}
.aside-nav dd a:hover {background-color:#CFDDFF;}
.aside-nav dd.active a {background-color:#837E97; color:white}

/** 系统选择按钮 **/
.system-choice {background-color:#545369; color:white; border-radius:3px; position:absolute; top:11px; right:9px;}
.system-choice dt {background:url("img/button_grey_down.png") no-repeat 90% center; padding:2px 28px 2px 8px; color:#ccc; cursor:default}
.system-choice dd {display:none;padding-bottom:3px;}
.system-choice dd a {color:white; display:block; padding:2px 10px;}
.system-choice dd.active a{background:url("img/blue-dot.png") no-repeat 90% center}
.system-choice dd a:hover {background-color:gray;}
.system-choice:hover dd {display:block;}

/** 主导航 **/
#main-nav {float:left; margin:4px 10px -10px 0; background-color:#2F2F34}
#main-nav li {float:left; margin-right:2px}
#main-nav li.active {background-color:#606A7E;}
#main-nav li.active a{color:white}
#main-nav li:hover {background-color:#606A7E;}
#main-nav a {color:#eee; display:block; line-height:25px; padding:3px 15px;  text-transform:capitalize;}
#main-nav a[href^=javascript] { cursor:default}
.main-nav-has-children>a:after {content:""; display:block; width:0; height:0; border:4px solid transparent; border-top-color:gray; float:right; margin:12px 0 0 7px;}
.main-nav-has-children:hover a:after {border-top-color:transparent; border-bottom-color:#eee; margin-top:7px;}

/** 主导航 - 子菜单 **/
li:hover .sub-nav {display:block;}
.sub-nav {display:none; width:130px; position:absolute; z-index:1000; padding-bottom:10px; background-color:rgba(96, 106, 126, 0.95); box-shadow:2px 2px 4px #BBB}
.sub-nav a {margin:0 5px; text-shadow:1px 1px 1px #343434}
.sub-nav dt:first-child {border:none}
.sub-nav dt {color:gray; margin:0 10px; font-size:9px; cursor:default; clear:both; background:url("img/line.png") repeat-x 0 center;}
.sub-nav dt span {background-color:#636F80; margin-left:7px; display:inline-block; padding:1px 3px;}
.sub-nav dd:hover {background-color:#8090B2;}
.sub-nav dd {border-radius:0; padding:1px; margin:0;}
.sub-nav dd:last-child {}
.sub-nav dd:last-child a{border:none}
.sub-nav-bigger {width:290px; padding-left:5px;}
.sub-nav-bigger dd {float:left;}

.operate-bar {margin:10px 0;}

/** 表单 **/
.frm {margin:5px; padding:10px; background-color:#fff; border:1px solid #eee;}
.frm legend {font-size:18px; padding:2px 0 15px; text-shadow: 1px 1px 1px gray;}
.frm-tip {color:gray; padding:0 10px;}
.frm-tbl {width:100%; margin-bottom:10px;}
.frm-tbl caption,
h3.caption {text-align:left; font-weight:bold; font-size:16px; border-bottom:1px solid #ddd; color:#555; padding:5px 5px 15px 5px; margin-bottom:10px;}
.caption .btn {font-size:12px; font-weight:normal;}
.caption .drop-list {font-size:12px; font-weight:normal;}
.frm-tbl {border-collapse:collapse; border-spacing:0;}
.frm-tbl td.col-label {width:60px; vertical-align:top}
.frm-tbl tr.odd {background-color:#FAFAFA;}
.frm-tbl td {padding:5px 10px; line-height:20px;}
.frm-tbl td label {margin-right:7px;}
.frm-tbl td.col-label label {margin-right:0}
.col-action {padding-top:10px !important;}
.col-label {text-align:right;}

/** 表单tab **/
.frm-tab {border-bottom:1px solid #ccc; margin-top:10px; min-height:34px;}
.frm-tab:after {content:""; display:block; clear:both;}
.frm-tab li {float:left; margin:5px 0 -1px 10px; text-align: center; color:gray; cursor:pointer;}
.frm-tab li a {min-width: 60px; color:gray; background-color:#eee; display:inline-block; border-radius:2px 2px 0 0; padding:4px 20px; border:1px solid #ccc;}
.frm-tab li a:hover{background-color:#fff;}
.frm-tab .active a {background-color:#fff; color:black; text-shadow:1px 1px 1px white; font-weight:bold; border-bottom-color:white}
.frm-tab-content {padding:10px 0;}
.frm-tab-content .disactive {display:none}


/** 图片缩略图 **/
.image-thumb {display:block; width:80px; height:80px; position:relative; overflow:hidden; border:1px solid #eee; border-radius:5px; margin:10px 0 0; text-align:center}
.image-thumb img {height:100%; vertical-align:middle;}
.image-thumb .delete-link {display:none; position:absolute; bottom:0; text-align:center; width:100%; background-color:rgba(61, 83, 205, 0.31); color:white; text-shadow:1px 1px 1px gray; cursor:pointer}
.image-thumb .delete-link:hover {background-color:rgba(61, 83, 205, 0.9)}
.image-thumb:hover .delete-link {display:block}
.image-thumb .view-source-link {display:none; position:absolute; top:0; right:0; text-align:center; width:100%; background-color:rgba(61, 83, 205, 0.31); color:white; text-shadow:1px 1px 1px gray; cursor:pointer}
.image-thumb:hover .view-source-link {display:block;}
.image-thumb .chk { position:absolute; bottom:0; right:0;}

/** 上传 **/
.uploader {width:150px;}
.uploader input[type=file] {clip:rect(1px,1px,1px,1px); display:block; position:absolute;}
.uploader progress {display:none;}
.uploader-message {padding:5px 0 0 0; display:none}
.uploader .image-thumb {display:none;}
.uploader-normal .uploader-btn,
.upload-success .uploader-btn,
.upload-error .uploader-btn {display:inline-block; background:url("img/upload24.png") no-repeat 7px #fff; color:#437cb0; cursor:pointer; border-radius:3px; padding:3px 8px 3px 37px;}
.upload-error .uploader-btn:hover,
.upload-success .uploader-btn:hover,
.uploader-normal .uploader-btn:hover {color:#5cabf3}
.upload-success .image-thumb {display:block;}
.uploading progress {display:block;}
.uploading .uploader-btn {display:none}
.uploading .uploader-message {color:gray; display:block;}
.uploader-success .image-thumb {display:block;}
.upload-error .uploader-message {color:red; display:block}

/** 检索 **/
.search-frm {margin:10px 0; overflow:hidden; zoom:1}
.search-frm .frm-item {padding:5px 10px 5px 0; float:left; vertical-align:middle}
.search-frm .frm-item label {display:inline-block; vertical-align:baseline}
.search-frm input, .search-frm select {min-width:0;}
.search-frm select {max-width:120px;}

/** 数据表格 **/
.data-tbl {border-collapse:inherit; border-spacing:1px; border:1px solid #ddd; width:100%; _width:98%; font-size:12px; background-color:#fff}
.data-tbl caption {display:none;}
.data-tbl tr th {border:1px solid #ddd; padding:5px; text-align:left; background-color:#eee; white-space:nowrap; text-shadow:1px 1px 1px white}
.data-tbl td {border:1px solid #eee; padding:5px;}
.data-tbl tr:nth-child(odd) {background-color:#FDFDFD}
.data-tbl .idx_col {width:40px; text-align:center;}
.data-tbl tr.hover td, .data-tbl tr.selected td {background-color:#e7eef4}
.data-tbl a {white-space:nowrap}
.data-tbl tr:hover td {background-color:#F7FAFF}

/** 分页 **/
.pagination {padding:10px 0; display:inline-block; color:gray}
.pagination em {font-style:normal}
.pagination span,
.pagination em,
.pagination a {padding:4px 5px;}
.pagination .page_num em {font-weight:bold; text-decoration:underline}
.pagination .page_num .page_dots {text-decoration:none;}
.pagination .page_input_form {display:inline}
.pagination .page_input,
.pagination .page_size_input {width:40px; border:1px solid #ccc; border-radius:3px; padding:3px 5px; text-align:center; vertical-align:middle}
.pagination .page_jump_btn,
.pagination .page_size_submit {border:1px solid #ccc; padding:2px 4px; margin-left:3px;}
.pagination .page_select_form,
.pagination .page_size_form {display:inline; margin:0 5px;}
.pagination .page_select_form select {min-width:0; padding:1px 3px; height:25px; margin-left:3px;}
.pagination .page_size_input {width:55px; margin-left:5px;}

/** 状态标签 **/
.state-label {background-color:#83cca7; color:white; white-space:nowrap; text-shadow:1px 1px 1px gray;}
span.state-label {padding:2px 8px; display:inline-block; font-size:10px; border-radius:5px; -webkit-transform:scale(0.9);}
.state-label-disable {background-color:gray;}
.state-label-success {background-color:#83cca7}
.state-label-warn {background-color:#ffc396;}
.state-label-error {background-color:red;}

.tag-label {display:inline-block; background-color:#ddd; color:#555; padding:1px 8px; margin:0 1px 2px 0; border-radius:4px;}

.tab-lst {overflow:hidden; zoom:1; float:right; margin:-25px 10px 0 0}
.tab-lst li {float:left; padding:2px 15px;}
.tab-lst li.current {background-color:#fff; border:1px solid #ccc; border-right-color:gray; border-bottom:none;}

/** 下拉列表，结构： dl>dt>a+dd>a **/
.drop-list {display:inline-block; vertical-align:middle; position:relative;}
.drop-list a,
.drop-list span {white-space:nowrap; cursor:pointer;}
.drop-list dt {display:block; position:relative; cursor:pointer; padding:3px 20px 3px 10px; white-space:nowrap;}
.drop-list dt.btn a {color:white;}
.drop-list dt:after {content:''; display:block; position:absolute; width:0; height:0; border:4px solid transparent; border-top-color:#ccc; right:7px; top:12px;}
.drop-list dt.btn:after {border-top-color:white;}
.drop-list dt.btn-weak:after {border-top-color:gray;}
.drop-list dd {display:none; position:absolute; box-shadow:1px 1px 5px #ddd; padding:5px 0; margin-right:10px; z-index:1; left:0; background-color:rgba(255, 255, 255, 0.95); border-radius:3px; min-width:80px;}
.drop-list dd a,
.drop-list dd span {display:block; padding:3px 10px;}
.drop-list dd a:hover,
.drop-list dd span:hover {background-color:#ddd;}
.drop-list-left dd {left:auto; right:0; margin-right:0}
.drop-list:hover dd {display:block;}
.drop-list:hover dt:after {border-color:transparent; border-bottom-color:gray; top:8px;}
.drop-list:hover dt.btn:after {border-bottom-color:white;}
.drop-list:hover dt.btn-weak:after {border-bottom-color:gray;}

/** 日历 **/
.calendar {border-collapse:collapse; border-spacing:0; font-size:13px; width:500px; margin:30px 0 0 30px; _margin-left:10px; float:left;}
.calendar caption {font-size:24px; font-weight:bold; text-align:left; padding:0 0 10px; text-transform:uppercase;}
.calendar td {padding:15px 10px; text-align:center; border:2px solid #fff; background-color:#eee; }
.calendar th {font-weight:normal; text-align:center}
.calendar tbody th {color:green;}
.calendar thead th {text-transform:capitalize}
.calendar .prev_month,
.calendar .next_month {color:#aaa; background-color:white; font-weight:normal;}
.calendar .today {color:white; background-color:#8C58C5; border-radius:7px}

.category-select-list dl {float:left; width:130px; margin:3px 3px 0 0; border:1px dotted #ccc}
.category-select-list dt {background-color:#eee; padding:3px 10px}
.category-select-list dd {padding:5px 10px;}
.category-select-list select {width:115px; height:150px; overflow:auto; min-width:0;}
.category-select-list label {display:block;}

.image-select-list li {float:left; width:80px; height: 80px; overflow: hidden; position: relative; margin:0 10px 5px 0; border:1px solid #eee; text-align: center}
.image-select-list img {height: 80px; display: block; margin: 0 auto;}
.image-select-list input[type=checkbox] {position: absolute; bottom:1px; right:1px; display: block;}
.image-select-list a {display: none; position:absolute; top:0; right:0;}
.image-select-list li:hover a {display:block;}

.server-DEV #logo:after,
.server-GAMMA #logo:after,
.server-IDC #logo:after,
.server-BETA #logo:after {content:""; display:inline-block; font-size:12px; color:red; font-weight:normal}

.server-DEV #logo:after {content:"开发"; color:#ccc;}
.server-GAMMA #logo:after {content:"预发布"; color:orange}
.server-IDC #logo:after {content:"生产"; color:red;}
.server-BETA #logo:after {content:"测试"; color:green;}