body {overflow-y:scroll}
.frm-tbl td.col-label { white-space:nowrap;}
.operate-bar {float:left; margin-top:10px}
.search-frm {float:right;}
input[required], select[required] {border-color:rgb(255, 195, 195)}
input[readonly], select[readonly],
input[disabled], select[disabled] {border-color:#ccc; color:#aaa}
.data-tbl thead tr th {background-color:white}
.data-tbl thead tr {border-bottom:1px solid #DCDCDC;}
.data-tbl tr:nth-child(odd) {background-color:white;}
.data-tbl tr:nth-child(even) {background-color:rgb(251, 251, 251);}