@charset "UTF-8";
@import "//at.alicdn.com/t/font_1344435_ef28hh3wvd.css";
.com-select {position:relative; display:inline-block; text-align:left;}
.com-select-multiple {}

.com-select-panel-select-btn {cursor:pointer;float: right;margin-left: 1em;color:#0a67a3;margin-top: 3px;margin-bottom: 5px;}
.com-select-panel-select-btn:hover {color:#0a82ec}
.com-select-panel-select-all:before {content:"全选"}
.com-select-panel-select-inverse:before {content:"反选"}

.com-select-panel {position:absolute;box-shadow: 2px 2px 20px #bbb;background-color:#ffffff;width: 100%;z-index:1;border: 1px solid #bbb;padding:5px 0;border-radius: 3px;}
.com-select-panel input[type=search] {display:block;border:none;border-radius:0;border-bottom:1px solid #ccc;margin-bottom: 10px;margin-left: 5px;margin-right: 5px;}
.com-select-panel input[type=search]:focus {border-bottom-color:#45aaf1}
.com-select-panel dl {max-height:200px;overflow-y:auto;clear:both;}
.com-select-panel dt {padding-left: 10px;color: #bbb;display:flex;clear:both;margin-right: 10px;}
.com-select-panel dt:after {content:"";display:block;flex:1;border-bottom: 1px solid #ddd;margin: 0 0 10px 5px;}
.com-select-panel dd {display:block;padding: 5px 10px 5px 5px;cursor: pointer;transition:all 0.1s linear;outline:none;color: #555;}
.com-select-panel dd:nth-child(even) {}
.com-select-panel dd:not(.com-select-item-disabled):hover {background-color: #ddd;/* color: white; */}
.com-select-panel .com-select-item-disabled {color: #ccc;background-color:transparent;cursor:default;text-shadow: 1px 1px 1px white;}

.com-select-panel .com-select-item:before {content:"\e75e";font-family:iconfont, serif;font-size: 14px;vertical-align:middle;display: inline-block;margin-right: 0.2em;height: 20px;text-align: center;width: 20px;overflow: hidden;line-height: 18px;}
.com-select-panel .com-select-item-selected {color:#0095de}
.com-select-panel .com-select-item-selected:before {content:" \e75f"}
.com-select-multiple .com-select-item:before {content:"\e6c4";}
.com-select-multiple .com-select-item-selected:before {content:"\e608";font-size: 12px;}

.com-select-grid .com-select-panel {min-width: 300px; padding: 10px;}
.com-select-grid .com-select-panel dd {float:left;}

.com-select-shadow {display:inline-block;min-width:80px;height:27px; box-sizing:border-box;position:relative;border:1px solid #bbbbbb;border-right-color:#dddddd;border-bottom-color:#dddddd;background-color:white;vertical-align:middle;text-align: left; padding: 3px 35px 3px 3px;}
.com-select-shadow:after {content:""; position:absolute; border:4px solid transparent; border-top-color:gray; right:5px; top:10px;}
.com-select-shadow-clean {position:absolute;right: 16px;top: 3px;cursor: pointer;color: black;}
.com-select-shadow-clean:after {content:"\e849";font-family:iconfont, serif;font-size: 12px;}
.com-select-shadow-item,
.com-select-shadow-placeholder {cursor:default; margin-right:3px; padding:2px 5px; display: inline-block;line-height: 16px;word-break: break-all;}
.com-select-shadow-placeholder {color: #aaa;}
.com-select-shadow-item {background-color: #00517617;cursor:pointer;}
.com-select-shadow-item:after {content:"\e849"; font-family:iconfont, serif; margin-left:0.2em;}
.com-select-shadow-item:hover:after {color:#0a82ec;}
.com-select-shadow-trigger {position:absolute; margin:10px 0 0 -12px; cursor:pointer; width:0; height:0; border:4px solid transparent; border-top-color:#666;}

