.ywj-tip-container-wrap {position:absolute; z-index:11; opacity:0;}
.ywj-tip-content {border:1px solid #cacaca; border-radius:2px; background-color:#fff; padding:10px; box-shadow:0 0 10px rgba(105, 105, 105, 0.4); max-width:500px; word-break:break-all}
.ywj-tip-arrow {display:block; width:0; height:0; border:7px solid transparent; position:absolute; z-index:1}
.ywj-tip-close {display:block; overflow:hidden; width:15px; height:20px; position:absolute; right:7px; top:10px; text-align:center; cursor:pointer; font-size:13px; color:gray;}
.ywj-tip-close:hover {color:black;}

/** top **/
.ywj-tip-0, .ywj-tip-1, .ywj-tip-11 {padding-top:7px;}
.ywj-tip-11 .ywj-tip-arrow,
.ywj-tip-0 .ywj-tip-arrow,
.ywj-tip-1 .ywj-tip-arrow {top:-5px; margin-left:-7px; border-bottom-color:white}
.ywj-tip-0 .ywj-tip-arrow-pt,
.ywj-tip-11 .ywj-tip-arrow-pt,
.ywj-tip-1 .ywj-tip-arrow-pt {top:-6px; border-bottom-color:#dcdcdc;}
.ywj-tip-11 .ywj-tip-arrow {left:25%;}
.ywj-tip-0 .ywj-tip-arrow {left:50%;}
.ywj-tip-1 .ywj-tip-arrow {left:75%;}

/** right **/
.ywj-tip-8, .ywj-tip-9, .ywj-tip-10 {padding-left:7px;}
.ywj-tip-8 .ywj-tip-close,
.ywj-tip-9 .ywj-tip-close,
.ywj-tip-10 .ywj-tip-close {top:3px;}
.ywj-tip-8 .ywj-tip-arrow,
.ywj-tip-9 .ywj-tip-arrow,
.ywj-tip-10 .ywj-tip-arrow {left:-6px; margin-top:-7px; border-right-color:white}
.ywj-tip-8 .ywj-tip-arrow-pt,
.ywj-tip-9 .ywj-tip-arrow-pt,
.ywj-tip-10 .ywj-tip-arrow-pt {left:-7px; border-right-color:#dcdcdc;}
.ywj-tip-8 .ywj-tip-arrow {top:75%}
.ywj-tip-9 .ywj-tip-arrow {top:50%}
.ywj-tip-10 .ywj-tip-arrow {top:25%}

/** bottom **/
.ywj-tip-5, .ywj-tip-6, .ywj-tip-7 {padding-bottom:7px;}
.ywj-tip-5 .ywj-tip-close,
.ywj-tip-6 .ywj-tip-close,
.ywj-tip-7 .ywj-tip-close {top:3px;}
.ywj-tip-5 .ywj-tip-arrow,
.ywj-tip-6 .ywj-tip-arrow,
.ywj-tip-7 .ywj-tip-arrow {left:50%; bottom:-6px; margin-left:-7px; border-top-color:white}
.ywj-tip-5 .ywj-tip-arrow-pt,
.ywj-tip-6 .ywj-tip-arrow-pt,
.ywj-tip-7 .ywj-tip-arrow-pt {bottom:-7px; border-top-color:#dcdcdc;}
.ywj-tip-7 .ywj-tip-arrow {left:30px}
.ywj-tip-5 .ywj-tip-arrow {left:75%}

/** left **/
.ywj-tip-2, .ywj-tip-3, .ywj-tip-4 {padding-right:7px;}
.ywj-tip-2 .ywj-tip-close,
.ywj-tip-3 .ywj-tip-close,
.ywj-tip-4 .ywj-tip-close {right:13px; top:3px;}
.ywj-tip-2 .ywj-tip-arrow,
.ywj-tip-3 .ywj-tip-arrow,
.ywj-tip-4 .ywj-tip-arrow {right:-6px; margin-top:-7px; border-left-color:white}
.ywj-tip-2 .ywj-tip-arrow-pt,
.ywj-tip-3 .ywj-tip-arrow-pt,
.ywj-tip-4 .ywj-tip-arrow-pt {right:-7px; border-left-color:#dcdcdc;}
.ywj-tip-2 .ywj-tip-arrow {top:25%}
.ywj-tip-3 .ywj-tip-arrow {top:50%}
.ywj-tip-4 .ywj-tip-arrow {top:75%}