@charset "UTF-8";

.hd-banner{
	width: 16.0rem;
	height: 7.75rem;
	text-indent: -999rem;
	position: relative;
}
.hd-rule-btn{
	position: absolute;
	right: 0.4rem;
	top: 1.05rem;
	width: 1.9rem;
	height: 1.9rem;
	cursor: pointer;
}
/**模块S**/
.hd-tlt{
	margin: 0 0.45rem;
	padding-top: 1.75rem;
	padding-bottom: 0.7rem;
	background-image: url("../../img/hd/tltbg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 2rem;
	text-align: center;
}
.hd-tlt h2{
	display: inline;
	background-color: #fff;
	padding: 0 0.25rem;
	font-size: 0.9rem;
	font-weight: bold;
	line-height: 1;
}
.hd-tlt .tip{
	padding-top: 0.125rem;
}
.hd-tip{
	padding: 0 1rem;
	font-size: 0.65rem;
}
.hd-qpimg{
	display: block;
	width: 16.0rem;
	height: auto;
}
.hd-jzimg{
	display: block;
	width: 15rem;
	margin: 0 0.5rem;
	height: auto;
}
/**模块E**/

/**预约form S**/
.hd-regform{
	background: transparent;
}
.hd-regform .input-txt{
	width: 7rem;
	margin-top: 0;
}
.hd-regform .btn{
	margin: 0.5rem 0 0 0.3rem;
}
.weak-tip{
	text-align: center;
	padding-top: 0.25rem;
	color: #999999;
	line-height: 1.2;
}

.hd-regform .tip{
	text-align: center;
	color: #e95520;
	line-height: 1;
	padding-top: 0.3rem;
}
.auth-code{
	margin: 0.25rem auto 1rem;
	border:1px solid #ccc;
	padding: 0.1rem;
	background-color: #ffffff;
	width: 14.8rem;
	height: 1.75rem;
	line-height: 1.75rem;
	position: relative;
	text-align: left;
}
.auth-code input{
	width: 9rem;
	height: 1.35rem;
	line-height: 1.35rem;
	padding: 0.2rem;
}
.auth-code .get-code{
	position: absolute;
	right: 0.1rem;
	top: 0.1rem;
	height: 1.75rem;
	line-height: 1.75rem;
	border-radius: 0;
	background: #ff5500;
	width: 4.75rem;
	margin: 0;
	cursor: pointer;
	text-align: center;
}
.auth-code .get-code span{
	color: #ffffff;
	display: block;
	width: 4.75rem;
	height: 1.75rem;
	line-height: 1.75rem;
}
.auth-code .get-code .cdtip{
	display: block;
}
.auth-code .get-code .again-time{
	display: none;
}
.auth-code .get-code-ing{
	background: #888888;
}
.auth-code .get-code-ing .cdtip{
	display: none;
}
.auth-code .get-code-ing .again-time{
	display: block;
}
.auth-code .nytip{
	position: absolute;
	bottom: -2rem;
	left: 0;
	width: 16.0rem;
	height: 1.5rem;
	line-height: 1;
	text-align: center;
	font-size: 0.3rem!important;
}
.auth-code .nytip, .hd-regform .nytip a{
	color: #666666;
}
/**预约form E**/

/**品质精品家S**/
.hd-qualitybg{
	margin: 0 auto;
	width: 15.0rem;
	height: 12.0rem;
	background-image: url("../../img/hd/qualitybg1.jpg");
	background-size: contain;
}
.hd-qualitybg li{
	float: left;
	width: 7rem;
	height: 5.2rem;
	padding-top: 0.7rem;
	padding-left: 0.5rem;
	font-size: 0.5rem;
}
.hd-qualitybg h3{
	font-size: 1.25rem;
	line-height: 1.1;
}
.hd-qualitybg strong{
	display: block;
}
.hd-qualitybg span{
	color: #e95520;
}
.hd-qualitybg p{
	padding-top: 0.4rem;
	line-height: 1.2;
	color: #666666;
}
/**品质精品家E**/
/**精品家户型切换S**/
.swiper-quality{
	width: 16.0rem;
}
.swiper-quality .swiper-wrapper{
	width: auto;
	padding-left: 10px;
}
.swiper-quality .space-pagination{
	width: 14.0rem;
	padding: 0 1rem;
}
.swiper-quality .space-pagination strong{
	font-size: 1.25rem;
}
.swiper-quality .swiper-pagination-bullet{
	width: 13.5rem;
	height: 1.25rem;
	background: transparent;
	display: none;
}
.swiper-quality .swiper-pagination-bullet-active{
	display: block;
	height: 2rem;
	line-height: 2rem;
}
.swiper-quality .swiper-slide img{
	width: 14.5rem;
	height: 9.5rem;
}
/**精品家户型切换E**/
.hd-brand{
	display: block;
	margin: 0 auto;
	width: 15.0rem;
	height: auto;
}
/**专业保证S**/
.hd-intro-quality{
	padding-left: 0.4rem;
}
.hd-intro-quality li{
	float: left;
	width: 6.5rem;
	height: 6.0rem;
	position: relative;
	padding-left: 1.3rem;
}
.hd-intro-quality li:nth-child(5), .hd-intro-quality li:nth-child(6){
	height: 4.5rem;
}
.hd-intro-quality .num-ico{
	position: absolute;
	left: 0;
	top: 0;
	background-image: url("../../img/hd/hd_ico.png");
	background-size: 7.05rem 3.125rem;
	text-indent: -999rem;
}
.hd-intro-quality h3{
	line-height: 1;
}
.hd-intro-quality strong{
	display: block;
	font-size: 0.9rem;
	padding-bottom: 0.25rem;
}
.hd-intro-quality span{
	color: #e95520;
	font-size: 0.65rem;
}
.hd-intro-quality p{
	line-height: 1.2;
	font-size: 0.5rem;
	padding-top: 0.25rem;
	color: #666666;
}
.hd-intro-quality li:nth-child(1) .num-ico{
	background-position: 0 0;
	width: 0.5rem;
	height: 1.55rem;
}
.hd-intro-quality li:nth-child(2) .num-ico{
	background-position: -0.75rem 0;
	width: 1.0rem;
	height: 1.6rem;
}
.hd-intro-quality li:nth-child(3) .num-ico{
	background-position: -2rem 0;
	width: 1.025rem;
	height: 1.625rem;
}
.hd-intro-quality li:nth-child(4) .num-ico{
	background-position: -3.275rem 0;
	width: 1.2rem;
	height: 1.55rem;
}
.hd-intro-quality li:nth-child(5) .num-ico{
	background-position: -4.725rem 0;
	width: 1.025rem;
	height: 1.63rem;
}
.hd-intro-quality li:nth-child(6) .num-ico{
	background-position: -6.0rem 0;
	width: 1.05rem;
	height: 1.62rem;
}
/**专业保证E**/
/**微信S**/
.hd-weixin-mod{
	margin: 0.5rem 0.5rem 0;
	padding: 0.45rem;
	border:1px solid #eee;
	background: #ffffff;
	background-color: #ffffff;
}
.hd-weixin-mod p{
	line-height: 1.4;
}
.hd-weixin{
	float: left;
	width: 5.55rem;
	height: 5.55rem;
	margin-right: 0.5rem;
}
.hd-wx-tip span{
	color: #bf0f10;
}
.hd-gjj-logo{
	margin-top: 0.45rem;
	margin-bottom: 0.4rem;
	width: 4.35rem;
	height: 1.425rem;
}
/**微信E**/
/**广告跳转S**/
.hd-ad {
  display: block;
  margin: 0.5rem auto 0;
  width: 15rem;
}
/**广告跳转E**/
/**活动弹层S**/
.hd-popup{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	color: #333333;
}
.hd-popup-mod{
	padding: 2rem 0.25rem 2rem 0.75rem;
	margin: 3rem 1.5rem 0;
	background-color: #fff;
	border-radius: 0.5rem;
	position: relative;
}
.hd-popup h3{
	font-size: 1rem;
	text-align: center;
}
.hd-popup-cont{
	margin-top: 0.75rem;
	padding-right: 0.25rem;
	height: 10.5rem;
	overflow-y: scroll;
	font-size: 12px;
}
.hd-popup-cont p{
	padding-bottom: 0.125rem;
}
.hd-popup-cont p em{
	padding-left: 0.75rem;
}

.lock-scroll,
.lock-scroll body{height:100%; overflow:hidden;}
/**定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸**/
.hd-popup-cont::-webkit-scrollbar{
    width: 0.2rem;
    background: rgba(0,0,0,0);
}
/**定义滚动条轨道 内阴影+圆角**/
.hd-popup-cont::-webkit-scrollbar-track{
    background: rgba(0,0,0,0);
}
/**定义滑块 内阴影+圆角**/
.hd-popup-cont::-webkit-scrollbar-thumb{
   background: #ff5500;
   border-radius: 5rem;
}
.hd-popup .close{
	position: absolute;
	right: 0.25rem;
	top: 0.25rem;
	width: 1.25rem;
	height: 1.25rem;
	background-image: url("../../img/hd/hd_ico.png");
	background-size: 7.05rem 3.125rem;
	background-position: 0 -1.875rem;
	text-indent: -999rem;
	cursor: pointer;
}
/**活动弹层E**/
.gotop{
	right: 0.5rem;
	bottom: 1rem;
	-webkit-transform:scale(.7);
	transform:scale(.7);
	z-index: 10;
}

/**预约设计师表格S**/
.sjs-order-form{
	padding-top: 0.5rem;
	font-size: 0.75rem;
}
.sjs-order-form .item{
	height: 2.5rem;
	line-height: 2.5rem;
}
.sjs-order-form .item-area{
	position: relative;
}
.sjs-order-form .item-area:after{
	content: "㎡";
	position: absolute;
	right: 1.5rem;
	top: 0;
}
.sjs-order-form .item-area .input-txt{
	padding-right: 1.5rem;
	width: 9rem;
}
.sjs-order-form .item-name{
	display: inline-block;
	width: 4.0rem;
	text-align: right;
}
.sjs-order-form .input-txt{
	border:1px solid #cccccc;
	background-color: #ffffff;
	width: 10rem;
	padding: 0.5rem;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.6rem;
}
.sjs-order-form select{
	border:1px solid #cccccc;
	background-color: #ffffff;
	width: 10rem;
	padding: 0 0.5rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.6rem;
}
.sjs-order-form .auth-code{
	display: inline-block;
	width: 6rem;
	margin: 0;
	padding: 0 4.5rem 0 0.5rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.6rem;
}
.sjs-order-form .auth-code .btn{
	position: absolute;
	right: 0.1rem;
	top: 0.1rem;
	height: 1.75rem;
	line-height: 1.75rem;
	border-radius: 0;
	background: #ff5500;
	border: 0;
	width: 4.75rem;
	margin: 0;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
}
.sjs-order-form .auth-code .btn-disabled{
	background: #888888;
	cursor: inherit;
}
.sjs-order-form .auth-code input{
	width: 5.5rem;
	height: 1rem;
	line-height: 1rem;
	padding: 0;
}
.sjs-order-form .g-btn{
	margin: 0.5rem auto 0;
	display: block;
	width: 14.5rem;
	height: 1.9rem;
	line-height: 1.9rem;
	text-align: center;
	color: #ffffff;
	background-color: #ff5500;
	border-radius: 40px;
	font-size: 0.75rem;
}
.sjs-order-form .nytip{
	padding-top: 0.3rem;
	text-align: center;
	font-size: 0.5rem;
	color: #999999;
}
.sjs-order-form .nytip a{
	color: #999999;
}
.sjs-order-form .zx-type{
	padding-right: 0.5rem;
}
.sjs-order-form .zx-type input{
	display: none;
}
.sjs-order-form .zx-type em{
	display: inline-block;
	background-color: #ffffff;
	border:1px solid #cfcfcf;
	width: 0.95rem;
	height: 0.95rem;
	border-radius: 100%;
	position: relative;
	vertical-align: middle;
	margin: 0 0.2rem 0.1rem 0;
}
.sjs-order-form .zx-type em:after{
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #fff;
	width: 0.35rem;
	height: 0.35rem;
border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.sjs-order-form .zx-type input:checked + em:after{
	background-color: #ff5500;
}
.sjs-order-form .item-price{
	position: relative;
}
.sjs-order-form .item-price select{
	width: 11rem;
}
.sjs-order-form .item-price:after{
	content: "";
	border-left: 1px solid #cccccc;
	position: absolute;
	top: 50%;
	right: 3rem;
	width: 1px;
	height: 2rem;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sjs-order-form .item-price:before{
	content: "";
	position: absolute;
	top: 50%;
	right: 1.8rem;
	width: 0.4rem;
	height: 0.73rem;
	background: url("../../img/h5-icos.png") no-repeat 0 -8.075rem;
	background-size: 0.75rem 15.0rem;
	-webkit-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	-o-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}