@charset "UTF-8";

/**banner图片S**/
.hd-banner{
	background-image: url("../../img/hd/kn0113_banner.png");
	height: 12.25rem;
}
/**banner图片E**/
.hd-rule-btn{
	top: 0;
	right: 0;
 	width: 2.925rem;
 	height: 3.875rem;
}
.kn-topbg, .kn-topbg .hd-tlt h2{
	background: #ffe7bb;
}
/**优惠活动S**/
.hd-favb{
	background-image: url("../../img/hd/kn0113_gift.png");
	width: 100%;
	height: 10.25rem;
	text-indent: -999rem;
}
/**优惠活动E**/
