@charset "UTF-8";
@import (once) "global";

@button-class: .button, [type=button], [type=submit], button;
@button-weak-class: .button-weak, [type=reset];
@button-outlined: .button-outlined;
@button-primary: .button-primary;
@button-loading: .button-loading;

.normal-button() {
	.nowrap();
	.center();
	.no-decoration();
	
	border:none;
	outline:none;
	
	color: @button-text-color;
	background:linear-gradient(@button-background-start, @button-background-end);
	border-radius:@border-radius;
	padding:0.25em 1em;
	height:@form-element-height;
	cursor:pointer;
	letter-spacing:0.1em;
	line-height:1.5;
	display:inline-block;
	vertical-align:middle;
	user-select:none;
	box-sizing:border-box;
	min-width:6em;
	box-shadow:@box-shadow-normal;
	transition: box-shadow 0.30s ease-in-out;
	will-change: box-shadow, background, color;
	
	&:focus,
	&:hover,
	&:active{
		color:@button-text-color;
		background:linear-gradient(lighten(@button-background-start, 5%), lighten(@button-background-end, 5%));
		box-shadow:@box-shadow-active;
	}
	
	&[disabled], &[disabled]:hover, &[disabled]:focus {
		color:@button-disabled-text-color !important;
		text-shadow:1px 1px 1px white;
		cursor:default;
		background:linear-gradient(darken(@back-color, 10%), darken(@back-color, 10%));
		box-shadow:none;
	}
}

@{ywj-scope} {
	.primary() {
		height:@form-element-height * 1.2;
		line-height:@form-element-height * 1;
	}

	.weaker() {
		color: @button-text-color;
		background:linear-gradient(lighten(@button-background-start, 15%), lighten(@button-background-end, 15%));
		&:focus,
		&:hover {
			color:@button-text-color;
			background:linear-gradient(lighten(@button-background-start, 20%), lighten(@button-background-end, 20%));
			box-shadow:@box-shadow-active;
		}
	}

	@{button-class} {
		.normal-button();
	}

	@{button-weak-class} {
		.normal-button();
		.weaker();
	}

	@{button-outlined} {
		color:@link-color;
		border:1px solid lighten(@link-color, 10%);
		background:none;
		&:focus,
		&:hover,
		&:active{
			color:@link-color;
			background:linear-gradient(darken(@back-color, 5%), darken(@back-color, 5%));
			box-shadow:@box-shadow-active;
		}
		
		&[disabled], &[disabled]:hover, &[disabled]:focus {
			color:@link-color;
			border:1px solid lighten(@fore-color, 60%);
			background:none;
		}
	}
	
	@{button-loading} {
		position:relative;
		color:rgba(255, 255, 255, 0.33) !important;
		&:before {
			content:"";
			left:0;
			top:0;
			display:block;
			width:100%;
			height:100%;
			cursor:default;
			position:absolute;
			z-index:1;
			background:url("@{assert-path}/loading/btn-loading.gif") no-repeat center;
		}
	}
	
	a {
		&@{button-class},
		&@{button-weak-class} {
			line-height:1.5;
		}
	}
	
	@{button-primary} {
		.normal-button();
		.primary();
	}
}