//default class name
@readonly:.readonly, [readonly];
@disabled:.disabled, [disabled];
@button:.btn;
@text:.txt;
@active:.active;
@dis-active:.dis-active;

//default style
@root-size:14px;
@fore-color:#333333;
@back-color:#ffffff;
@link-color:#0a82ec;
