.ladder {display:none; width:38px; overflow:hidden; position:fixed; right:10px; bottom:10px; opacity:0.5; transition: opacity 0.5s ease-in-out;}
.ladder li {border:1px solid #ccc;}
.ladder li:first-child {border-radius:3px 3px 0 0;}
.ladder li:last-child {border-top:none; border-radius:0 0 3px 3px}
.ladder a {display:block; text-align:center; padding:8px 0; background-color:rgba(255,255,255,0.6); color:gray; font-size:16px;}
.ladder a:hover{background-color:#E7F2FF}
.ladder:hover { opacity:1;}