@charset "UTF-8";

.ywj-msg-container-wrap {width:100%; height: 100%; text-align:center; left:0; position:fixed; top:0; z-index: 65533; _position:absolute;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);}
.ywj-msg-container {margin-top: 300px; display:inline-block;font-family: Microsoft Yahei; color:#000; font-size: 18px;background: #ffffff;border-radius: 5px;padding:10px 50px;}
.ywj-msg-icon-tip,
.ywj-msg-icon-info,
.ywj-msg-icon-succ,
.ywj-msg-icon-load,
.ywj-msg-icon-err {background:url("msg_layer.png?v20150515") no-repeat -6px -109px; float:left; display:inline-block; height:44px; width:44px;margin-top: 5px;}
.ywj-msg-icon-succ {background-position:0 -377px;}
.ywj-msg-icon-err {background-position:0 -330px;}
.ywj-msg-icon-info,
.ywj-msg-icon-tip {background-position:0 -424px;}
.ywj-msg-icon-load {background: transparent;}
.ywj-msg-icon-load i {display:block; width:100%; height:100%; background:url("loading.gif") no-repeat 50% 50%}
.ywj-msg-content {float: left; height:54px; line-height:50px; background: #ffffff; padding:0 18px 0 9px}
