.password-generator-btn {display:block; position:absolute;}
.password-generator-btn:before {content:"\f11c"; font-family:FontAwesome, serif; font-size:14px; color:#ccc; cursor:pointer; padding:5px;}
.password-generator-btn:hover:before {color:gray;}

.ywj-password-generator-panel .t {display:block; color:gray; font-size:14px; padding-bottom:0.5em;}
.ywj-password-generator-panel input[type=text] {border:none; border-bottom:1px solid gray; font-size:14px; padding:0.25em 0.5em; min-width:0; width:120px;}
.ypg-refresh,
.ypg-copy {display:inline-block; border:1px solid #ccc; padding:0 0.25em; border-radius:2px; cursor:pointer; color:gray;}
.ypg-refresh:hover,
.ypg-copy:hover {border-color:gray; color:black;}

.ywj-password-strength {display:block; position:absolute; box-sizing:border-box; opacity:0.8; border:1px solid #eee; margin-top:1px;}
.ywj-password-strength span {height:2px; display:block; border-radius:3px;}
.ywj-password-strength-0 span {background-color:red; width:6%;}
.ywj-password-strength-1 span {background-color:#ff5d1f; width:32%}
.ywj-password-strength-2 span {background-color:#ff881d; width:48%}
.ywj-password-strength-3 span {background-color:#ffee23; width:54%}
.ywj-password-strength-4 span {background-color:#a5ff1d; width:70%}
.ywj-password-strength-5 span {background-color:#4cff29; width:86%}
.ywj-password-strength-6 span {background-color:#03ff59; width:100%}