.ui-tooltip {position: absolute;min-width: 100px;max-width: 200px;-webkit-box-shadow: 0 0 5px #aaa;box-shadow: 0 0 5px #aaa;}
* html .ui-tooltip {background-image: none;}
body .ui-tooltip {}
.ui-tooltip, .ui-tooltip-arrow:after {
	background: #333333;
}
.ui-tooltip {
	padding: 10px;
	color: white;
	border-radius: 5px;
	font: bold 14px "Helvetica Neue", Sans-Serif;
	text-transform: uppercase;
	box-shadow: 0 0 7px black;
	z-index: 9999;
	font-size: 12px;
	font-weight: normal;
}
.ui-tooltip-arrow {
	width: 50px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.ui-tooltip-arrow.top {
	top: -16px;
	bottom: auto;
}
.ui-tooltip-arrow.left {
	left: 20%;
}
.ui-tooltip-arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px rgba(0,0,0,0.8);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: none\9;
}
.ui-tooltip-arrow.top:after {
	bottom: -20px;
	top: auto;
	display: none\9;
}