.com-uploader .com-uploader-file input[type=file]{display:inline-block; outline:none; background:url("upload24.png") no-repeat 7px; cursor:pointer; border-radius:3px; width:0; padding:0 0 0 37px;}
.com-uploader label {cursor:pointer;}
.com-uploader-file {vertical-align:middle; color:#00a0e9;}
.com-uploader-file span {display:inline-block; vertical-align:middle;}
.com-uploader-btn {border:none; background-color:transparent; color:#00a0e9; cursor:pointer; margin-right:5px; font-family:Microsoft Yahei, helvetica, verdana, sans-serif;}
.com-uploader-error .com-uploader-content {color:#FF741F}
.com-uploader-content img {max-height:100px; max-width:100px; overflow:hidden; box-shadow:1px 1px 5px #ccc}
.com-uploader-progress span {padding-left:5px; display:inline-block; vertical-align:middle}

.com-uploader-handle { position:relative;}
.com-uploader-handle input[type=file] {position:absolute; width:1px; height:1px; border-color:transparent; background-color:transparent; outline:none; overflow:hidden; padding:0; bottom:0; left:20px;}

/** 文件类型 **/
.com-uploader-file-icon { display:inline-block; width:48px; height:48px; background:url("file/file_type_icons-default.png") no-repeat}
.com-uploader-file-icon-default { background-image:url("file/file_type_icons-pdf.png") }
.com-uploader-file-icon-docx,
.com-uploader-file-icon-doc { background-image:url("file/file_type_icons-doc.png") }
.com-uploader-file-icon-xls,
.com-uploader-file-icon-xlsx { background-image:url("file/file_type_icons-xls.png") }
.com-uploader-file-icon-pdf { background-image:url("file/file_type_icons-pdf.png") }
.com-uploader-file-icon-ppt,
.com-uploader-file-icon-pptx { background-image:url("file/file_type_icons-ppt.png") }
.com-uploader-file-icon-7z,
.com-uploader-file-icon-gz,
.com-uploader-file-icon-zip,
.com-uploader-file-icon-rar { background-image:url("file/file_type_icons-zip.png") }
.com-uploader-file-icon-txt { background-image:url("file/file_type_icons-txt.png") }
.com-uploader-file-icon-html { background-image:url("file/file_type_icons-html.png") }
.com-uploader-file-icon-css { background-image:url("file/file_type_icons-css.png") }
.com-uploader-file-icon-jpg { background-image:url("file/file_type_icons-jpg.png") }
.com-uploader-file-icon-jpeg { background-image:url("file/file_type_icons-jpg.png") }
.com-uploader-file-icon-png { background-image:url("file/file_type_icons-png.png") }
.com-uploader-file-icon-psd { background-image:url("file/file_type_icons-psd.png") }
.com-uploader-file-icon-mov { background-image:url("file/file_type_icons-mov.png") }
.com-uploader-file-icon-avi { background-image:url("file/file_type_icons-avi.png") }
.com-uploader-file-icon-wav { background-image:url("file/file_type_icons-wav.png") }

/** 未上传 **/
.com-uploader-normal .com-uploader-progress,
.com-uploader-normal .com-uploader-content,
.com-uploader-normal .com-uploader-handle,

	/** 上传中 **/
.com-uploader-uploading .com-uploader-file,
.com-uploader-uploading .com-uploader-content,
.com-uploader-uploading .com-uploader-upload,
.com-uploader-uploading .com-uploader-reload,
.com-uploader-uploading .com-uploader-delete,

	/** 上传成功 **/
.com-uploader-success .com-uploader-file,
.com-uploader-success .com-uploader-progress,
.com-uploader-success .com-uploader-upload,
.com-uploader-success .com-uploader-cancel,

	/** 上传失败 **/
.com-uploader-error .com-uploader-file,
.com-uploader-error .com-uploader-progress,
.com-uploader-error .com-uploader-upload,
.com-uploader-error .com-uploader-cancel,
.com-uploader-error .com-uploader-delete
{display:none;}
