.t-currency-panel {left:600px; top:600px; position:absolute; width:180px; padding:10px; background-color:white; border:1px solid #eee; box-shadow:2px 2px 10px #eee; border-radius:3px;}
.t-currency-panel s,
.t-currency-panel:before {content:" "; display:block; width:0; height:0; border:8px solid transparent; position:absolute; }
.t-currency-panel:before {}
.t-currency-panel-bottom:before {border-bottom-color:#ddd; margin:-27px 0 0 20px;}
.t-currency-panel-bottom s {border-bottom-color:white; margin:-26px 0 0 20px; }

.t-currency-panel-right:before {border-right-color:#ddd; left:-17px; top:50%;}
.t-currency-panel-right s {border-right-color:white; left:-16px; top:50%}

.t-currency-panel-left:before {border-left-color:#ddd; right:-17px; top:50%;}
.t-currency-panel-left s {border-left-color:white; right:-16px; top:50%}

.t-currency-panel-top:before {border-top-color:#ddd; bottom:-17px; margin-left:20px;}
.t-currency-panel-top s {border-top-color:white; bottom:-16px; margin-left:20px;}

.t-currency-tbl {border-collapse:collapse; border-spacing:0; min-width:150px;}
.t-currency-tbl td,
.t-currency-tbl th {padding:3px 5px; border:1px solid #eee; text-align:left; white-space:nowrap; font-weight:normal;}
.t-currency-tbl th {background-color:#eee; text-shadow:1px 1px 1px white; color:gray;}
.t-currency-tbl th:first-child {border-right:1px solid white;}
.t-currency-tbl .txt {width:50px; min-width:0; text-align:center;}
.t-currency-tbl .current_zone {color:#ffca00;}