.supplier-selector { position:relative; display:inline-block;}
.supplier-selector-name[readonly],
.supplier-selector-name[disabled] {cursor:default}


.supplier-selector-cancel,
.supplier-selector-sel {color:#5272C2; margin:0 0 0 5px; display:inline-block; cursor:pointer;}

.supplier-selector-cancel:after,
.supplier-selector-sel:after {margin-left:2px;}

.supplier-selector-sel:after {content:"选择"}
.supplier-selector-sel:before {content:"\f046"; display:inline-block; font-family:FontAwesome, serif; }
.supplier-selector-cancel:after {content:"取消";}
.supplier-selector-cancel:before {content:"\f00d"; display:inline-block; font-family:FontAwesome, serif; }