@charset "UTF-8";

body{
	background-color: #000000;
}
.jbh-wrap{
	background:#000000 url("../../img/share/jbhfx_bg1.jpg") no-repeat center top;
	background-size: contain;
	height: 34rem;
	position: relative;
}
.ac-rule-btn, .btn-arrow, .jbhico, .jbh-wrap .jbh-ad-tlt{
	background-image: url("../../img/share/jbhfx_bg.png");
	background-size: 20.0rem 13.75rem;
	background-repeat: no-repeat;
}
.cs-btn, .cs-btn .btn-txt, .sj-layer h3, .jbh-register .submit{
	background-image: url("../../img/share/jbhfx_btnbg.png");
	background-size: 23.75rem 15.0rem;
	background-repeat: no-repeat;
}

.jbh-wrap h2{
	background: url("../../img/share/jbh_tlt.png") no-repeat center;
	background-size: contain;
	width: 16.0rem;
	height: 5.55rem;
	text-indent: -999rem;
}
.prize-cont{
	background-image: url("../../img/share/jbhfx_bg2.png");
	width: 15.0rem;
	height: 17.4rem;
	position: absolute;
	left: 0.5rem;
	top: 5.55rem;
	background-size: cover;
	z-index: 5;
}
.prize-cont .cs-btn2, .prize-cont .cs-btn3, .prize-cont .cs-btn4{
	display: none;
}
.prize-cur .cs-btn2, .prize-cur .cs-btn3, .prize-cur .cs-btn4{
	display: block;
}
.ac-rule-btn{
	position: absolute;
	top: 0.375rem;
	right: 0.4rem;
	background-position: -13.525rem 0;
	width: 1.45rem;
	height: 5.225rem;
	z-index:10;
	-webkit-animation: left-right 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite alternate;
	animation: left-right 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite alternate;
	-webkit-transform-origin:left top;
	transform-origin:left top;
	cursor: pointer;
}
.prize-list{
	position: absolute;
	top: 0.875rem;
	left: 1.95rem;
	width: 11.15rem;
	height: 13.05rem;
}
.prize-list li{
	position: absolute;
}
.prize-list li em{
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.5);
	border-radius: 0.346rem;
}
.prize-list .prize-tag1{
	left: 0;
	top: 0;
}
.prize-list .prize-tag2{
	left: 0;
	bottom: 0;
}
.prize-list .prize-tag3{
	right: 0;
	bottom: 0;
}
.prize-list .prize-tag4{
	right: 0;
	top: 4.35rem;
}
.prize-list .prize-tag5{
	right: 0;
	top: 0;
}
.prize-list .prize-tag1 img, .prize-list .prize-tag1 .lay{
	width: 5.5rem;
	height: 6.375rem;
}
.prize-list .prize-tag2 img, .prize-list .prize-tag2 .lay{
	width: 5.5rem;
	height: 6.375rem;
}
.prize-list .prize-tag3 img, .prize-list .prize-tag3 .lay{
	width: 5.5rem;
	height: 4.225rem;
}
.prize-list .prize-tag4 img, .prize-list .prize-tag4 .lay{
	width: 5.5rem;
	height: 4.175rem;
}
.prize-list .prize-tag5 img, .prize-list .prize-tag5 .lay{
	width: 5.5rem;
	height: 4.175rem;
}
.prize-list .active .lay{
	display: none;
}
.prize-list .light .lay{
	box-shadow: inset 0 0 0.1rem 0.2rem #ffffff;
	background-color: transparent;
}
.jbh-wrap .jbh-ad-tlt{
	position: absolute;
	bottom: 8.5rem;
	left: 2.25rem;
	background-position: 0 -9.1rem;
	width: 11.325rem;
	height: 2.025rem;
	text-indent: -999rem;
	z-index: 16;
}
.jbh-ad{
	position: absolute;
	bottom: 1rem;
	left: 0.5rem;
}
.jbh-ad img{
	width: 15.0rem;
	height: 6.5rem;
}
/**烟花S**/
.fireworks1, .fireworks2, .fireworks3{
	background-image: url("../../img/share/fireworks.png");
	background-size: 11.25rem 10.5rem;
	position: absolute;
	z-index: 6;
	opacity: 0;
	display: none;
}
.fireworks1{
	background-position: 0 0;
	width: 5.65rem;
	height: 5.375rem;
	left: 2rem;
	top: 0.5rem;
	-webkit-animation:yanhua 1.5s ease .2s;
	animation:yanhua 1.5s ease .2s;
}
.fireworks2{
	background-position: -5.9rem 0;
	width: 5.25rem;
	height: 4.95rem;
	right: 2rem;
	top: 3rem;
	-webkit-animation:yanhua 1.5s ease .5s;
	animation:yanhua 1.5s ease .5s;
}
.fireworks3{
	background-position: 0 -5.625rem;
	width: 6.375rem;
	height: 4.875rem;
	left: 3rem;
	top: 7rem;
	-webkit-animation:yanhua 1.5s ease .4s;
	animation:yanhua 1.5s ease .4s;
}
/**烟花E**/
/**奖品大图S**/
.prize-cur .prize-list, .prize-cur .lit-p1, .prize-cur .lit-p2, .prize-cur .cs-btn1, .prize-cur .cs-btn4, .prize-cur .jbhico.sexy-lady, .prize-cur .jbhico.red-wine{
	display: none;
}
.prize-cur .fireworks1, .prize-cur .fireworks2, .prize-cur .fireworks3, .prize-cur .prize-tip{
	display: block;
}
.prize-cur + .jbh-ad-tlt{
	background-position: 0 -11.375rem;
	width:
}
.prize1, .prize2, .prize3, .prize4{
	position: absolute;
	left: 1.75rem;
	top: 0.725rem;
	text-indent: -999rem;
	background-size: cover;
	width: 11.5rem;
	height: 13.25rem;
	z-index: 6;
}
.prize1{
	background-image: url("../../img/share/jbh_prize1.png");
}
.prize2{
	background-image: url("../../img/share/jbh_prize2.png");
}
.prize3{
	background-image: url("../../img/share/jbh_prize3.png");
}
.prize4{
	background-image: url("../../img/share/jbh_prize4.png");
}
.prize-tip{
	position: absolute;
	bottom: 4.25rem;
	left: 2.8rem;
	height: 0.75rem;
	width: 9.4rem;
	line-height: 1.4;
	text-align: center;
	background-color: #673a0a;
	color: #fed427;
	z-index: 7;
	display: none;
}
.prize-tip span{
	padding: 0 0.1rem;
}

/**btns S**/
.cs-btn{
	position: absolute;
	bottom: 1.45rem;
	z-index: 15;
	-webkit-touch-callout: none;/**禁止长按弹出菜单**/
	-webkit-tap-highlight-color:rgba(0,0,0,0);/**去掉点击时的半透明背景**/
	cursor: pointer;
}
.cs-btn .btn-txt{
	position: absolute;
	left: 50%;
	top: 0.325rem;
	text-indent: -999rem;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.cs-btn.active .btn-txt{
	top: 0.575rem;
}
.cs-btn1{
	background-position: 0 0;
	width: 7.5rem;
	height:2.525rem;
	left: 3.75rem;
}
.cs-btn1 .btn-txt{
	background-position: -15.5rem 0;
	width: 4.325rem;
	height: 1.0rem;
}
.btn-arrow{
	position: absolute;
	bottom: 0.15rem;
	left: 3.55rem;
	background-position: -18.75rem 0;
	width: 0.45rem;
	height: 0.5rem;
	-webkit-animation:down-none 2s ease infinite;
	animation:down-none 2s ease infinite;
}
.cs-btn1.active{
	background-position: -7.775rem 0;
}
.cs-btn1.active .btn-txt{
	top: 0.575rem;
}
.cs-btn2, .cs-btn4{
	background-position: 0 -2.75rem;
	width: 6.28rem;
	height: 2.525rem;
	left: 1.25rem;
}
.cs-btn2.active, .cs-btn4.active{
	background-position: -6.5rem -2.75rem;
}
.cs-btn2 .btn-txt{
	background-position: -13.0rem -2.75rem;
	width: 5rem;
	height: 1.15rem;
}
.cs-btn2.gray-btn, .cs-btn2.gray-btn.active{
	background-position: -17.5rem -5.075rem;
}
.cs-btn2.gray-btn .btn-txt,.cs-btn2.gray-btn.active .btn-txt{
	background-position: -18.05rem -2.775rem;
	top: 0.325rem;
}
.cs-btn4 .btn-txt{
	background-position: -13.0rem -3.95rem;
	width: 5.35rem;
	height: 0.95rem;
}
.cs-btn3{
	background-position: 0 -5.55rem;
	width: 5.75rem;
	height: 2.525rem;
	right: 1.5rem;
}
.cs-btn3.active{
	background-position: -6.0rem -5.55rem;
}
.cs-btn3 .btn-txt{
	background-position: -15.5rem -1.25rem;
	width: 1.95rem;
	height: 0.9rem;
}
/**btns E**/

/**弹层S**/
.sj-layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.sj-layer-cont {
	position: absolute;
	left: 1.5rem;
	top: 4.9rem;
	background: #ffffff url("../../img/share/jbh_layconbg.jpg") no-repeat center top;
	background-size: 13.0rem 5.125rem;
	border-radius: 0 0 .5rem .5rem;
	width: 11.2rem;
	padding: 0.75rem 0.5rem 2rem 1rem;
	font-size: 0.5rem;
  /*-webkit-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);*/
}
.sj-layer-cont:before {
  content: "";
  position: absolute;
  left: 0;
  top: -1.7rem;
  width: 13.95rem;
  height: 1.75rem;
  background-image: url("../../img/share/jbh_laytopbg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.sj-layer h3{
	text-indent: -999rem;
	margin: 0 auto;
}
.sj-layer-cont .close {
  position: absolute;
  right: -0.625rem;
  top: -1.625rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  text-indent: -999rem;
}
.jbh-rule h3{
	background-position: -13.0rem -6.95rem;
	width: 4.2rem;
	height: 1.1rem;
}
.rule-cont{
	margin: 0.25rem auto 0;
	width: 11rem;
	height: 216px;
	overflow-y: scroll;
	font-size: 12px;
	line-height: 20px;
}
/**定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸**/
.rule-cont::-webkit-scrollbar{
    width: 0.2rem;
    background: rgba(0,0,0,0);
}
/**定义滚动条轨道 内阴影+圆角**/
.rule-cont::-webkit-scrollbar-track{
    background: rgba(0,0,0,0);
}
/**定义滑块 内阴影+圆角**/
.rule-cont::-webkit-scrollbar-thumb{
   background: #d63426;
   border-radius: 5rem;
}
.rule-cont p em{
	padding-left: 0.7rem;
	padding-right: 0.1rem;
}
.rule-cont p:after{
	content: "";
	display: block;
	height: 0.125rem;
	line-height: 1.2;
}
.jbh-share .sj-layer-cont{
	top: 6.5rem;
}
.jbh-share h3{
	background-position: 0 -9.6rem;
	width:8.3rem;
	height: 4.0rem;
	margin-top: 1.75rem;
}
.jbh-share .sj-layer-cont{
	height: 8.5rem;
}
.jbh-share p{
	padding: 1.25rem 0 0 1.5rem;
	font-size: 0.7rem;
}
.jbhico.candle{
	background-position: 0 0;
	width: 3.85rem;
	height: 3.45rem;
	position: absolute;
	right: -0.2rem;
	top: -2.45rem;
	z-index: 10;
}
.jbhico.red-wine{
	background-position: -4.05rem 0;
	width: 3.15rem;
	height: 4.325rem;
	position: absolute;
	left: 0.8rem;
	bottom: 1.25rem;
	z-index: 10;
}
.jbhico.sexy-lady{
	background-position: -7.425rem 0;
	width: 5.45rem;
	height: 8.9rem;
	position: absolute;
	right: 0.2rem;
	bottom: -3rem;
	z-index: 15;
}
.jbhico.enamel{
	background-position: 0 -4.325rem;
	width: 5.725rem;
	height: 3.3rem;
	position: absolute;
	left: 3rem;
	top: -2rem;
	z-index: 16;
}
.jbhico.hand{
	position: absolute;
	right: 2.0rem;
	bottom: 1rem;
	width: 2.975rem;
	height: 3.45rem;
	background-position: -12.625rem -8.8rem;
}
.jbhico.gift{
	background-position: -15.25rem -3.425rem;
	width: 3.35rem;
	height: 3.7rem;
	position: absolute;
	left: 4.5rem;
	top: -3.5rem;
	z-index: 16;
}
.jbhico.guid{
	background-position: -15.475rem -9.1rem;
	position: fixed;
	right: 0;
	top: 0;
	width: 4.425rem;
	height: 3.0rem;
	z-index: 16;
}
.jbh-share .jbhico.sexy-lady{
	top: -5.3rem;
	bottom: auto;
	right: -0.2rem;
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
}
.jbh-register h3{
	background-position: 0 -8.3rem;
	width: 10.625rem;
	height: 1.0rem;
	margin-top: 1.75rem;
}
.jbh-register input{
	outline: none;
}
.jbh-register .mobile{
	width: 10.5rem;
	height: 1.95rem;
	line-height: 1.95rem;
	margin-top: 0.4rem;
	color: #333333;
	font-size: 1.25rem;
	text-align: center;
	border: 1px solid #d63426;
	box-shadow: inset 0.25rem 0.25rem 0.3rem rgba(205, 205, 205, 0.6);
	border-radius: 8px;
}
.jbh-register .submit{
	display: block;
	margin: 0 auto;
	background-position: -13.0rem -8.3rem;
	width: 6.0rem;
	height: 2.0rem;
	padding-bottom: 0.25rem;
	margin-top: 0.4rem;
	text-indent: -999rem;
}
.lock-scroll .jbh-rule{
	z-index: 20;
}
.lock-scroll .ac-rule-btn{
	display: none;
}
/**弹层E**/
/**rotate left right**/
@keyframes left-right {
	0% {
		-webkit-transform: rotate(6deg);
		transform: rotate(6deg);
	}
	100% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
}
@-webkit-keyframes left-right {
	0% {
		-webkit-transform: rotate(6deg);
		transform: rotate(6deg);
	}
	100% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
}
/**btn arrow**/
@keyframes down-none {
    0%{
        opacity: 0;
        transform: translate3d(0, -.2rem, 0);
        -webkit-transform: translate3d(0, -.2rem, 0);
    }
    50% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, .2rem, 0);
        -webkit-transform: translate3d(0, .2rem, 0);
    }
}
@-webkit-keyframes down-none {
    0%{
        opacity: 0;
        transform: translate3d(0, -.2rem, 0);
        -webkit-transform: translate3d(0, -.2rem, 0);
    }
    50% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, .2rem, 0);
        -webkit-transform: translate3d(0, .2rem, 0);
    }
}

@keyframes yanhua {
    0%, 50%{
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    49%, 99%{
    	opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
@-webkit-keyframes yanhua {
    0%, 50%{
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    49%, 99%{
    	opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
