@charset "UTF-8";

a.android-btn em, a.iphone-btn em{
	background-image: url("../img/h5-icos2.png?v20151112");
	background-repeat: no-repeat;
	background-size: 1.25rem 15rem;
}
.app-download{
	width: 16.0rem;
}
/**part1 S**/
.part1{
	background-image: url("../img/pagebg1.png");
	background-repeat: repeat;
	background-size:7.3rem 7.325rem;
	height: 18.7rem;
	padding-top: 1.8rem;
	color: #fff;
	text-align: center;
	position: relative;
}
.part1 h1{
	background-image: url("../img/app.png");
	width: 7.9rem;
	height: 1.9rem;
	margin: 0 auto;
	text-indent: -999rem;
}
.part1 h2{
	font-size: 1.2rem;
}
.part1 .tip{
	font-size: 0.625rem;
}

a.iphone-btn, a.android-btn{
	float: left;
	position: relative;
	width: 4rem;
	height: 1.6rem;
	border: 0.05rem solid #171717;
	background: rgba(23,23,23,.9);
	border-radius: 4px;
	color: #fff;
	font-size: 0.4rem;
	text-align: left;
	padding-left: 2.25rem;
	padding-top: 0.4rem;
	margin-top: 1.2rem;
	z-index: 3;
	line-height: 1.2;
}
a.iphone-btn{
	margin-left: 1.625rem;
}
a.android-btn{
	margin-left: 0.5rem;
}
a.iphone-btn strong, a.android-btn strong{
	font-size: 0.65rem;
	font-weight: normal;
}
a.iphone-btn em, a.android-btn em{
	position: absolute;
	left: 1rem;
	top: 0.4rem;
}
a.iphone-btn em{
	background-position: 0 -5.125rem;
	width: 0.95rem;
	height: 1.2rem;
}
a.android-btn em{
	background-position: 0 -3.75rem;
	width: 1.1rem;
	height: 1.2rem;
}
a:hover.iphone-btn, a:hover.android-btn{
	border-color: #fff;
	background: rgba(23,23,23,.8);
	color: #fff;
}
.part1-linebg{
	background-image: url("../img/line-bg.png");
	width:14.9rem;
	height: 10.3rem;
	position: absolute;
	bottom: 0;
	left: 0.6rem;
	z-index: 1;
}
.part1-phone{
	background-image: url("../img/phone.png");
	width:9.25rem;
	height: 13.8rem;
	position: absolute;
	bottom: 0;
	left: 3rem;
	z-index: 2;
}
/**part1 E**/
/**part2 S**/
.part2{
	background: #e4e8f1;
	height: 16.5rem;
	border-top: 0.025rem solid #fff;
	border-bottom: 0.025rem solid #fff;
	padding-top: 2rem;
}
.part2 .tip, .part4 .tip{
	font-size:0.65rem;
	color: #383850;
	text-align: center;
	line-height: 1.2;
}
.part2 .tip strong, .part4 .tip strong{
	font-size:1.25rem;
	font-weight: normal;
	padding-bottom: 0.1rem;
	display: inline-block;
}
.part2 .tip em, .part4 .tip em{
	color: #ff5500;
}
.part2-bg{
	background-image: url("../img/pagebg2.jpg");
	width:15.125rem;
	height: 13.5rem;
	margin-top: 0.7rem;
}
/**part2 E**/
/**part3 S**/
.part3, .part5{
	background: #4f5565;
	height: 16.5rem;
	border-top: 0.025rem solid #fff;
	border-bottom: 0.025rem solid #fff;
	padding-top: 2rem;
}
.part3 .tip, .part5 .tip{
	font-size:0.65rem;
	color: #fff;
	text-align: center;
	line-height: 1.2;
}
.part3 .tip strong,.part5 .tip strong{
	font-size:1.25rem;
	font-weight: normal;
	padding-bottom: 0.1rem;
	display: inline-block;
}
.part3 .tip em,.part5 .tip em{
	color: #ff5500;
}
.part3-bg{
	background-image: url("../img/pagebg3.jpg");
	width:13rem;
	height: 12.25rem;
	margin: 0.5rem auto 0;
}
/**part3 E**/
/**part4 S**/
.part4{
	background-image: url("../img/pagebg4.jpg");
	width: 16rem;
	height: 16.5rem;
	padding-top: 2rem;
	background-size: contain;
	background-repeat: no-repeat;
}
/**part4 E**/
/**part5 S**/
.part5{}
.part5-bg{
	background-image: url("../img/pagebg5.jpg?v20160310");
	width: 13.0rem;
	height: 11.25rem;
	margin: 1rem 0 0 1.8rem;
	text-indent: -999rem;
}
/**part5 E**/

.divice-tip{
	background: rgba(79,85,101,.4);
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.divice-tip .iostip, .divice-tip .androidtip, .weixintip{
	width: 13rem;
	margin: 0 auto;
	border-radius: 0.2rem;
	background: #fff;
	padding: 1.4rem 0;
	margin-top: 9rem;
	text-align: center;
	font-size: 0.7rem;
}

.weixintip{
	text-align: left;
	padding:1.4rem;
	width: 10rem;
	margin-top: 4rem;
}
.weixintip .arrow{
	background-image: url("../img/guide-arrow.png");
	width:4.35rem;
	height: 3.625rem;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}
.weixintip .share-tip{
	display: inline-block;
	background-image: url("../img/share-tipico.png");
	width:2rem;
	height: 2.75rem;
	margin-left: 0.1rem;
}










