@charset "UTF-8";

.tyg-open-contact .tyg-ico, .tyg-open .media-cut .pc, .tyg-open .media-cut .about, .rig-arrow, .homepic-tab .tab-menu li em, .down-btn em, .pencil-ico{
	background-image: url("../img/h5-icos.png?v20160201");
	background-repeat: no-repeat;
	background-size: 0.75rem 15rem;
}
.about-tel em, .about-address em, .about-time-ico, .input-sub{
	background-image: url("../img/h5-icos2.png?v20151112");
	background-repeat: no-repeat;
	background-size: 1.25rem 15rem;
}
.question-ico, .answer-ico, .strategy-tab li em{
	background-image: url("../img/nav-icos.png?v20160127");
	background-repeat: no-repeat;
	background-size: 11rem 14.0rem;
}

.index-header{width: 15rem; height: 1.5rem;padding: 0.5rem 0.5rem 0; display: table;}
.logo{background-image: url("../img/logo.png");width: 3.7rem;height: 1.25rem; float: left;text-indent: -100rem;}
.phone-num{background-image: url("../img/phone-num.png");width: 4.85rem;height: 1rem;float: right;margin-top: 0.2rem; text-indent: -100rem;}

.index-swiper{width: 100%;height: 7rem; }

.index-swiper .swiper-slide {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.index-swiper .swiper-slide{width: 100%;height: 7rem;}
.index-swiper .imgbox{width: 16rem;height: 7rem;overflow: hidden;}
.index-swiper .swiper-slide img{width: 100%;height: auto;}
.index-swiper .swiper-pagination{bottom: 0.5rem;}
.index-swiper .swiper-pagination .swiper-pagination-bullet{width: 0.3rem;height: 0.3rem;margin: 0 0.2rem;}

.piccont{border-top: 0.05rem solid #eee;margin-top: 0.5rem;}
.subhead{height: 1.2rem;line-height: 1rem;padding: 0 0.75rem;font-size: 0.5rem;}
.subhead-bigger{font-size: 0.6rem;height: 1.5rem;line-height: 1.5rem;}
.piccont .tlt{margin-top: 0.5rem;}
.piccont .main-pic{position: relative;height: 7rem;}
.piccont .main-pic a{display: block;position: absolute;}
.piccont .mainpic1{left: 0;top: 0;border-right: 0.05rem solid #fff;}
.piccont .mainpic2{left: 8.05rem;top: 0}
.piccont .mainpic3{left: 8.05rem;bottom: 0}
.piccont .mainpic4{right: 0;top: 0;border-left: 0.05rem solid #fff;}
.piccont .mainpic1, .piccont .mainpic1 .imgbox{width: 8.05rem;height: 7rem;overflow: hidden;}
.piccont .mainpic2, .piccont .mainpic2 .imgbox{width: 4rem;height: 3.475rem;overflow: hidden;}
.piccont .mainpic3, .piccont .mainpic3 .imgbox{width: 4rem;height: 3.475rem;overflow: hidden;}
.piccont .mainpic4, .piccont .mainpic4 .imgbox{width: 4rem;height: 7rem;overflow: hidden;}

.piccont .mainpic1 .imgbox img{width: auto;height: auto}
.piccont .mainpic2 .imgbox img{width: auto;height: auto}
.piccont .mainpic3 .imgbox img{width: auto;height: auto}
.piccont .mainpic4 .imgbox img{width: auto;height: auto}
.piccont .btn{margin-left: 0.75rem;}

.house-type{border-top:0.05rem solid #eeeeee;margin: 0 0.75rem;}
.house-type a{display: inline-block; height: 1.4rem;line-height: 1.4rem; margin-right: 0.4rem;margin-top: 0.5rem;
	border:0.05rem solid rgba(51,51,51,.6);border-radius: 1rem;padding: 0 0.8rem; color: #666666;}
.house-type a:hover, .house-type a.active{background-color: #e95520;border-color: #e95520; color: #fff;}

.main-enter{width: 16rem;height: 7rem; margin-top: 1rem;background-image: url("../img/index-bg.jpg");background-size: cover;position: relative;}
.main-enter h2{font-size: 0.8rem;padding-left: 0.6rem;line-height: 1.2rem;}
.main-enter p{font-size: 0.5rem;line-height: 0.6rem;padding-left: 0.6rem;line-height: 0.7rem;}
.flow-enter, .choose-enter, .baike-enter{display: block;}
.flow-enter{position: absolute;left: 0;top: 0.3rem;width: 8rem;height: 6.7rem;}
.choose-enter{position: absolute;left: 8rem;top: 0.3rem;width: 8rem;height: 3.2rem;}
.baike-enter{position: absolute;left: 8rem;top: 3.8rem;width: 8rem;height: 3.2rem;}

.index-strategy .material-list{padding-top: 0}
.index-asklist .hotask-list{margin-top: 0.2rem;}

.strategy-tab{ color: #fff;}
.strategy-tab .tab-menu li{float: left;width: 33.33333%; height: 3.75rem;font-size: 0.6rem;cursor: pointer; text-align: center;box-shadow: inset 2px -5px 6px rgba(0,0,0,.2)}
.strategy-tab .tab-menu li.tab-tlt1{background: #58c7be;}
.strategy-tab .tab-menu li.tab-tlt2{background: #58c782;}
.strategy-tab .tab-menu li.tab-tlt3{background: #abc758;}
.strategy-tab .tab-menu li.active{box-shadow: none;}

.strategy-tab .h5-ico{display: block;width: 2rem;height: 1.65rem;margin: 0.625rem auto 0.3rem;}
.strategy-tab .ico-st1{background-position: -2.75rem -5.5rem;}
.strategy-tab .ico-st2{background-position: -4.95rem -5.5rem;}
.strategy-tab .ico-st3{background-position: -7.15rem -5.5rem;}

.strategy-tab .tab-wrap{font-size: 0.55rem;}
.strategy-tab .tab-each{padding: 1.5rem 0.75rem 0; height: 3rem}
.strategy-tab .tab-each a{color: #fff;}
.strategy-tab .st-step{padding-right: 0.1rem;display: inline-block;line-height: 1.3rem;}
.strategy-tab .strategy-con2{padding: 1rem 0.2rem 0; height: 3.5rem}
.strategy-con1{background-color: #57c7be;}
.strategy-con2{background-color: #57c780;}
.strategy-con3{background-color: #abc757;}
.strategy-con2 .circle{border-color: #399f60}
.strategy-con2 .spot{background-color: #399f60;}
.strategy-con3 .circle{border-color: #809c2b}
.strategy-con3 .spot{background-color: #809c2b}

.chos-material{}
.material-list{padding-top: 1rem;}
.material-list li{position: relative;zoom:1;height: 4rem;margin-top: 0.1rem; border-bottom: 0.05rem solid #eeeeee; padding: 0 0 0.1rem 4.5rem;}
.material-list li a{display: block;zoom:1;}
.material-list li .imgbox{position: absolute;left: 0;top: 0;width: 4rem;height: 4rem;overflow: hidden;}
.material-list li .imgbox img{width: auto;height: auto;}
.material-list li h3{font-size: 0.75rem;padding: 0.3rem 0;}
.material-list li .msg{color: #999999;}
.material-list li:last-child{border-bottom: 0;}

.pull-down{position: relative;zoom:1;z-index: 1}
.choosebox{border-top: 0.05rem solid #cccccc;border-bottom: 0.05rem solid #cccccc;height: 2rem;line-height: 2rem; padding: 0 5.5rem 0 0.75rem; position: relative;zoom:1;font-size: 0.75rem;}
.down-btn{position: absolute;right: 0;top: 0;width: 5rem; height: 2rem; color: #e85521; text-align: center;border-left: 1px solid #ccc;}
.down-btn em{background-position: -0.42rem -9.4rem; width: 0.35rem;height: 0.28rem;display: inline-block;margin-left: 0.5rem;}
a:hover.down-btn{color: #e85521;}

.selectcont{display: none;position: absolute;top: 2.1rem;left: 0; background-color: #fff;font-size: 0.75rem;z-index: 2}
.selectlist{padding:1rem 0;}
.selectlist li{ float: left;width: 4.8rem; height: 1.3rem;line-height: 1.3rem;margin-left: 0.5rem;display: inline;}
.selectlist li.active a{color: #ed5526;}
.selectlist li.active .circle, .selectcont a:hover .circle{border:3px solid #ed5526;width: 0.35rem;height: 0.35rem;}
.selectcont a{color: #656565}
.selectcont a:hover{color: #ff5500}
.selectcont .circle{border-color: #cccccc;margin-bottom: 5px;}
.selectcont .all{margin: 0 0.5rem; border-top:0.05rem solid #cccccc;height: 2rem;line-height: 2rem;}
.pull-layer{position: fixed;top: 4.1rem;left: 50%;margin-left: -8rem; width: 16rem;height: 100%;background: rgba(0,0,0,0.4);z-index: 1;display: none;}

.pull-open .down-btn em{background-position: -0.42rem -9rem;}
.pull-open .selectcont{display: block;}
.pull-open .pull-layer{display: block;}

.material-cont h4{color: #e55320; height: 1rem;line-height: 1rem;padding:0.5rem 0.5rem 0;font-size: 0.55rem;}
.material-cont .selectlist{padding: 0;}
.material-cont .all{margin-top: 0.5rem;}

.choose-this{}
.choose-this span{font-size: 0.5rem;}
.choose-this span em{margin:0 0.1rem; color: #cccccc;}

.askform{border:0.05rem solid #cccccc; height: 2rem;line-height: 2rem; position: relative;zoom:1;padding: 0 2rem 0 0.75rem;margin-left: 0.75rem;border-radius: 40px 0 0 40px;}
.askform .input-txt{font-size: 0.75rem;width: 12rem;border: none;}
.input-txt{border: 0;}
.input-sub{position: absolute;right: 0.75rem;top: 0.5rem;width: 1.05rem;height: 1.075rem;background-position: 0 -6.45rem;}

.asklistcont{}
.asksort-list{color: #999999;}
.asksort-list li{ float: left;margin-top: 1rem; font-size: 0.75rem; height: 1rem;line-height: 1rem;}
.asksort-list li a{color: #999999;margin:0 0.15rem;}
.asksort-list li a:hover{color: #ff5500;}

.hotask-list{margin-top: 0.5rem;border-top: 0.05rem solid #eeeeee;}
.hotask-list li{border-bottom: 0.05rem solid #eeeeee;padding: 0.5rem 0.75rem;position: relative;zoom:1;}
.hotask-list li a{display: block;zoom:1;}
.hotask-list li h3{width: 13rem;font-size: 0.75rem;}
.hotask-list .sortmsg {margin-top: 0.375rem;}
.hotask-list .asknum{background-color: #ddf4f2; color: #57c7be;}
.rig-arrow{display: block;position: absolute;top: 50%;right: 1rem;margin-top:-0.32rem; width: 0.4rem; height: 0.7rem;
background-position: 0 -7.175rem;}
a:hover .rig-arrow{background-position: 0 -8.075rem;}
.asklistcont .btn{margin-left: 0.6rem;}
.asklistcont .page{margin-left: 0.75rem;}
.asklistcont .page .btn{margin-left: 0;}
.asklistcont .hotask-list{border-top: 0;margin-top: 0;}

.g-search-match {color:#ff5500;}

.search-msg{color: #e95520;padding: 0.5rem 0.75rem 0;font-size: 0.75rem;}

.search-break-msg{color: #e95520;font-size: 0.75rem; text-align: center;}
.search-break-msg:before{content: "";display: block; height: 5rem;}
.search-break-msg:after{content: "";display: block; height: 8rem;}

.ask-detail{}
.ask-detail .cutline{margin: 0.2rem 0;}
.main-ask{padding: 0.5rem 0.75rem;position: relative;zoom:1;line-height: 1rem; font-size: 0.7rem;}
.main-ask .ask-tlt{padding-left: 2rem;padding-bottom: 0.2rem;}
.main-ask .ask-tlt h3{height: 2rem;  vertical-align:middle;
	display:table-cell;  }
.ask-detail .ask-msg{ color: #666666; font-size: 0.75rem;}
.question-ico{position: absolute;left: 0;top: 0.5rem; width: 2.275rem; height: 2rem;background-position: 0 -8.25rem;}
.ques-inf{font-size: 0.6rem; color: #999999;margin-top: 0.5rem;}
.ques-inf a{color: #999;}
.ques-inf a:hover{color: #ff5500;}
.ques-inf em{margin: 0 0.2rem;}
.main-answer{}
.answer-ico{position: absolute;left: 0;top: 0.5rem; width: 2.35rem; height: 2.125rem;background-position: -2.5rem -8.25rem;}
.else-answer{}
.else-anslist{}
.else-anslist li{border-top: 0.05rem solid #eeeeee;padding: 0.5rem;margin-top: 0.5rem; color: #666666;line-height: 1rem;}
.else-queslist{margin-top: 0.5rem;}
.else-queslist li{position: relative;zoom:1;border-top: 0.05rem solid #eeeeee;padding: 0.5rem;}
.else-queslist li h4{width: 12rem; display: table-cell;vertical-align: middle;font-size: 0.75rem;}
.else-queslist .ansnum{position: absolute;right: 0.5rem;top: 0.5rem;color: #999999;}
.else-nonumlist li h4{width: 15rem;}

.reg-wrap{}
.topic-banner .banner-bg{
	background-image: url("../img/topic-banner1.png?v20160218");
	width: 100%;
	height: 7.5rem;
}
.topic-banner .banner-bg2{
	background-image: url("../img/topic-banner2.jpg?v20160218");
	width: 100%;
	height: 9.5rem;
}
.topic-banner .banner-bg3{
	background-image: url("../img/topic-banner3.png");
	width: 100%;
	height: 7.5rem;
}
.topic-banner .banner-bg4{
	background-image: url("../img/topic-banner4.jpg");
	width: 100%;
	height: 7.5rem;
}
.topic-banner .banner-bg h2, .topic-banner .banner-bg2 h2, .topic-banner .banner-bg3 h2, .topic-banner .banner-bg4 h2{
	text-indent: -999rem;
}
.topic-banner p{
	padding: 0.5rem 0.75rem;
	color: #9e715f;
	font-size: 0.75rem;
}
.arrow-bg{
	background-image: url("../img/arrowbg.jpg");
	width: 100%;
	height: 0.15rem;
}
.regform{background-color: #eee;text-align: center;}
.input-txt{border: 0.05rem solid #cccccc;background-color: #fff;width: 14rem; height: 0.8rem;padding: 0.5rem 0.2rem;}
.regform .input-txt{margin-top: 0.5rem;}
.regform .selectbg{background: url("../img/regsetbg.png") no-repeat 0.8rem 0;background-size: contain;margin-top: 0.5rem; padding-left: 0.8rem; width: 14.5rem; height: 2rem;overflow: hidden;zoom:1;}
.regform select{float: left; width: 7rem;height: 2rem;line-height: 2rem;margin-right: 0.5rem;color: #999999;border:0;background:transparent;display: inline; -webkit-appearance: none;}
.regform select:nth-child(2){margin-right: 0}
.regform .btn{background-color: #ff5500;color: #fff;margin: 0.75rem 0 0 0;border: 0;}
.regform .btn-gray{background-color: #888888;cursor: default;opacity: 1;}

.flow-chart{}
.flow-chart .flow{background-repeat: no-repeat;background-position: center;background-size: contain;text-indent: -100rem;}
.flow-chart .flow h2, .flow-chart .flow p{height: 1.25rem; line-height: 1;}
.flow-chart .flow1{background-image: url("../img/order_step1.png"); width: 100%; height: 14.0rem;}
.flow-chart .flow2{background-image: url("../img/order_step2.png"); width: 100%; height: 11.75rem;}
.flow-chart .flow3{background-image: url("../img/order_step3.png"); width: 100%; height: 17.7rem;}
.flow-chart .flow4{background-image: url("../img/order_step4.png"); width: 100%; height: 17.25rem;}
.flow-chart .flow5{background-image: url("../img/order_step5.png"); width: 100%; height: 16.5rem;}
.flow-chart .flow6{background-image: url("../img/regpic6.png?v20150924"); width: 100%; height: 11rem;}
.flow-chart .flow7{background-image: url("../img/regpic7.png?v20150924"); width: 100%; height: 7.5rem;}
.flow-chart .flow8{background-image: url("../img/regpic8.png?v20150924"); width: 100%; height: 11.25rem;}

.flow-chart .flow8 .form-tip{
	text-indent: 0;
	color: #e95520;
	margin: 8.5rem 0 0 0.7rem;
	width: 14.55rem;
	text-align: center;
	font-size: 0.7rem;
	height: 1.3rem;
	line-height: 1;
}
.topic-guar-form{
	background: #fff;
}
/**售后服务S**/
.after-sale-sf1{
	background-image: url("../img/after_sale1.jpg");
	width: 100%;
	height: 6.575rem;
}
.after-sale-sf2{
	background-image: url("../img/after_sale2.jpg");
	width: 100%;
	height: 7.45rem;
}
.after-sale-sf3{
	background-image: url("../img/after_sale3.jpg");
	width: 100%;
	height: 7.475rem;
}
.after-sale-sf4{
	background-image: url("../img/after_sale4.jpg");
	width: 100%;
	height: 9.625rem;
	padding-top: 8.0rem;
	padding-left: 1.15rem;
	color: #e95520;
}
.topic-cons-form{
	background: #ffffff;
}
/**售后服务E**/
.article{padding: 0.75rem;border-top: 0.05rem solid #eee;position: relative;}
.article .article-tlt{font-size: 1rem;}
.article .article-tlt h1{font-weight: 400;}
.article-info{color: #999999; height: 1rem;line-height: 1rem;margin-top: 0.2rem;}
.article-cont{margin-top:0.5rem;color: #666666;line-height: 1.2rem;font-size: 0.8rem;}
.article-cont img{max-width: 13.5rem!important;height: auto !important; margin:0.2rem;}
.manifesto{background-image: url("../img/manifesto.png?v=150605150104"); width: 5.9rem; height: 1.25rem;margin: 0.2rem auto 0;text-indent: -100rem;}

.effect-bg1, .effect-bg2, .effect-bg3, .effect-bg4{display: block; width: 16rem;height: 7rem;background-size: cover;text-indent: -100rem;}
.effect-bg1{background-image: url("../img/effect-pic1.jpg");}
.effect-bg2{background-image: url("../img/effect-pic2.jpg");}
.effect-bg3{background-image: url("../img/effect-pic3.jpg");}
.effect-bg4{background-image: url("../img/effect-pic4.jpg");}

.effect-page .house-type{border-top: 0;padding-top: 0.5rem;padding-bottom: 0.5rem;}
.effect-page .house-type:after{content: "";display: block; height: 0.5rem;}

.homepic-tab{position: relative;}
.homepic-tab .tab-wrap{position: absolute;top: 2rem;left: 0;width: 16rem; z-index: 2;}
.homepic-tab .tab-each{background-color: #fff; border-bottom: 0.25rem solid rgba(0,0,0,0.5);background-clip:padding-box;}
.homepic-tab .tab-menu li{float: left;width: 3.95rem; height: 2rem; line-height: 2rem; font-size: 0.75rem;color: #fff; cursor: pointer; text-align: center;background-color: #e95520;border-right: 0.05rem solid #eee;}
.homepic-tab .tab-menu li.active{background-color: #fff;color: #e95520;}
.homepic-tab .tab-menu li em{background-position: 0 -9.4rem;width: 0.4rem;height: 0.3rem;display: inline-block;margin-left: 0.5rem;}
.homepic-tab .tab-menu li.active em{background-position: 0 -9.875rem;}
.homepic-tab .house-type{border-top: 0;}
.homepic-tab .house-type:after{content: "";display: block; height: 0.5rem;}

.waterfall{margin-top: 0.5rem;}
.waterfall:after{content: "";display: block;height: 0.5rem;}
#waterfall{ text-align:center;}
.waterfall_column{max-width: 640px;}
#waterfall .cell { margin-top: 0.25rem; border:1px solid #ededed; background:#fcfcfc;position: relative;zoom:1;}
#waterfall .cell img{width:100%; height: auto; vertical-align: middle;}
#waterfall .cell p{text-align: center;line-height: 1.5rem;height: 1.5rem;overflow: hidden;text-overflow:ellipsis; white-space:nowrap;zoom:1;}
#waterfall .cell .album-num{display: block;width: 100%; height: 2rem; line-height: 2.3rem; text-align: left; padding-left: 0.5rem; position: absolute;left: 0;bottom: 1.5rem;color: #fff;font-size: 0.4rem;background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3))}
#waterfall .cell .album-num em{font-size: 0.75rem;}
#waterfall .cell a.active{color: #ff5500;}

.color-cont{margin: 0 0.75rem;}
a.color-dot{display: inline-block;width: 2.5rem;height: 2.5rem; margin: 0.3rem 0.25rem 0.2rem 0;}
a.color-dot span{display: inline-block;width: 2rem;height: 2rem;line-height: 2rem; text-align: center; border-radius: 50%;border: 0.25rem solid #fbfbf9;color: transparent;}
a:active.color-dot span{ color: #ffffff;}

a.color-dot span.color-dot1{color: #989898;background-color:#eee;}
a:active.color-dot .color-dot1{border-color: #f8f8f8;color: #989898;}

a.color-dot span.color-dot2{background-color: #fff;border-color: #fbfbf9;/** width: 2.45rem;height: 2.45rem; line-height: 2.45rem; border-width: 0.025rem; **/}
a:active.color-dot .color-dot2, .color-cont a.active .color-dot2{color: #999999;border-color: #f6f6f4; /** width: 2rem;height: 2rem;line-height: 2rem;border: 0.25rem solid #f7f7f5; **/}

a.color-dot span.color-dot3{background-color: #f0eedf;color: #f0eedf}
a:active.color-dot .color-dot3, .color-cont a.active .color-dot3{border-color: #fdfbf0;color: #ffffff;}

a.color-dot span.color-dot4{background-color: #f3eb88;color: #f3eb88}
a:active.color-dot .color-dot4, .color-cont a.active .color-dot4{border-color:#fffcd2;color: #ffffff;}

a.color-dot span.color-dot5{background-color: #f1c480;color: #f1c480}
a:active.color-dot .color-dot5, .color-cont a.active .color-dot5{border-color: #fae8ce;color: #ffffff;}

a.color-dot span.color-dot6{background-color: #f58383;color: #f58383}
a:active.color-dot .color-dot6, .color-cont a.active .color-dot6{border-color: #f4bdbd;color: #ffffff;}

a.color-dot span.color-dot7{background-color: #fcc4d1;color: #fcc4d1}
a:active.color-dot .color-dot7, .color-cont a.active .color-dot7{border-color: #f4dee3;color: #ffffff;}

a.color-dot span.color-dot8{background-color: #d3ef7e;color: #d3ef7e}
a:active.color-dot .color-dot8, .color-cont a.active .color-dot8{border-color: #e6f6b5;color: #ffffff;}

a.color-dot span.color-dot9{background-color: #a2dbec;color: #a2dbec}
a:active.color-dot .color-dot9, .color-cont a.active .color-dot9{border-color: #edf8fa;color: #ffffff;}

a.color-dot span.color-dot10{background-color: #e0bbee;color: #e0bbee}
a:active.color-dot .color-dot10, .color-cont a.active .color-dot10{border-color: #f1dff8;color: #ffffff;}

a.color-dot span.color-dot11{background-color: #555555;color: #555555}
a:active.color-dot .color-dot11, .color-cont a.active .color-dot11{border-color: #aaa9a9;color: #ffffff;}

a.color-dot span.color-dot12{background-color: #ba9d95;color: #ba9d95}
a:active.color-dot .color-dot12, .color-cont a.active .color-dot12{border-color: #e6cbc4;color: #ffffff;}

a.color-dot span.color-dot13{background-color: #cccccc;color: #cccccc}
a:active.color-dot .color-dot13, .color-cont a.active .color-dot13{border-color: #e6e3e3;color: #ffffff;}

a.color-dot span.color-dot14{background: -webkit-linear-gradient(-120deg, #e0bbee, #a8d6ee, #d1ef7f, #f3c381);}
a:active.color-dot .color-dot14, .color-cont a.active .color-dot14{border-color: #d6f4e9;color: #ffffff;}

.pic-break .search-break-msg .tip-msg{ color: #999999;line-height: 1.8rem;}

.main-picture{width: 100%; height: 100%;background-color:#333;position: fixed;top: 0;left: 0;margin: 0 auto;}
.main-picture .m-header{position: absolute;top: -2rem;left: 0;width: 11.5rem;z-index: 10;background-color: #333;-webkit-transition:top .3s ease-in;transition:top .3s ease-in;}
.main-picture .m-header-slide{top: 0;}
.main-picture .backico{background-position: 0 -9rem;}
.main-picture .category-trigger{background-position: 0 -11.4rem;}
.main-picture .swiper-container { width: 100%;height: 100%;}
.main-picture .swiper-wrapper{z-index: 2}
.main-picture .swiper-slide {text-align: center;font-size: 18px;background: #333;}
.main-picture .swiper-slide img {
	width: 100%;
	height: auto;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
}
.main-picture .swiper-container-horizontal>.swiper-scrollbar{bottom: 4rem;height: 0.05rem;z-index: 10;opacity: 0;-webkit-transition:opacity .2s ease-in;transition:opacity .2s ease-in;}
.main-picture .swiper-container-horizontal>.opacityall{opacity: 1}
.main-picture .swiper-scrollbar{border-radius: 0;height: 0.03rem;background: rgba(255,255,255,.8);}
.main-picture .swiper-scrollbar-drag{background:rgba(255,85,0,.8);}

.pic-intromsg{position: absolute;bottom: -6rem;left: 0;width: 16rem;height: 5rem; -webkit-transition:bottom .3s ease-in;transition:bottom .3s ease-in;}
.pic-intro-glide{bottom: 0;}
.main-picture .classify-name{ position: absolute;bottom: 4.5rem;left:0.5rem;z-index: 10; color: #fff;font-size: 0.6rem;text-shadow:0 0 10px rgba(0,0,0,0.8);}
.main-picture .type-name{position: absolute;bottom: 2.8rem;left:0.5rem;z-index: 10; color: #fff;font-size: 0.75rem;text-shadow:0 0 10px rgba(0,0,0,0.8);}
.main-picture .freebtn{position: absolute;bottom: 1rem;left: 50%;margin-left: -3rem;z-index: 10;
	border:0.05rem solid #fff;border-radius: 1rem; width: 6rem; height: 1.3rem; line-height: 1.3rem; color: #fff; text-align: center;text-shadow:0 0 10px rgba(0,0,0,0.5);}
.main-picture .pencil-ico{display: inline-block; margin-right: 0.1rem; margin-bottom: 0.1rem; width: 0.675rem; height: 0.75rem;background-position: 0 -10.3rem;}
.main-picture a:hover.freebtn{color: #fff;background-color: #ff5500;border:0.05rem solid #ff5500;}
.main-picture .picnums{position: absolute;bottom: 2.8rem;right: 1rem;color: #fff; font-size: 0.5rem; z-index: 10;text-shadow:0 0 10px rgba(0,0,0,0.5);}
.main-picture .picnums .itemindex{font-size: 0.9rem;}

.blacklay{ position: absolute;left: 0;bottom: 0; height: 7.75rem; width: 100%; z-index: 3;
	background:-webkit-linear-gradient(
			to bottom,
			rgba(0,0,0,0) 0%,
			rgba(0,0,0,0.5) 100%);
	background:linear-gradient(
			to bottom,
			rgba(0,0,0,0) 0%,
			rgba(0,0,0,0.5) 100%);
}
.nopictip-begin, .nopictip-end{width: 0.5rem;position: absolute;top: 50%; height: 3rem;
	margin-top: -3rem;z-index: 1;color: #ccc;font-size: 0.4rem;text-shadow:0 0 5px rgba(0,0,0,1);}
.nopictip-begin{left: 0;}
.nopictip-end{right: 0;}

.page404{margin-top: 6.75rem; height: 19.5rem; text-align: center;}
.ico-404{margin: 0 auto; display: block;width: 9.85rem;height: 4.15rem;background-image: url("../img/404.png");}
.page404 h3{font-size: 1.4rem;line-height: 2.5rem;}
.msg404{font-size: 0.6rem;}
.page404 .btn{border-color: #e95520;}


img[src$="img_not_found.png"] {width:100% !important;}

.about-banner{
	background-image:url("../img/about_banner.jpg");
	width: 100%;
	height: 7rem;
	text-indent: -999rem;
}
.about-intro{
	font-size:0.8rem;
	color: #666666;
	padding: 1rem 1rem 1.5rem;
}
.about-intro p{
	text-indent: 1.5rem;
	line-height: 1.7;
}

.about-history, .about-address, .about-tel{
	margin: 0.75rem 1rem 0;
	border-left:0.2rem solid #eeeeee;
	padding-left: 1rem;
	position: relative;
	z-index: 1;
	font-family: "华文细黑";
	font-size: 0.75rem;
	padding-bottom: 1rem;
}
.about-time-ico{
	background-position: 0 -2.5rem;
	width: 1.1rem;
	height: 1.1rem;
	position: absolute;
	left: -0.6rem;
	top: 0;
}
.dotted-line{
	background-image:url("../img/dotted-line.gif");
	width:0.2rem;
	height: 1.875rem;
	position: absolute;
	left: -0.2rem;
	bottom: 0;
}
.history-node{
	position: relative;
	padding-bottom: 0.7rem;
}
.history-node span{
	color: #ff5500;
}
.history-node .dot-ico{
	position: absolute;
	left: -1.4rem;
	top: 0.2rem;
	border-radius: 100%;
	background: #cccccc;
	border:0.15rem solid #fff;
	width:0.35rem;
	height: 0.35rem;
}
.about-address, .about-tel{
	border: 0;
	padding-bottom: 0;
}
.about-address em{
	background-position: 0 -1.2rem;
	width:0.9rem;
	height: 1.075rem;
	position: absolute;
	left: -0.4rem;
	top: 0;
}

.about-tel em{
	background-position: 0 0;
	width: 0.95rem;
	height: 0.95rem;
	position: absolute;
	left: -0.4rem;
	top: 0;
}

/**5项免费S**/
.free-service{
	line-height: 1.4;
}
.free-service h3{
	text-indent: -999rem;
	font-size: 0;
}
.free-service1{
	background-image:url("../img/free-sev1.png");
	width: 100%;
	height: 8.25rem;
	padding: 4.7rem 0 0 1.5rem;
}
.free-service1 span{
	color: #e56756;
}
.free-service2{
	background-image:url("../img/free-sev2.png");
	width: 100%;
	height: 8.0rem;
	padding: 4.3rem 0 0 7.0rem;
}
.free-service2 span{
	color: #65c7ba;
}
.free-service3{
	background-image:url("../img/free-sev3.png");
	width: 100%;
	height: 9.0rem;
	padding: 4.1rem 0 0 1.5rem;
}
.free-service3 span{
	color: #65a3c7;
}
.free-service4{
	background-image:url("../img/free-sev4.png");
	width: 100%;
	height: 8.125rem;
	padding: 3rem 0 0 7.0rem;
}
.free-service4 span{
	color: #f2ad27;
}
.free-service5{
	background-image:url("../img/free-sev5.png");
	width: 100%;
	height: 8.25rem;
	padding: 3.6rem 0 0 1.5rem;
}
.free-service5 span{
	color: #ab774e;
}
.free-service + .regform{
	background: transparent;
	padding: 0;
}
.free-service + .regform h3{
	background-image:url("../img/free-sev-otlt.png");
	width: 100%;
	height: 3.5rem;
	text-indent: -999rem;
}
.free-service + .regform form{
	padding-left: 0.8rem;
}
.free-service + .regform .tel{
	padding-top: 0.5rem;
	color: #999999;
	text-align: center;
}
.free-service + .regform .tel a{
	color: #999999;
}

/**体验馆开业介绍页S**/
.tyg-open{}
.tyg-open-banner{
	background-image:url("../img/tyg-open-banner.jpg");
	width: 100%;
	height: 7.75rem;
	position: relative;
}
.tyg-open-banner h2{
	text-indent: -999rem;
}
.tyg-open-banner h3{
	position: absolute;
	bottom:-4rem;
	right: 0.5rem;
	width: 12rem;
	line-height: 1.3;
	color: #ffffff;
}
.tyg-open-order{
	background-image:url("../img/tyg-open-bg01.png");
	width: 100%;
	height: 21rem;
	padding-top: 5.57rem;
}
.tyg-open-order .regform.topic-guar-form{
	background: none;
}
.tyg-open-order h3{
	height: 0;
	text-indent: -999rem;
}
.tyg-open-order h4{
	font-size: 0.5rem;
	text-align: center;
	color: #fff;
	padding-top: 0.4rem;
}
.tyg-open-order .regform .btn{
	background:#f2a000;
	margin-top: 0.5rem;
}
.tyg-open .share-ad{
	margin: 0.8rem auto 0;
	display: block;
	width: 15rem;
	height: 6.5rem;
}
.tyg-open .share-ad img{
	width: 15rem;
	height: 6.5rem;
}
.tyg-open-mod{
	width: 15.5rem;
	margin: 0 auto;
}
.tyg-open-mod .t-tlt{
	margin: 1.5rem auto 0;
	border-top: 1px solid #bb3315;
	position: relative;
}
.tyg-open .t-tlt h3{
	background: #fff;
	padding: 0 0.2rem;
	font-size: 0.9rem;
	font-weight: bold;
	color: #bb3315;
	position: absolute;
	left: 50%;
	top: -0.7rem;
	margin-left: -2.5rem;
}
.tyg-open-mod .t-tlt:before, .tyg-open-mod .t-tlt:after{
	content: "";
	position: absolute;
	top: -0.15rem;
	width: 0.25rem;
	height: 0.25rem;
	border-radius: 100%;
	background: #bb3315;
}
.tyg-open-mod .t-tlt:before{
	left:0;
}
.tyg-open-mod .t-tlt:after{
	right:0;
}
.tyg-open-photo{
	margin: 1rem auto 0;
	background-image: url("../img/tyg_photo.jpg?v20151230");
	width: 15.5rem;
	height: 17.875rem;
}
.tyg-open-map{
	display: block;
	margin: 1rem auto 0;
	background-image: url("../img/tyg_map.jpg");
	width: 15rem;
	height: 9.25rem;
}

.tyg-open-contact {
	padding: 0 0.5rem;
}
.tyg-open-contact dt {
	font-weight: bold;
	padding: 0.5rem 0;
}
.tyg-open-contact dd {
	padding-bottom: 0.2rem;
	padding-left: 0.85rem;
	position: relative;
}
.tyg-open-contact .tyg-ico {
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.2rem;
	position: absolute;
	left: 0;
	top: 0.1rem;
}
.tyg-open-contact .share-adress {
	background-position: 0 0;
	width: 0.6rem;
	height: 0.85rem;
	left: 0.05rem;
}
.tyg-open-contact .share-hotline {
	background-position: 0 -1.1rem;
	width: 0.725rem;
	height: 0.725rem;
}

.tyg-open .copyright{
	background-color:#bb3315;
	background-image: url("../img/tyg-open-bg02.png");
	background-repeat: no-repeat;
	background-size: contain;
	color: #ffffff;
	padding-top: 3rem;
	margin-top: 0.5rem;
}
.tyg-open .copyright a{
	color: #ffffff;
}
.tyg-open .media-cut .pc{
	background-position: 0 -2.075rem;
}
.tyg-open .media-cut .about{
	background-position: 0 -2.925rem;
}
/**体验馆开业E**/

/**套餐S**/
.sztc .sztc-banner{
	background-image: url("../img/sztc_banner.jpg?v20160324");
	height: 6.5rem;
	text-indent: -9999px;
}
.sztc .sztc-tip{
	padding: 0.5rem 0.75rem 0;
}
.space-config .swiper-container{
	padding: 0.5rem 0;
	margin-top: 0.5rem;
	background: #eeeeee;
}
.space-pagination{
	margin: 0 auto;
	width: 8rem;
	height: 2rem;
}
.space-config .swiper-pagination-bullet{
	float: left;
	text-align: center;
	width: 0.4rem;
	height: 2rem;
	margin: 0 0.2rem;
	background: transparent;
	opacity: 1;
	font-size: 0.75rem;
}
.space-config .swiper-pagination-bullet p{
	height: 1.2rem;
	opacity: 0;
}
.space-config .swiper-pagination-bullet em{
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	width: 0.4rem;
	height: 0.4rem;
	background:#cccccc;
}
.space-config .swiper-pagination-bullet-active{
	color: #ff5500;
	width: 2.5rem;
}
.space-config .swiper-pagination-bullet-active p{
	opacity: 1;
}
.space-config .swiper-pagination-bullet-active em{
	background:#e95520;
}
.config-table{
	width: 100%;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.config-table td, .config-table th{
	text-align: center;
	height: 1.5rem;
	line-height: 1;
}
.config-table tr th:nth-child(1){
	border-left:1px solid #cccccc;
}
.config-table tr th:nth-child(2){
	border-right: 1px solid #cccccc;
}
.config-table tr td:nth-child(1){
	border-left: 1px solid #cccccc;
}
.config-table tr td:nth-child(2){
	border-right: 1px solid #cccccc;
}
.config-table td{
	border:1px solid #eeeeee;
	border-width: 1px 1px 0 0;
}
.config-table th{
	color: #57c7be;
	background: #e8fefc;
}
.config-table td{
	background: #ffffff;
}
.sztc-brand{
	position: relative;
	height: 18.15rem;
	margin-left: 0.75rem;
	margin-top: 0.75rem;
}
.sztc-brand-center{
	background-image: url("../img/sztc_brand2.jpg");
	width: 14.5rem;
	height: 9.05rem;
	background-size: cover;
	position: absolute;
	top: 4.55rem;
	left: 0;
}
.sztc-brand:before{
	content: "";
	background-image: url("../img/sztc_brand1.jpg");
	width: 14.5rem;
	height: 4.55rem;
	position: absolute;
	left: 0;
	top:0;
	background-size: cover;
}
.sztc-brand:after{
	content: "";
	background-image: url("../img/sztc_brand3.jpg");
	width: 14.5rem;
	height: 4.55rem;
	position: absolute;
	left: 0;
	bottom:0;
	background-size: cover;
}
.svc-intro{
	font-weight: bold;
	position: relative;
	padding-left: 3.2rem;
	margin-left: 0.75rem;
	margin-top: 0.5rem;
	margin-bottom: -0.2rem;
}
.svc-intro em{
	position: absolute;
	left: 0;
	top: 0;
	width: 3.2rem;
	white-space:nowrap;
}
.svc-intro span{
	display: block;
	font-weight: normal;
}
/**套餐E**/

/**免费设计推广页S**/
.free-design .topic-banner .banner-bg{
	background-image:url("../img/topic-banner1-2.png");
}
.free-design .flow-chart .flow1{background-image: url("../img/regpic1.png?v20150924"); width: 100%; height: 13rem;}
.free-design .flow-chart .flow2{background-image: url("../img/regpic2.png?v20150924"); width: 100%; height: 16.5rem;}
.free-design .flow-chart .flow3{background-image: url("../img/regpic3.png?v20150924"); width: 100%; height: 15rem;}
.free-design .flow-chart .flow4{background-image: url("../img/regpic4.png?v20150924"); width: 100%; height: 17rem;}
.limit-tip{
	padding-top: 0.4rem;
	color: #e95520;
}
.free-design .flow-chart .flow3{
	background-image: url("../img/regpic3-1.png");
}
/**预约弹层S**/
.ac-order-layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background: rgba(255, 255, 255, 0.4);
}

.ac-order-tip {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -4rem;
  margin-left: -5rem;
  width: 9rem;
  height: 5rem;
  padding: 1rem 0.5rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  display: table;
}

.ac-order-tip div {
  display: table-cell;
  vertical-align: middle;
}

.close-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-image: url("../img/tiyanguan/tyg_h5.png");
  background-repeat: no-repeat;
  background-size: 14.5rem 20.375rem;
  background-position: -9.2rem -2.7rem;
  width: 1.1rem;
  height: 1.1rem;
  text-indent: -999rem;
}
