@charset "utf-8";

html {
	color:#333333;background:#fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}
body,button,input,select,textarea {
	font:0.6rem Helvetica,tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53;
}
input,select,textarea {
	font-size:100%;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	border: 0;
}
input{border: 0;background:none;}
input[type="submit"]{cursor: pointer;}
table {
	border-collapse:collapse;border-spacing:0;
}
th {
	text-align:inherit;
}
img {
	border:0;
}
del {
	text-decoration:line-through;
}
i,em{font-style: normal;}
ol,ul {
	list-style:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
}
/*a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0); 去掉a、input和button点击时的蓝色外边框和灰色半透明背景
}*/
/*a, img {
    -webkit-touch-callout: none; 禁止长按链接与图片弹出菜单
}*/
a, a:visited{
	color: #333333;
	text-decoration:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);/**去除active背景**/
}
a:hover, a:active, a.active {
	color: #e95520;
	text-decoration: none;
}
#_submit, ._submit{
	cursor: pointer;
}
.orgfont{color: #ff5500}
.cf:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cf{zoom:1;display:block}
.none{
	display:none;
}
.hidden{
	visibility:hidden;
}

.t-over {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ac-end-gray{
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    cursor: default;
}
.h5-ico{background-size: contain; box-sizing: border-box; background-repeat: no-repeat; vertical-align: middle;}
.h5-bg{background-size: cover; box-sizing: border-box; background-repeat: no-repeat;background-position: center;}

.media-cut em{
	background-image: url("../img/h5-icos.png?v20160201");
	background-repeat: no-repeat;
	background-size: 0.75rem 15rem;
}
.backico, .category-trigger{
	background-image: url("../img/h5-icos2.png?v20151112");
	background-repeat: no-repeat;
	background-size: 1.25rem 15rem;
}

.nav-icolist li em, .gotop a{
	background-image: url("../img/nav-icos.png?v20160127");
	background-repeat: no-repeat;
	background-size: 11rem 14.0rem;
}

.app-wrap{max-width: 540px; margin: 0 auto;background: #ffffff;}
@media only screen and (min-width:639px){
	html{font-size: 33.75px !important;}
}
.tlt{ height: 0.9rem;line-height: 0.9rem;margin-top: 1rem;border-left: 0.15rem solid #57c7be;}
.tlt h2{padding-left: 0.6rem;font-size: 0.9rem;}
.tlt h3{padding-left: 0.6rem;font-size: 0.7rem;}
.cont{padding: 0 0.6rem;}
a.btn, .btn{display: inline-block; margin-top: 0.5rem; width: 14.5rem; border:0.05rem solid #cccccc;border-radius: 40px; height: 1.9rem;line-height: 1.9rem; text-align: center;color: #e95520;font-size: 0.75rem;}
a:hover.btn{border-color: #e95520;}
.font-arrow{padding-left: 0.3rem;font-family: simsun;font-weight: bold;font-size: 0.5rem; vertical-align: middle;}
a.litbtn, .litbtn{width: 5rem;}
a.layout-btn, .layout-btn{
	display: block;
	margin: 0.5rem auto 0;
}
.cutline{margin: 1rem 0; border-top: 0.05rem solid #cccccc;border-bottom: 0.05rem solid #cccccc; background-color: #eeeeee;height: 0.35rem;font-size: 0;}

.nav-icolist{margin-top: 0.75rem}
.nav-icolist li{float: left;width: 2.6rem; margin: 0 0.7rem; display: inline;}
.nav-icolist li em{display: block;width: 2.55rem; height: 2.55rem;}
.nav-icolist li p{height: 1.5rem;line-height: 1.5rem; font-size: 0.6rem; text-align: center;}
.nav-ico1 em{background-position: -2.75rem 0;}
.nav-ico2 em{background-position: -5.5rem 0;}
.nav-ico3 em{background-position: -8.25rem 0;}
.nav-ico4 em{background-position: 0 -2.75rem;}
.nav-ico5 em{background-position: -2.75rem -2.75rem;}
.nav-ico6 em{background-position: -5.5rem -2.75rem;}
.nav-ico7 em{background-position: -8.25rem -2.75rem;}
.nav-ico8 em{background-position: 0 -5.5rem;}
.nav-ico9 em{background-position: 0 0;}
.nav-ico10 em{background-position: 0 -10.75rem;}

.page{margin-top: 0.75rem; height: 2.1rem;}
.page .noclick{color: #999999; cursor: default;}
.page .btn{margin-top: 0;}
.page a:hover.noclick{border-color:#cccccc;}
.page-num{display: inline-block; width: 4rem; text-align: center; color: #999999;font-size: 0.75rem;}
.page-num em{font-size: 1rem;}

.loading{position: relative; height: 1rem;margin: 0.75rem;z-index: 1;}
.loading .line{width: 100%; height: 0.025rem;font-size: 0;border-top: 0.05rem solid #eee;position: absolute;left: 0;top: 50%;z-index: 1}
.loading .load{position: absolute;left: 50%;top: 0;z-index: 2; background-color: #fff;padding:0 0.5rem;margin-left:-2.75rem;}
.rotate-360{display: inline-block; margin-right: 0.5rem; width:1rem;height: 1rem; background-image:url("../img/loading.png"); -webkit-animation:rotate360 .6s ease infinite;animation:rotate360 .6s ease infinite;}

.circle{border: 2px solid #29a59b;display: inline-block;width: 0.4rem;height: 0.4rem;background: transparent;border-radius: 50%; margin-right: 0.25rem; vertical-align: middle;}
.spot{display: inline-block;border-radius: 50%;background-color: #28a49a;width: 0.1rem;height: 0.1rem; vertical-align: middle;margin-left: 0.12rem;}

.cir-btn{ display: inline-block;border-radius: 40px; padding: 0 0.5rem; height: 0.9rem;line-height: 0.9rem;background-color: #eeeeee;margin-right: 0.5rem;font-size: 0.5rem;color: #999999;}
.imgbox{background-repeat: no-repeat;background-position: center;background-size: cover;}
.m-header{height: 2rem; line-height: 2rem; padding: 0 2.25rem; text-align: center; position: relative;background-color: #ffffff;}
.m-header h1, .m-header h2{font-size: 0.75rem;}
.backico{position: absolute;left: 0.75rem;top: 0.5rem;background-position: 0 -7.75rem; width: 0.6rem;height: 1.05rem;cursor: pointer;text-indent: -100rem;}
.category-trigger{position: absolute;right: 0.75rem;top: 0.5rem;background-position: 0 -10.25rem; width: 1.1rem;height: 0.95rem;text-indent: -100rem;}

.layer-nav{
	background-color:rgba(255,255,255,0.9);
	background-size: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	display: none;
}
.layer-nav .nav-icolist{
	margin-top: 3rem;
}
.layer-nav .nav-icolist li{
	margin: 1rem 0 0 2rem;
}
.copyright{ text-align: center;margin: 0 auto;padding: 2rem 1rem; color: #999999;}
.copyright a{color: #999999;}
.copyright a:hover{color: #ff5500;}
.media-cut span, .media-cut a{display: inline-block;width: 3rem;height: 1rem; padding:0 0.5rem;}
.media-cut em{display: inline-block;width: 0.75rem;height: 0.65rem;margin-right: 0.2rem;}
.media-cut .line{width: 0.075rem; text-align: center;}
.media-cut .touch-cut{color: #e95520;}
.media-cut .touch{background-position: 0 -5.5rem;}
.media-cut .pc{
	background-position: 0 -3.75rem;
}
.media-cut a:hover.pccut .pc{background-position: 0 -4.625rem;}
.media-cut .about-us{
	width: 4rem;
}
.media-cut .about{
	background-position: 0 -5.5rem;
}
.media-cut a:hover.about-us .about{
	background-position: 0 -6.3rem;
}
.gotop{position: fixed;right:1rem;bottom: 3rem;width: 2.3rem;height: 2.3rem;display: none;}
.gotop a{display: block; background-position: -7.625rem -8.25rem; width: 2.3rem;height: 2.3rem;}
.gotop a:hover{}

.ywj-msg-container{
	margin: 10rem 0.25rem 0!important;
	padding: 0.25rem!important;
}
.ywj-msg-container .ywj-msg-icon-tip,
.ywj-msg-container .ywj-msg-icon-info,
.ywj-msg-container .ywj-msg-icon-succ,
.ywj-msg-container .ywj-msg-icon-load,
.ywj-msg-container .ywj-msg-icon-err{display: none}
.ywj-msg-content {
  font-size: 0.6rem!important;
  padding: 0 0.25rem!important;
  height: auto!important;
}
/**活动页面上的AD S**/
.pagead{
	display: block;
	margin: 0.5rem auto 0;
	width: 15rem;
}
.pagead img{
	width: 15rem;
}
/**活动页面上的AD E**/

/**活动弹层锁住窗口S**/
.lock-scroll,
.lock-scroll body{height:100%; overflow:hidden;}
/**活动弹层锁住窗口E**/

/**开业分享弹层、与ac-order-layer相同待处理 S**/
.ac-msg-popup{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgba(255,255,255,.4);
}
.ac-popup-cont{
	width: 13.5rem;
	height: 20rem;
	padding: 1rem 0.5rem;
	background: rgba(0,0,0,.8);
	border-radius: 0.3rem;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -11rem;
	margin-left: -7.2rem;
}
.entering-msg .ac-popup-cont{
	width: 9rem;
	height: 5rem;
	text-align: center;
	line-height: 1.5;
	left: 50%;
	top: 50%;
	margin-top: -4rem;
	margin-left: -5rem;
	display: table;
}
.entering-msg .ac-popup-cont div{
	display: table-cell;
	vertical-align: middle;
}
.ac-msg-popup .close-btn{
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	width: 1.1rem;
	height: 1.1rem;
	text-indent: -999rem;
	background-image: url("../img/tiyanguan/tyg_h5.png");
	background-position: -9.2rem -2.7rem;
	background-repeat: no-repeat;
	background-size: 14.5rem 20.375rem;
}
/**开业分享弹层、与ac-order-layer相同待处理 E**/
/** tab **/
.g-tab {}
.g-tab li {float:left;}
.g-tab .active {color: #ff5500;}
.g-tab-con {clear:both;}
.g-tab-con .active {display:block;}
.g-tab-con .disactive {display:none;}
/**ratate**/
@keyframes rotate360
{
	0% {-webkit-transform: rotate(0);transform: rotate(0);}
	10% {-webkit-transform: rotate(36deg);transform: rotate(36deg);}
	20% {-webkit-transform: rotate(72deg);transform: rotate(72deg);}
	30% {-webkit-transform: rotate(108deg);transform: rotate(108deg);}
	40% {-webkit-transform: rotate(144deg);transform: rotate(144deg);}
	50% {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
	60% {-webkit-transform: rotate(216deg);transform: rotate(216deg);}
	70% {-webkit-transform: rotate(252deg);transform: rotate(252deg);}
	80% {-webkit-transform: rotate(288deg);transform: rotate(288deg);}
	90% {-webkit-transform: rotate(324deg);transform: rotate(324deg);}
	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@-webkit-keyframes rotate360
{
	0% {-webkit-transform: rotate(0);transform: rotate(0);}
	10% {-webkit-transform: rotate(36deg);transform: rotate(36deg);}
	20% {-webkit-transform: rotate(72deg);transform: rotate(72deg);}
	30% {-webkit-transform: rotate(108deg);transform: rotate(108deg);}
	40% {-webkit-transform: rotate(144deg);transform: rotate(144deg);}
	50% {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
	60% {-webkit-transform: rotate(216deg);transform: rotate(216deg);}
	70% {-webkit-transform: rotate(252deg);transform: rotate(252deg);}
	80% {-webkit-transform: rotate(288deg);transform: rotate(288deg);}
	90% {-webkit-transform: rotate(324deg);transform: rotate(324deg);}
	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

/**scale 3**/
@keyframes scale-three {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	15% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	30% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	45% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	60% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-webkit-keyframes scale-three {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	15% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	30% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	45% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	60% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
/**jump**/
@keyframes jump {
	0% {
		transform: translate3d(0, 0,0);
		-webkit-transform: translate3d(0, 0,0);
	}
	10% {
		transform: translate3d(0, 10%,0);
		-webkit-transform: translate3d(0, 10%,0);
	}
	20% {
		transform: translate3d(0, 0,0);
		-webkit-transform: translate3d(0, 0,0);
	}
	30% {
		transform: translate3d(0, 10%,0);
		-webkit-transform: translate3d(0, 10%,0);
	}
	40% {
		transform: translate3d(0, 0,0);
		-webkit-transform: translate3d(0, 0,0);
	}
	100% {
		transform: translate3d(0, 0,0);
		-webkit-transform: translate3d(0, 0,0);
	}
}
@-webkit-keyframes jump {
	0% {
		transform: translate3d(0, 0,0);
		-webkit-transform: translate3d(0, 0,0);
	}
	10% {
		transform: translate3d(0, 10%,0);
		-webkit-transform: translate3d(0, 10%,0);
	}
	20% {
		transform: translate3d(0, 0,0);
		-webkit-transform: translate3d(0, 0,0);
	}
	30% {
		transform: translate3d(0, 10%,0);
		-webkit-transform: translate3d(0, 10%,0);
	}
	40% {
		transform: translate3d(0, 0,0);
		-webkit-transform: translate3d(0, 0,0);
	}
	100% {
		transform: translate3d(0, 0,0);
		-webkit-transform: translate3d(0, 0,0);
	}
}
