@charset "UTF-8";

em, span{
	font-weight: normal;
}
.r-ph-ico, .finish-ico, .online-tel em, .no-cirle-btn .n-arrow{
	background: url("../img/h5-icos.png?v20160201") no-repeat;
	background-size: 0.75rem 15.0rem;
}
.ua-case-mod{
	border-top:0.5rem solid #efeff4;
}
.ua-case-mod .tlt{
	height: 0.75rem;
	line-height: 0.75rem;
	border-left-color: #ff5500;
	color: #404046;
	margin-left: 0.5rem;
	font-size: 0.8rem;
}
.ua-case-mod .tlt h2{
	padding-left: 0.3rem;
	font-size: 0.8rem;
}
a.no-cirle-btn, .no-cirle-btn{
	display: block;
	margin: 0.5rem auto;
	width: 15rem;
	border: 1px solid #f0f0f6;
	height: 1.9rem;
	line-height: 1.9rem;
	text-align: center;
	font-size: 0.75rem;
	color: #ff5500;
}
a.no-cirle-btn .n-arrow, .no-cirle-btn .n-arrow{
	display: inline-block;
	width: 0.3rem;
	height: 0.525rem;
	margin-left: 0.3rem;
	background-position: -0.475rem -8.09rem;
}
/**装修进度S**/
.ua-plan-sd{
	box-shadow: 0 0.15rem 0.15rem #f4f4f4;
	position: relative;
	height: 2.9rem;
	padding-top: 0.6rem;
	background: url("../img/userapp/ua_linebg.png") no-repeat center;
	background-size: 12.3rem 0.3rem;
	color: #808085;
}
.ua-plan-sd li{
	float: left;
	width: 4.0rem;
	text-align: center;
	position: relative;
}
.ua-plan-sd li h3{
	padding-top: 0.75rem;
}
.ua-plan-sd li em{
	border-radius: 100%;
	background-color: #ffffff;
	border: 0.075rem solid #ff5500;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0.25rem;
	height: 0.25rem;
	margin: -0.35rem 0 0 -0.025rem;
	z-index: 3;
	display: none;
}
.ua-plan-sd li .ua-circle-gray{
	border-color: #c1c1c7;
}
.ua-plan-sd li .ua-circle-db{
	width: 0.5rem;
	height: 0.5rem;
	border-width: 0.125rem;
	margin: -0.5rem 0 0 -0.5rem;
}
.ua-plan-sd li .ua-circle-db em{
	border:0;
	width: 0.25rem;
	height: 0.25rem;
	background-color: #ff5500;
	margin: -0.15rem 0 0 -0.135rem;
}
.ua-flow-data{
	margin: 0.5rem;
}
.ua-flow-data .dayth span{
	color: #40c1ac;
	font-size: 0.9rem;
}
.ua-flow-data .flow-cont{
	margin-top: 0.5rem;
	border:1px solid #f0f0f6;
	background-color: #fbfbfb;
	padding: 0.5rem;
	position: relative;
}
.ua-flow-data h4{
	font-size: 0.8rem;
	padding-bottom: 0.25rem;
}
.ua-flow-data .introduction{
	color: #606066;
}
.ua-flow-data .imgs{
	padding-top: 0.375rem;
	height: 4.3rem;
	overflow:hidden;
}
.ua-flow-data .imgs li{
	float: left;
	width: 4.3rem;
	height: 4.3rem;
	margin: 0 0.16rem;
	overflow:hidden;
	background-position: center;
	background-size: cover;
}
.ua-flow-data .imgs li .imgbox{
	width: 4.3rem;
	height: 4.3rem;
}
.ua-flow-data .big-img{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,1);
	z-index: 15;
}
.ua-flow-data .big-img img{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: auto;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	z-index: 11;
}
.ua-flow-data .big-img .close{
	position: absolute;
	top: 0.1rem;
	right: 0.1rem;
	color: #ffffff;
	font-size: 0.8rem;
	background-color: rgba(0,0,0,0.8);
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	border-radius: 100%;
	z-index: 11;
	cursor: pointer;
}

.flow-cont .arrow{
	position: absolute;
	top: -8px;
	left: 30px;
	width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #f0f0f6;
}
.flow-cont .arrow em{
	position: absolute;
	top: 1px;
	left: -5px;
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #ffffff;
}
/**装修进度E**/

/**在线咨询S**/
.ua-online-bg{
	background: url("../img/userapp/pgbg.jpg") repeat;
	padding-top: 0.5rem;
}
.ua-online{
	background: url("../img/userapp/ua_onlinebg1.jpg") no-repeat center bottom;
	background-size: 16.0rem 6.875rem;
	padding-bottom: 5.625rem;
}
.consult-box{
	width: 15.0rem;
	padding: 0.8rem 0;
	margin: 0.5rem auto 0;
	background: #fff;
	text-align: center;
	line-height: 1.5;
	position:relative;
}
.consult-box .weixin{
	margin-top: 2.0rem;
	width: 4.0rem;
}
.consult-box:before, .consult-box:after{
	background: url("../img/userapp/ua_onlinebg2.png") no-repeat;
	background-size: 15.0rem 1.425rem;
}
.consult-box:before{
	content: "";
	position: absolute;
	top: 4.0rem;
	left: 0;
	width: 15.0rem;
	height: 0.925rem;
	background-position: 0 0;
}
.consult-box:after{
	content: "";
	position: absolute;
	bottom: -0.25rem;
	left: 0.1rem;
	width: 15.0rem;
	height: 0.25rem;
	background-position: 0 -1.175rem;
}
.consult-box h3{
	font-size: 1.0rem;
}
.consult-box .tip{
	color: #b4b4ba;
	font-size: 0.6rem;
}

.online-tel{
	margin: 2.25rem auto 0;
	width: 5.25rem;
	display: block;
	position: relative;
	padding-left: 1.25rem;
	font-size: 0.7rem;
}
.online-tel em{
	position: absolute;
	left: 0.375rem;
	top: 0.125rem;
	background-position: 0 -12.55rem;
	width:0.8rem;
	height: 0.85rem;
}
.wxtip{
	color: #b4b4ba;
}
/**在线咨询E**/
/**装修案例S**/
.ua-case-photo{
	width: 16.0rem;
	height: 8.5rem;
	color: #ffffff;
	position: relative;
	z-index: 1;
}
.case-main-photo{
	position: absolute;
	left: 0;
	top: 0;
	width: 16rem;
	height: 8.5rem;
	z-index: 1;
	overflow: hidden;
	background-position: center;
	background-size: cover;
}
.case-main-photo:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6.0rem;
	background-image:-webkit-linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0));
	background-image:linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0));
}
.ua-case-photo .case-owner-photo{
	position: absolute;
	left: 50%;
	top: 4.3rem;
	width: 1.6rem;
	height: 1.6rem;
	margin-left: -0.8rem;
	z-index: 2;
	border-radius: 100%;
}
.room-photo-btn{
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	border-radius: 0.5rem;
	background: rgba(0,0,0,0.2);
	width: 2.75rem;
	height: 1rem;
	line-height: 1rem;
	cursor: pointer;
	z-index: 2;
	text-align: center;
}
.ua-case-photo .owner{
	position: absolute;
	left: 50%;
	top: 6.0rem;
	height: 1.2rem;
	line-height: 1.2rem;
	margin-left: -1.125rem;
	font-size: 0.9rem;
	z-index: 2;
}
.ua-case-photo .room-msg{
	position: absolute;
	left: 0;
	top: 7.2rem;
	width: 16rem;
	z-index: 2;
	text-align: center;
}
.r-ph-ico, .finish-ico{
	background-position: 0 -13.325rem;
}
.r-ph-ico{
	display: inline-block;
	width: 0.63rem;
	height: 0.6rem;
	margin-right: 0.125rem;
	margin-bottom: 0.1rem;
	vertical-align: middle;
}
.show-room-photo{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,1);
	z-index: 15;
	visibility: hidden;
}
.show-room-photo .swiper-container-cs, .show-room-photo .swiper-wrapper{
	width: 100%;
	height: 100%;
}
.swiper-container-horizontal>.swiper-scrollbar{
	border-radius: 0;
	height: 1px;
	background: rgba(255,255,255,.8);
	bottom: 4rem;
}
.swiper-scrollbar-drag {
  background: rgba(255,85,0,.8);
}
.picnums{
	position: absolute;
	bottom: 2.8rem;
	right: 1rem;
	color: #fff;
	font-size: 0.5rem;
	z-index: 10;
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.community-name{
	position: absolute;
	bottom: 2.8rem;
	left: 0.5rem;
	color: #fff;
	font-size: 0.75rem;
	z-index: 11;
}
.picnums .itemindex {
  font-size: 0.9rem;
}
.show-room-photo img{
	width: 100%;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10;
}
.show-room-photo .close{
	position: absolute;
	top: 0.1rem;
	right: 0.1rem;
	color: #ffffff;
	font-size: 0.8rem;
	background-color: rgba(0,0,0,0.8);
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	border-radius: 100%;
	z-index: 11;
	cursor: pointer;
}
.ua-case-about{
	height: auto;
	padding: 0.8rem 1rem 0;
	background: url("../img/userapp/case_bg2.jpg") no-repeat center bottom;
	background-size: contain;
	border-bottom: 1px solid #f0f0f6;
}
.ua-case-about .pj{
	padding-bottom: 1rem;
	font-size: 0.65rem;
	line-height: 1.3;
}
.ua-case-about img, .ua-case-about span{
	display: inline-block;
}
.ua-case-about img{
	width: 1.6rem;
	height: 1.6rem;
	vertical-align: middle;
	margin-bottom: 0.7rem;
	border-radius: 100%;
}
.ua-case-about span{
	padding-right: 0.8rem;
}
.ua-case-about span:nth-of-type(3){
	padding-right: 0;
}
.ua-case-about span i{
	font-size: 0.5rem;
}

.ua-jz-price{
	padding: 0.75rem 0.5rem 0.3rem;
	line-height: 1;
}
.ua-jz-price .price-num{
	float: left;
	font-size: 1.2rem;
	color: #ff5500;
}
.price-tag{
	float: left;
	background: url("../img/userapp/tagbg.png") no-repeat;
	background-size: contain;
	width: 2.125rem;
	height: 0.95rem;
	padding-left: 0.5rem;
	line-height: 0.95rem;
	color: #ffffff;
	margin-top: 0.1rem;
}
.ua-jz-price .tip{
	float: right;
	color: #808086;
	margin-top: 0.25rem;
}
.ua-ct-price, .ua-gjj-price{
	float: left;
	width: 5.95rem;
	height: 5.75rem;
	padding: 0.625rem 0.6rem 0.625rem 0.7rem;
	color: #b37256;
	background-color: #fffcf3;
	background-image: url("../img/userapp/dot_bg.png");
	background-repeat: no-repeat;
	background-size: 0.5rem 6.75rem;
	background-position: left center;
	border:1px solid #f2eee0;
}
.ua-ct-price{
	margin-left: 0.5rem;
}
.ua-gjj-price{
	float: right;
	margin-right: 0.5rem;
}
.ua-ct-price h3, .ua-gjj-price h3{
	text-align: center;
	padding-bottom: 0.5rem;
}
.ua-ct-price h3 em, .ua-gjj-price h3 em{
	font-size: 0.8rem;
	color: #ff5500;
}
.ua-ct-price .item-price:nth-last-child(1), .ua-gjj-price .item-price:nth-last-child(1){
	border-top: 1px solid #b48979;
	margin-top: 0.125rem;
}
.ua-ct-price .item-price span, .ua-gjj-price .item-price span{
	display: inline-block;
	text-align:right;
}
.ua-ct-price .item-price .item-l, .ua-gjj-price .item-price .item-l{
	width: 2.5rem;
}
.ua-ct-price .item-price .item-r, .ua-gjj-price .item-price .item-r{
	width: 3.25rem;
}
.ua-gjj-price h4{
	background: #f3e8de;
	margin-left: 0.5rem;
	text-align: center;
	margin-bottom: 0.7rem;
}
.ua-case-freebg{
	margin-top: 0.75rem;
	background: url("../img/userapp/ua_case_bg.png") no-repeat;
	background-size: cover;
	width: 16.0rem;
	height: 3.5rem;
	text-indent: -999rem;
}
.material-tab{
	padding-top: 7.75rem;
	overflow: hidden;
}
.material-tab .space-pagination{
	width: 15rem;
	height: 1.5rem;
	margin-left: 0.5rem;
}
.material-tab .swiper-pagination-bullet{
	width: 2.7rem;
	height: 1rem;
	padding-left: 0.25rem;
	opacity: 1;
	background: transparent;
	position: relative;
	border-right:1px solid #f0f0f6;
	border-radius: 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.material-tab .swiper-pagination-bullet:last-child{
	border-right: 0;
}
.material-tab .swiper-pagination-bullet span{
	display: inline-block;
	width: 2.5rem;
	height: 1rem;
	line-height: 1rem;
	border-radius: 0.125rem;
	background: #ffffff;
	text-align: center;
	color: #808086;
	font-size: 0.65rem;
}
.material-tab .swiper-pagination-bullet-active span{
	background: #ff5500;
	color: #ffffff;
	padding: 0;
}
.material-tab .swiper-pagination-bullet-active em{
	position: absolute;
	bottom: -0.2rem;
	left: 1.2rem;
	width: 0;
    height: 0;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-top: 0.3rem solid #ff5500;
}
.material-tab .swiper-wrapper .swiper-slide{
	position: relative;
	box-shadow: inset 0 0.15rem 0.15rem #f4f4f4;
}
.material-tab .swiper-wrapper .swiper-slide .tc-item:last-child{
	border-bottom: 0;
}
.material-tab .room-img{
	width: 16rem;
	height: 6.5rem;
	position: absolute;
	top: -8.5rem;
	left: 0;
	overflow:hidden;
	background-position: center;
	background-size: cover;
}
.tc-item{
	margin: 0 0 0 0.5rem;
	padding: 0.5rem 1rem 0.5rem 3.25rem;
	min-height: 2.5rem;
	border-bottom: 1px solid #f0f0f6;
	position: relative;
}
.tc-item img{
	position: absolute;
	left: 0;
	width: 2.5rem;
	height: auto;
	top: 50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.tc-item h3{
	font-size: 0.7rem;
	line-height: 1.2;
}
.tc-item .tip{
	color: #a0a0a8;
}
.bdft{
	color: #40c1ac;
}
.tc-item .amount{
	position: absolute;
	right: 0;
	top: 50%;
	color: #606066;
	font-size: 0.55rem;
	text-align: center;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.ua-case-report{
	border:1px solid #f0f0f6;
	margin: 0.75rem 0.5rem 0;
	padding: 0.375rem;
	color: #606066;
	font-size: 0.7rem;
}
a.us-case-order-btn, a.active.us-case-order-btn{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.2rem;
	line-height: 2.2rem;
	background: #ff5500;
	color: #ffffff;
	font-size: 0.9rem;
	text-align: center;
	z-index: 10;
}
.us-case-report-list{
	width: 14rem;
	margin: 0.5rem 1rem 0;
}
.us-case-report-list tr:nth-of-type(5) td{
	border-bottom: 0;
}
.us-case-report-list td{
	line-height: 1.5rem;
	border-bottom: 1px dotted #c8c8ce;
	font-size: 0.7rem;
}
.us-case-report-list tr td:nth-of-type(3){
	width: 22%;
	text-align: right;
}
.us-case-report-list .num{
	color: #a0a0a8;
}
.zt-tip{
	color: #40c1ac;
	font-size: 0.6rem;
}
.finish-ico{
	background-position: 0 -14.125rem;
	display: inline-block;
	width: 0.6rem;
	height: 0.5rem;
	margin: 0 0.2rem 0 0;
}
/**装修案例E**/
.copyright{
	padding:1rem 1rem 3rem;
}
.lock-scroll, .lock-scroll body {
  height: 100%;
  overflow: hidden;
}
